.success {
  background-color: var(--v2-palette-success-main);
  border-color: var(--v2-palette-success-main);
  color: var(--v2-colors-pure-white);
}

.error {
  background-color: var(--v2-palette-error-darkest);
  border-color: var(--v2-palette-error-darkest);
  color: var(--v2-colors-pure-white);
  font-weight: var(--v2-font-weight-primary-semi-bold);
}
