.dataTable {
    width: 100%;
}

.roleButton {
    display: block;
}

.searchInput {
    display: block;
    padding-left: 40px;
    /*border: none;*/
}

.searchBox {
    /*border: 1px solid rgba(0,0,0,.12);*/
    background: white;
    width: 100px;
}

.statusBox {
    width: 100px;
}

.email {
    display: block;
}
