.roleButton {
  display: block;
}

.searchInput {
  display: block;
  padding-left: 40px;
  width: 100%
}

.searchBox {
  background: white;
  max-width: 150px;
}

.email {
  display: block;
}

.dataTable {
  white-space: normal;
}
