.root {
  color: var(--palette-warm-gray-900);
  box-sizing: border-box;
}

.container {
  padding-top: 9px;
  padding-bottom: 7px;
}

.authorContainer {
  margin-bottom: calc(0.5 * var(--mini-unit));
  min-height: 25px;
}

.body {
  color: var(--palette-warm-gray-900);
  line-height: 130%;
  font-weight: var(--font-weight-primary-regular);
  font-size: var(--font-size-3);
}

.contentContainer {
  margin-bottom: calc(1.5 * var(--mini-unit)) !important;
}

.replies,
.gotoConversation {
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: var(--font-weight-primary-semi-bold);
  font-size: var(--font-size-2);
  line-height: 1;

  color: var(--palette-text-100);

  padding-right: var(--spacing-3);
}

.gotoArrow {
  display: inline-block;
  text-decoration: none;
  margin-left: var(--spacing-1);
}

.replies {
  color: var(--palette-text-100);
}

.icon {
  margin-right: var(--spacing-1);
}

.username {
  font-size: var(--font-size-4);
  margin-right: var(--spacing-2);
  line-height: 1;
}
