$divider-border-color: var(--v2-colors-grey-300);

.root {
  border-top: 0;
  border-bottom: 1px solid $divider-border-color;
  padding: 0;
}

.spacing1 {
  margin: var(--v2-spacing-1) 0;
}

.spacing2 {
  margin: var(--v2-spacing-2) 0;
}

.spacing3 {
  margin: var(--v2-spacing-3) 0;
}

.spacing4 {
  margin: var(--v2-spacing-4) 0;
}
