/* Here we add global stylings for body and document */
:global {
  body {
    margin: 0;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    background-color: #f2f2f2;
    color: #3b4a53;
  }
}

.root {
  width: 100%;
  box-sizing: border-box;
}

.container {
  padding: var(--spacing-unit) var(--spacing-unit) calc(2 * var(--spacing-unit))
    var(--spacing-unit);
  width: 1080px;
  margin: 0 auto;
}
