.root {
  padding: calc(4 * var(--spacing-unit)) 0;
}

.headline {
  font-size: 1.2rem;
}

.headlineMain {
  font-weight: bold;
  font-size: 1.5rem;
}

.subHeadline {
  font-size: 1.5rem;
}

.subHeadlineMain {
  font-size: 2rem;
}
