<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script class="coral-script" src="{{ countScriptURL }}" type="text/javascript" defer></script>
  </head>
  <body>
    <h2>Port: {{ port }}</h2>

    {% if ssoEnabled %}
    <div class="section">
      <a href="/ssotoken">Create SSO Token</a>
    </div>
    {% endif %}

    <div>Coral URL: <a href="{{ coralURL }}">{{ coralURL }}</a></div>

    <h3>Stories:</h3>
      {% for story in stories %}
        <div class="item">
          <div>
            <a href="{{ story.url }}">{{ story.name }}</a>
          </div>
          <div>ID: {{ story.id }}</div>
          <div>Mode: {{ story.mode }}</div>
          <div>
            <span class="coral-count" data-coral-url="{{ story.url }}" data-coral-id="{{ story.id }}"></span>
          </div>
        </div>
      {% else %}
        <div>No stories found</div>
      {% endfor %}
  </body>
</html>
