<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/ssouser.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h2>New SSO Token w/ User</h2>
    <div class="section"><b>Secret:</b> {{ secret }}</div>
    <div class="section">
      <div>
        <b>Token:</b>
      </div>
      <textarea class="tokenTextArea" readonly>
        {{ token }}
      </textarea>
    </div>
    <div>
      <b>Payload:</b>
    </div>
    <div class="section">
      <pre><code>{{ tokenPayload }}</code></pre>
    </div>
    <div class="section">
      <div>
        <b>iat:</b> {{ iat }}
      </div>
      <div>
        <b>exp:</b> {{ exp }}
      </div>
    </div>
  </body>
</html>
