<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/story.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script class="coral-script" src="{{ coralURL }}/assets/js/count.js" defer></script>
    {%if section %}
      <meta data-rh="true" property="article:section" content="{{ section }}" />
    {% endif %}
  </head>
  <body>
    <h2>Story: {{ storyID }}</h2>
    <div>Story URL: <a href="{{ url }}">{{ url }}</a></div>
    <div class="section">Coral URL: <a href="{{ coralURL }}">{{ coralURL }}</a></div>
    {%if ssoEnabled %}
    <div>Current SSO User: {{ ssoUser.username }} ({{ ssoUser.email }})</div>
    <div class="section">
      <div>Current SSO Token:</div>
      <textarea class="tokenTextArea" readonly>
        {{ accessToken }}
      </textarea>
    </div>
    <div class="section">
      <div>Switch SSO User:</div>
      {% for user in ssoUsers %}
        <a href="{{ url }}?userID={{ user.id }}">[ {{ user.username }} ]</a>
      {% else %}
        <div>No SSO users available</div>
      {% endfor %}
    </div>
    {% endif %}
    <div></div>
    <br/>
    <span class="coral-count" data-coral-url="{{ url }}"></span>
    <br/><br/>
    <div id="coral_thread"></div>
    <script type="text/javascript">
      (function() {
          var d = document, s = d.createElement("script");
          s.src = "{{ coralSrcURL }}";
          s.async = false;
          s.defer = true;
          s.onload = function() {
              Coral.createStreamEmbed({
                  id: "coral_thread",
                  autoRender: true,
                  {% if ssoEnabled %}
                  accessToken: "{{ accessToken }}",
                  {% endif %}
                  rootURL: "{{ coralURL }}",
                  storyID: "{{ storyID }}",
                  storyURL: "{{ url }}",
                  storyMode: "{{ storyMode }}",
                  {% if customCSSURL %}
                  customCSSURL: "{{ customCSSURL }}",
                  {% endif %}
                  {% if customFontsCSSURL %}
                  customFontsCSSURL: "{{ customFontsCSSURL }}",
                  {% endif %}
                  {% if containerClassName %}
                  containerClassName: "{{ containerClassName }}",
                  {% endif %}
              });
          };
          (d.head || d.body).appendChild(s);
      })();
    </script>
  </body>
</html>