@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles for content rendered from markdown. */

.markdown {
  & > *,
  /*
   * The following extra rule is required because next-mdx-remote wraps another
   * <div /> serverside.
   */
  & > div > * {
    @apply mb-4;
  }

  & a {
    @apply underline text-coral;

    &:hover {
      @apply text-coral-dark;
    }
  }

  & code {
    @apply p-1 rounded bg-gray-100 text-black;
  }

  & pre {
    @apply overflow-x-auto border border-gray-200;

    & code {
      @apply p-0 bg-transparent text-black;
    }
  }

  & pre,
  & blockquote {
    @apply p-4 rounded;
  }

  & ul {
    @apply list-disc;
    @apply pl-4;
  }

  & ol {
    @apply list-decimal;
    @apply pl-4;
  }

  & header {
    @apply my-10;

    & h1 {
      @apply text-3xl font-extrabold text-gray-900 my-1;
    }

    & p {
      @apply text-lg;
    }
  }

  & h2 {
    @apply text-2xl font-bold pb-3 my-10 border-b border-gray-200;
  }

  & h3 {
    @apply text-xl font-bold;
  }

  & h2,
  & h3,
  & h4 {
    @apply text-gray-700;
  }

  & .anchor {
    @apply absolute invisible;

    margin-left: -1em;
    padding-right: 0.5em;

    &:after {
      content: "#";
    }
  }

  & *:hover > .anchor {
    @apply visible;
  }

  & blockquote {
    @apply bg-navy-light text-white;

    & p > code {
      @apply bg-navy p-1 rounded text-white;
    }
  }
}

/* Styles for code blocks with syntax highlighting provided by prismjs. */

pre {
  @apply bg-gray-100;
}

.token {
  &.comment {
    @apply text-gray-400;
  }

  &.attr-value {
    @apply text-gray-700;
  }

  &.property,
  &.tag,
  &.boolean,
  &.number,
  &.constant,
  &.symbol,
  &.punctuation,
  &.deleted {
    @apply text-red-400;
  }

  &.function,
  &.class-name,
  &.maybe-class-name {
    @apply text-red-500;
  }

  &.operator,
  &.entity,
  &.url {
    @apply text-red-600;
  }

  &.variable,
  &.attr-name {
    @apply text-red-700;
  }
}

.arrow-right {
  width: 0;
  height: 0;
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
}

.arrow-down {
  width: 0;
  height: 0;
  display: inline-block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid currentColor;
}
