.listItem {
  border-bottom: 1px solid #e0e0e0;
  font-size: 18px;
  width: 100%;
  max-width: 660px;
  min-width: 400px;
  margin: 0 auto;
  position: relative;
  transition: all 200ms;
  padding: 10px 0 0;
  min-height: 220px;

  &:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}

