/**
 * deprecated as this file contains styles from multiple components. Please remove this file
 * when styles have been refactored.
 */

@custom-media --big-viewport (min-width: 780px);

.container {
  padding: 10px;
  display: flex;
  padding-bottom: 200px;
}

.leftColumn {
  padding: 42px 56px;
  width: 234px;
}

.mainContent {
  width: calc(100% - 300px);
  padding: 34px 14px;
  box-sizing: border-box;
}

.roleButton {
  display: block;
}

.searchBox {
  width: 100%;
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 2px;
  display: flex;
  background: white;
  box-sizing: border-box;
  height: 40px;

  i {
    color: #A1A1A1
  }

  input {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 16px;
    padding: 0 2px 0 15px;
    box-sizing: border-box;
  }
}

.list {
  padding: 8px 0;
  list-style: none;
  display: block;

  &.singleView .listItem {
    display: none;
  }

  &.singleView .listItem.activeItem {
    display: block;
    height: 100%;
    font-size: 1.5em;
    line-height: 1.5em;
    border: none;

    .actions {
      position: fixed;
      bottom: 60px;
      left: 25%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      width: 50%;
      margin: 0;
    }
  }
}

.listItem {
  border-bottom: 1px solid #e0e0e0;
  font-size: 18px;
  width: 100%;
  max-width: 660px;
  min-width: 400px;
  margin: 0 auto;
  position: relative;
  transition: all 200ms;
  padding: 10px 0 0;
  min-height: 220px;

  .container {
    display: block;
    padding: 0 14px;
    min-height: 180px;
  }

  &:hover {
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  &:last-child {
    border-bottom: none;
  }

  .context {
    a {
      color: #f36451;
      text-decoration: underline;
      float: right;
    }
  }

   .sideActions {
     position: absolute;
     right: 0;
     height: 100%;
     top: 0;
     padding: 50px 18px;
     box-sizing: border-box;
   }

  .itemHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .author {
      font-size: 16px;
      font-weight: bold;
      min-width: 230px;
      display: flex;
      align-items: center;
    }
  }

  .itemBody {
    display: flex;
    justify-content: space-between;
  }

  .avatar {
    margin-right: 16px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #757575;
    font-size: 40px;
    color: #fff;
  }

  .created {
    color: #666;
    font-size: 13px;
    margin-left: 40px;
  }

  .body {
    margin-top: 0px;
    flex: 1;
    color: black;
    max-width: 500px;
    word-wrap: break-word;
  }

  .flagged {
    color: rgba(255, 0, 0, .5);
    padding-top: 15px;
    padding-left: 10px;
  }

  .flagCount{
    font-size: 12px;
    color: #d32f2f;
  }
}

.empty {
  color: #444;
  margin-top: 50px;
  text-align: center;
}


@media (--big-viewport) {
  .listItem {
    border: 1px solid #e0e0e0;
    margin-bottom: 30px;

    &:last-child {
      border-bottom: 1px solid #e0e0e0;
    }

    &.activeItem {
      border: 2px solid #333;
    }
  }

}

.hasLinks {
  color: #f00;
  text-align: right;
  display: flex;
  align-items: center;

  i {
    margin-right: 5px;
  }
}

.banned {
  color: #f00;
  text-align: left;
  display: flex;
  align-items: center;

  i {
    margin-right: 5px;
  }
}

.ban {
  display: block;
  text-align: center;
  margin-top: 5px;
}

.banButton {
  width: 114px;
  letter-spacing: 1px;

  i {
    vertical-align: middle;
    margin-right: 10px;
    font-size: 14px;
  }
}

/**
** This stylesheet is deprecated. DO NOT ADD CODE.
**/
