.root {
  width: calc(94 * var(--mini-unit));
  position: relative;
}

.exitTransition {
  opacity: 1;
  transition: 300ms opacity;
}

.exitTransitionActive {
  opacity: 0;
}

.exitTransitionDone {
  opacity: 0;
}
.viewNewButtonContainer {
  position: absolute;
  width: 100%;
}
.viewNewButton {
  position: absolute;
  z-index: 10;
  top: -16px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
