.leftIcon {
  padding-right: var(--spacing-1);
}

.additionalCommentURLs {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-2);
  margin-right: var(--spacing-2);
}

.error {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-2);
  color: var(--palette-error-500);
  font-weight: var(--font-weight-primary-bold);
}

.addButton {
  margin-left: var(--spacing-2);
}
