.root {
  width: 100%;
}

.replyList {
  padding-left: calc(2 * var(--mini-unit));
}

.title1 {
  font-size: calc(14rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-sans);
  line-height: calc(20em / 16);
  letter-spacing: calc(0.2em / 16);
  color: var(--palette-text-primary);
}
.title2 {
  font-size: calc(18rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-sans);
  line-height: calc(20em / 16);
  letter-spacing: calc(0.2em / 16);
  color: var(--palette-text-primary);
}
