.action {
  font-size: var(--font-size-1);
}

.replyButton {
  border-width: 0px;
  border-style: none;

  color: var(--palette-grey-500);
}

.replyButton:hover {
  border-width: 0px;
  border-style: none;

  color: var(--palette-grey-600);
}

.replyIcon {
  transform: scaleX(-1);

  margin-right: var(--spacing-1);
}

.conversationButton {
  border-width: 0px;
  border-style: none;

  color: var(--palette-primary-500);
}

.conversationIcon {
  margin-right: var(--spacing-1);
}

.actionBar {
  margin-left: calc(30px + var(--spacing-2));
}

.leftActions {
  flex-shrink: 0;
  width: 150px;
}

.leftActionsWide {
  flex-shrink: 0;
  width: 300px;
}

.rightActions {
  flex-grow: 1;
}
