.avatar {
  flex-shrink: 0;

  width: 30px;
  height: 30px;
  border-radius: 5px;

  margin-right: var(--spacing-1);

  font-size: var(--font-size-1);
}

.emptyAvatar {
  background: grey;

  font-size: 30px;
  width: 30px;

  color: white;
}

.avatarIcon {
  vertical-align: top;

  font-size: 30px;
  width: 30px;

  color: white;
}

.container {
  flex-grow: 1;
  background-color: var(--palette-grey-100);

  padding: var(--spacing-2);
  border-radius: 5px;
}

.header {
  margin-bottom: var(--spacing-1);
}

.username {
  display: flex;
  justify-content: center;

  line-height: 1.14;
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-secondary-bold);
  font-size: var(--font-size-3);
  font-style: normal;

  margin-right: var(--spacing-1);
}

.timestamp {
  display: flex;
  justify-content: center;

  font-size: var(--font-size-1);

  margin-left: var(--spacing-2);
}

.body {
  font-size: var(--font-size-2);
}

.tag {
  font-size: var(--font-size-2);
}

.badge {
  font-size: var(--font-size-2);
}
