.root {
  width: 100%;
}

.comment {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-2);

  margint-bottom: var(--spacing-2);

  width: 100%;
}

.parent {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-1);

  width: 100%;
}

.parentUser {
  font-weight: var(--font-weight-primary-semi-bold);

  margin-right: var(--spacing-2);
}

.parentBody {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;

  margin-right: var(--spacing-1);
}

.parentArrow {
  color: var(--palette-grey-500);
}

.replyButton {
  border-width: 0px;
  border-style: none;

  color: var(--palette-grey-500);
}
