.root {
  width: 100%;
}

.tombstone {
  margin-top: 1px;
}

.comment {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-2);

  width: calc(100% - 2 * var(--spacing-1));
  padding-top: var(--spacing-1);
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
}

.parent {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-1);

  width: 100%;
}

.parentHighlight {
  background-color: var(--palette-grey-700);

  border-top-right-radius: var(--round-corners);
  border-bottom-right-radius: var(--round-corners);
}

.replyToViewerBar {
  width: 4px;
  background-color: var(--palette-grey-700);
}

.bodyAndActions {
  width: 100%;
}

.paddedBodyAndActions {
  margin-top: var(--spacing-1);
  margin-left: var(--spacing-1);

  width: calc(100% - var(--spacing-1));
}

.parentButton {
  height: 20px;
}

.parentArrow {
  color: var(--palette-grey-600);
  transform: scaleX(-1) scaleY(-1);
  font-size: 20px;
  width: 20px;
  margin-left: 6px;
  margin-right: 8px;
}

.parentArrowHighlight {
  color: var(--palette-grey-100);

  transform: scaleX(-1) scaleY(-1);
  font-size: 20px;
  width: 20px;
  margin-left: var(--spacing-4);
  margin-right: var(--spacing-3);
}

.parentUser {
  font-weight: var(--font-weight-primary-semi-bold);
  color: var(--palette-grey-600);

  margin-right: var(--spacing-2);
  height: 20px;
}

.parentUserHighlight {
  font-weight: var(--font-weight-primary-semi-bold);
  color: var(--palette-text-000);

  margin-right: var(--spacing-2);
  line-height: 20px;
}

.parentBody {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;

  color: var(--palette-grey-500);

  margin-right: var(--spacing-1);
  line-height: 20px;
}

.parentBodyHighlight {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;

  color: var(--palette-text-000);

  margin-right: var(--spacing-1);
  line-height: 20px;
}

.replyButton {
  border-width: 0px;
  border-style: none;

  color: var(--palette-grey-500);
}

.highlight {
  background-color: var(--palette-primary-100);
}
