{% extends "layouts/account-notification.html" %}

{% block content %}
  <div data-l10n-id="email-template-accountNotificationForgotPassword" data-l10n-args="{{ context | dump }}">
    Hello {{ context.username }},<br/><br/>
    We received a request to reset your password on <a data-l10n-name="organizationName" href="{{ context.organizationURL }}"></a>.<br/><br/>
    Please follow this link reset your password: <a data-l10n-name="resetYourPassword" href="{{ context.resetURL }}">Click here to reset your password</a><br/><br/>
    <i>If you did not request this, you can ignore this email.</i><br/>
  </div>
{% endblock %}
