{% extends "layouts/account-notification.html" %}

{% block content %}
  <div data-l10n-id="email-template-accountNotificationPasswordChange" data-l10n-args="{{ context | dump }}">
    Hello {{ context.username }},<br/><br/>
    The password on your account has been changed.<br/><br/>
    If you did not request this change,
    please contact please contact our community team at <a data-l10n-name="organizationContactEmail" href="mailto:{{ context.organizationContactEmail }}">{{ context.organizationContactEmail }}</a>.
  </div>
{% endblock %}
