.smallTab {
  padding: var(--spacing-3);
}

.notificationsTab {
  padding-top: var(--spacing-3);
  padding-bottom: var(--spacing-2);
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
}

.notificationsIcon {
  height: var(--spacing-5);
}

.notificationsIconSmall {
  /* unlike the configure cog icon, the bell is taller than
     it is wide, so it pushes up the tab, we constrain it
     using this, allowing all the other padding styles to
     remain consistent */
  height: 22.5px;
}

.notificationsTabSmall {
  padding-top: var(--spacing-3);
  padding-bottom: var(--spacing-3);
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
}

.configureTab {
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
}

.smallText {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-1);
  line-height: 1;

  padding-top: var(--spacing-1);
}
