.smallTab {
  padding: var(--spacing-3);
}

.smallText {
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-1);
  line-height: 1;

  padding-top: var(--spacing-1);
}

.notificationsTab {
  margin-left: auto;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
}

.notificationsTabSmall {
  padding-top: 22.25px;
  padding-bottom: 22.25px;
  padding-left: var(--spacing-5);
  padding-right: var(--spacing-5);
}

.notificationsIcon {
  height: var(--spacing-5);
}

.floatingBellDisabled {
  border-left: none;
}
