.legend {
  margin-bottom: 2px;
  text-transform: uppercase;
}

.textField {
  height: 31px;
  width: calc(45 * var(--mini-unit));
  margin: 0;
}

.adornment {
  padding: 0 var(--mini-unit);
}

.selectField {
  min-width: calc(16 * var(--mini-unit));
}
