.usernameColumn {
  vertical-align: top;
  word-break: break-word;
  padding-top: 15px;
  padding-bottom: 15px;
}
.emailColumn {
  vertical-align: top;
  word-break: break-word;
  padding-top: 15px;
  padding-bottom: 15px;
}
.memberSinceColumn {
  vertical-align: top;
  padding-top: 15px;
  padding-bottom: 15px;
}
.roleColumn {
  vertical-align: top;
}
.statusColumn {
  vertical-align: top;
}

.usernameButton {
  padding: 0px;
  font-family: var(--font-family-sans-serif);
  font-weight: var(--font-weight-regular);
  font-size: calc(14rem / var(--rem-base));
  line-height: calc(14em / 14);
}
