.usernameColumn {
  vertical-align: top;
  word-break: break-word;
  padding-top: 15px;
  padding-bottom: 15px;
}
.emailColumn {
  vertical-align: top;
  word-break: break-word;
  padding-top: 15px;
  padding-bottom: 15px;
}
.memberSinceColumn {
  vertical-align: top;
  padding-top: 15px;
  padding-bottom: 15px;
}
.roleColumn {
}
.statusColumn {
}

.usernameButton {
  padding: 0px;
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-semi-bold);
  line-height: var(--v2-line-height-reset);
  font-size: var(--v2-font-size-2);
}

.username {
  display: inline-block;
}

.deleted {
  display: inline-block;
  padding-left: var(--spacing-2);
  color: var(--palette-warning-main);
}
