$role-field-text: var(--palette-text-500);

.legend {
  font-size: var(--font-size-3);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-semi-bold);
  line-height: var(--line-height-field-description);
  color: $role-field-text;
}
