$ban-modal-text: var(--palette-text-500);

.bodyText {
  font-size: var(--font-size-3);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-regular);
  line-height: var(--line-height-field-description);
  color: $ban-modal-text;
}

.textArea {
  height: calc(12 * var(--mini-unit));
}
