.card {
  max-width: 500px;
}

.radioButton {
  margin: 0 var(--spacing-1) 0 0 !important;
}

.textArea {
  width: 100%;
  box-sizing: border-box;
  height: calc(12 * var(--mini-unit));
  padding: calc(0.5 * var(--mini-unit));
}