.root {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-semi-bold);
  font-size: var(--font-size-2);
  line-height: var(--line-height-3);
}

.success {
  color: var(--palette-positive-500);
}

.warning {
  color: var(--palette-negative-500);
  font-weight: var(--font-weight-primary-semi-bold);
}

.error {
  color: var(--palette-negative-700);
  font-weight: var(--font-weight-primary-semi-bold);
}
