.borderedFooter {
  border-top: 1px solid var(--palette-grey-300);
}

.refreshContainer {
  position: absolute;
  z-index: 999999;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--palette-primary-500);
  border-radius: 16px;
}

.refreshContainerFixed {
  position: fixed;
  z-index: 999999;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--palette-primary-500);
  border-radius: 16px;
}

.refreshButton {
  border-radius: 16px 0 0 16px;
  border-width: 0;
}

.refreshButtonIcon {
  padding-right: 0.2rem;
}

.closeButton {
  border-radius: 0 16px 16px 0;
  border-width: 0;
}

.flexContainer {
  height: 100%;
}
