$linkColor: var(--palette-primary-500);
$linkColorHovered: var(--palette-primary-700);
$linkColorActive: var(--palette-primary-800);

.link {
  margin-right: var(--spacing-4);

  &.sizeRegular {
    padding: 0;
  }
  &.colorRegular {
    color: $linkColor;
  }

  &:not(.disabled) {
    &.colorRegular {
      &.mouseHover {
        color: $linkColorHovered;
      }
      &.active,
      &:active {
        color: $linkColorActive;
      }
    }
  }
}

.icon {
  margin-right: var(--spacing-1);
}

.container {
  padding-top: var(--spacing-2);
}
