.root {
  width: 280px;
  max-width: 80vw;
}

.title {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-bold);
  font-size: var(--font-size-3);
  line-height: 1;
  color: var(--palette-text-500);

  margin-bottom: var(--spacing-3);
}

.description {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-regular);
  font-size: var(--font-size-2);
  line-height: 1.14;
  color: var(--palette-text-500);

  margin-bottom: var(--spacing-2);
}
