.root {
  width: 280px;
  max-width: 80vw;
}

.title {
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-bold);
  font-size: var(--v2-font-size-3);
  line-height: var(--v2-line-height-3);
  color: var(--v2-colors-mono-500);

  margin-bottom: var(--v2-spacing-3);
}

.description {
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-regular);
  font-size: var(--v2-font-size-2);
  line-height: var(--v2-line-height-3);
  color: var(--v2-colors-mono-500);

  margin-bottom: var(--v2-spacing-2);
}
