.label {
  display: block;
  cursor: pointer;
  width: 100%;
  padding: 6px 16px 6px 10px;
  box-sizing: border-box;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.input {
  cursor: pointer;
  margin-right: 6px;
}
