.icon {
  margin-right: var(--spacing-2);

  height: 1rem;
  overflow: hidden;
}

.button {
  border-style: solid;
  border-width: 1px;

  color: var(--palette-text-000);

  &:not(.disabled),
  &:not(:disabled) {
    background-color: #b1d3fa;
    border-color: #b1d3fa;
  }

  &:hover, &.mouseHover {
    background-color: #2e8fff;
    border-color: #2e8fff;
  }
  &:active, &.active {
    background-color: #b1d3fa;
    border-color: #b1d3fa;
  }
  &.disabled {
    color: var(--palette-grey-400);
    background-color: var(--palette-grey-200);
    border-color: var(--palette-grey-200);
  }
}
