{
  "sourceMaps": true,
  "presets": [
    "stage-0",
    "es2015"
  ],
  "plugins": [
    ["transform-decorators-legacy"],
    ["transform-react-jsx", { "pragma": "h" }],
    ["transform-object-assign"]
  ]
}
