{
  "presets": [
    ["es2015", {"modules": false}]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-object-assign",
    "transform-object-rest-spread",
    "transform-async-to-generator",
    "transform-react-jsx",
    "syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "plugins": [
        ["transform-es2015-modules-commonjs", "dynamic-import-node"]
      ]
    }
  }
}
