node_modules
npm-debug.log*
dist
!dist/coral-admin
dist/coral-admin/bundle.js
test/e2e/reports
.DS_Store
*.iml
*.swp
dump.rdb
.env
*.cfg
.idea/
coverage/

# remove plugin folders
plugins
plugins.json
