.root {
  height: 600px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.streamContainer {
  position: relative;

  overflow-y: auto;
  overflow-x: hidden;
}

.replyModal {
  background: white;
  width: 100%;
}

.newhr {
  flex-grow: 1;

  border-color: var(--palette-primary-500);
}

.newDiv {
  flex-shrink: 0;
  width: 85px;

  text-align: center;

  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-bold);

  color: var(--palette-primary-500);
}

.begin {
  height: 5px;
}

.end {
  height: 5px;
}

.tailing {
  height: 5px;
}

.endFooter {
  height: 5px;
}

.scrollToNewReply {
  position: relative;

  top: -40px;
  left: 0;
  width: 100%;
  height: 0px;
  z-index: 998;

  text-align: center;

  background: transparent;
}

.jumpButton {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

  margin-right: 1px;
}

.jumpButtonClose {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.filler {
  flex-grow: 1;
}
