.streamContainer {
  position: relative;

  overflow-y: auto;
  overflow-x: hidden;

  height: 500px;
}

.replyModal {
  background: white;
  width: 100%;
}

.scrollToNewReply {
  position: relative;

  top: -40px;
  left: 0;
  width: 100%;
  height: 0px;
  z-index: 998;

  text-align: center;

  background: transparent;
}

.newhr {
  flex-grow: 1;

  border-color: var(--palette-primary-500);
}

.newDiv {
  flex-shrink: 0;
  width: 85px;

  text-align: center;

  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-bold);

  color: var(--palette-primary-500);
}

.begin {
  height: 5px;
}

.end {
  height: 5px;
}

.tailing {
  height: 5px;
}

.endFooter {
  height: 5px;
}
