.icon {
  margin-right: var(--v2-spacing-2);

  height: 1.25rem;
  overflow: hidden;
}

.button {
  border-style: solid;
  border-width: 1px;

  color: var(--v2-colors-pure-white);

  &:not(.disabled),
  &:not(:disabled) {
    background-color: #db4437;
    border-color: #db4437;
  }

  &:hover, &.mouseHover {
    background-color: #e05f54;
    border-color: #e05f54;
  }
  &:active, &.active {
    background-color: #e57a71;
    border-color: #e57a71;
  }
  &.disabled {
    color: var(--v2-colors-grey-400);
    background-color: var(--v2-colors-grey-200);
    border-color: var(--v2-colors-grey-200);
  }
}

