.variantRegular {
  &:not(.disabled) {
    &.colorRegular {
      background-color: #db4437;
      &.mouseHover {
        background-color: #e05f54;
      }
      &:active,
      &.active {
        background-color: #e57a71;
      }
    }
  }
}
