.root {
  font-size: var(--v2-font-size-3);
  font-weight: var(--v2-font-weight-primary-regular);
  font-family: var(--v2-font-family-primary);
  line-height: 1.375rem;

  color: var(--v2-colors-mono-500);

  b,
  strong {
    font-weight: var(--v2-font-weight-primary-bold);
  }
  h1 {
    @mixin heading1;
  }
  h2 {
    @mixin heading2;
  }
  h3 {
    @mixin heading3;
  }
  h4 {
    @mixin heading4;
  }
  h5 {
    @mixin heading5;
  }

  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }
  blockquote {
    background-color: rgba(255, 255, 255, 0.66);
    padding: var(--mini-unit);
    margin: calc(2 * var(--mini-unit)) 0 calc(2 * var(--mini-unit))
      var(--mini-unit);
    border-radius: var(--round-corners);
    &::after {
      content: none;
    }
    &::before {
      content: none;
    }
  }
}
