.variantRegular {
  &:not(.disabled) {
    &.colorRegular {
      background-color: #0d5b8f;
      &.mouseHover {
        background-color: #106fae;
      }
      &:active,
      &.active {
        background-color: #1383cd;
      }
    }
  }
}
