.root {
  composes: subTabCounter from "talk-ui/shared/typography.css";
  border-radius: 1px;
  padding: 2px 3px 3px 3px;
  color: inherit;
}

.colorPrimary {
  background-color: var(--palette-primary-main);
}

.colorGrey {
  background-color: var(--palette-grey-dark);
}

.colorInherit {
  background-color: currentColor;
}

.text {
  color: var(--palette-text-light);
}
