body {
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  font-size: 12px;
  margin: 0px;
  padding: 0px 0px 50px 0px;
}

.expandForSignin {
  min-height: 550px;
}

button {
  padding: 5px 10px;
  margin: 5px;
  background: none;
  border: none;
}

button:hover {
  border-radius: 2px;
  color: #FFF;
  background-color: rgb(155, 155, 155);
}

button i {
  margin-right: 3px;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.screen-reader-text {
   clip: rect(1px, 1px, 1px, 1px);
   height: 1px;
   width: 1px;
   overflow: hidden;
   position: absolute !important;
}

/* Notification styles */
#coral-notif {
  position: fixed;
  bottom: 0;
  border: 0;
  background: rgb(105,105,105);
  color: white;
  border-radius: 2px;
  font-weight: bold;
}

/* Info Box Styles */
.coral-plugin-infobox-info {
  position: fixed;
  top: 0;
  border: 0;
  background: rgb(105,105,105);
  color: white;
  border-radius: 2px;
  font-weight: bold;
  display: block;
}

.hidden  {
  visibility: hidden;
  display: none;
}

.commentStream {
  /* prevent absolutely positioned final permalink popover from being clipped */
  padding-bottom: 50px;
}

/* Comment Box Styles */
.coral-plugin-commentbox-container {
  display: flex;
}

.coral-plugin-commentbox-textarea {
  flex: 1;
  padding: 5px;
  min-height: 100px;
}

.coral-plugin-commentbox-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

#coralStream .coral-plugin-commentbox-button {
  float: right;
  margin-top: 10px;
  padding: 5px 10px;
  background: rgb(105, 105, 105);
  color: #FFF;
  border: none;
  border-radius: 2px;
}

.coral-plugin-commentbox-username {
  width: 50%;
  padding-left: 5px;
  margin-bottom: 5px;
}

/* Comment styles */
.comment {
  position: relative;
  margin-bottom: 10px;
  position: relative;
}

.coral-plugin-commentcontent-text {
  margin-bottom: 10px;
}

.coral-plugin-author-name-text {
  display: inline-block;
  margin-right: 10px;
  font-weight: bolder;
}


/* Reply styles */

.comment .reply {
  margin: 0px 0px 10px 20px;
}

/* Comment Action Styles */

.commentActionsRight, .replyActionsRight {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.commentActionsLeft, .replyActionsLeft {
  display: flex;
  justify-content: flex-start;
  float: left;
  width: 50%;
}

.material-icons {
  font-size: 12px !important;
  margin-left: 3px;
  vertical-align: middle;
}

.likedButton {
  color: rgb(0,134,227);
}

.flaggedIcon {
  color: #F00;
}

.coral-plugin-pubdate-text {
  color: #CCC;
  display: inline-block;
}

.coral-plugin-permalinks-container {
  /*position: relative;*/
  z-index: 2;
}

.coral-plugin-permalinks-popover {
  display: none;
  background-color: white;
  border: 1px solid black;
  width: calc(100% - 15px);
  position: absolute;
  top: 70px;
  right: 0;
  padding: 5px;
}

.coral-plugin-permalinks-popover.active {
  display: block;
}

.coral-plugin-permalinks-copy-field {
  display: block;
  width: calc(100% - 5px);
}

.coral-plugin-permalinks-copied-text {
  float: right;
  margin: 8px;
}

/* Flag Styles */

.coral-plugin-flags-popup-header {
  font-weight: bolder;
  font-size: 14px;
}
