* {
  font-family: inherit;
  font-style: inherit;
}

html, body {
  width:auto;
  height:auto;
}

body {
  font-family: Helvetica, 'Helvetica Neue', Verdana, sans-serif;
  width: 100%;
  font-size: 14px;
  margin: 0px;
  padding: 0px 0px 50px 0px;
  height: auto !important;
}

.expandForSignin {
  min-height: 600px;
}

button {
  margin: 5px 10px 5px 0px;
  background: none;
  padding: 0px;
  border: none;
  font-size: inherit;
}

button:hover {
  border-radius: 2px;
  color: #767676;
}

button i {
  margin-right: 3px;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.screen-reader-text {
   clip: rect(1px, 1px, 1px, 1px);
   height: 1px;
   width: 1px;
   overflow: hidden;
   position: absolute !important;
}

/* Notification styles */
#coral-notif {
  position: fixed;
  border: 0;
  background: rgb(105,105,105);
  color: white;
  border-radius: 2px;
  font-weight: bold;
}

/* Coral sign in button */

#coralSignInButton {
    background-color: #2a2a2a;
    color: #FFF;
}

#coralSignInButton:hover {
  background-color: #767676;
}

/* Info Box Styles */
.coral-plugin-infobox-info {
  top: 0;
  border: 0;
  background: #DEEDFF;
  color: #2a2a2a;
  width: 100%;
  text-align: left;
  padding: 10px;
  margin-bottom: 10px;
  display: block;
  box-sizing: border-box;
  border-radius: 2px;
}


.coral-plugin-infobox-info em{
  font-style: italic;
}

.coral-plugin-infobox-info strong{
  font-weight: bold;
}

.coral-plugin-infobox-info blockquote{
  border-left: solid 2px #2a2a2a;
  padding-left: 10px;
}


.coral-plugin-infobox-info a{
  color: #2a2a2a;
}

.commentStream .material-icons {
  vertical-align: middle;
  width: 1em;
  font-size: 1em;
  overflow: hidden;
}

/* Question Box Styles */
.coral-plugin-questionbox-info {
  top: 0;
  border: 0;
  background: rgb(213,213,213);
  color: black;
  width: 100%;
  text-align: left;
  padding-left: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 14px;
  overflow: hidden;
  min-height: 50px;
  display: flex;
}

.coral-plugin-questionbox-icon.bubble{
  position: absolute;
  top: 11px;
  left: 10px;
  color: #949393;
  font-size: 20px;
  z-index: 0;
}

.coral-plugin-questionbox-icon.person{
  z-index: 2;
  top: 20px;
  left: 15px;
  position: absolute;
  font-size: 24px;
  color: white;
}

.coral-plugin-questionbox-box {
  position: relative;
  border: 0;
  background: black;
  color: white;
  padding: 20px;
  margin-left: 0px !important;
  margin-right: 10px;
  display: inline-block;
  width: 10px;
  min-height: 100%;
  padding: 5px 20px;
  vertical-align: middle;
}

.coral-plugin-questionbox-content {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.hidden  {
  visibility: hidden;
  display: none;
}

.streamBox {
  padding: 10px 0;
}

.commentStreamContainer {
  position: relative;
  z-index: -1;
}

.commentStream {
  /* prevent absolutely positioned final permalink popover from being clipped */
  padding-bottom: 50px;
  min-height: 600px;
  position: relative;
}

/* Comment Box Styles */
.coral-plugin-commentbox-container {
  display: flex;
  width: 100%;
}

.coral-plugin-commentbox-textarea {
  color: #262626;
  flex: 1;
  padding: 1em;
  min-height: 100px;
  margin-top: 10px;
  font-size: 16px;
  border: 1px solid #9E9E9E;
}

.coral-plugin-commentbox-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.coral-plugin-commentbox-button {
  float: right;
  margin-top: 10px;
  padding: 5px 10px;
  background: rgb(105, 105, 105);
  color: #FFF;
  border: none;
  border-radius: 2px;
}

.coral-plugin-commentbox-username {
  width: 50%;
  padding-left: 5px;
  margin-bottom: 5px;
}

.coral-plugin-commentbox-char-count {
  color: #ccc;
  text-align: right;
}

.coral-plugin-commentbox-char-max {
  color: #d50000;
}

/* Comment styles */
.comment {
  margin-bottom: 10px;
  position: relative;
}

.coral-plugin-commentcontent-text {
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.3;
}

.coral-plugin-author-name-text {
  display: inline-block;
  margin: 10px 5px 10px 0;
  font-weight: bold;
}

.coral-plugin-author-name-bio-flag {
  float: right;
}

.highlighted-comment {
  padding-left: 10px;
  border-left: 3px solid rgb(35,118,216);
}

/* Tag Labels */

.coral-plugin-tag-label {
  background-color: #4C1066;
  color: white;
  display: inline-block;
  margin: 0px 5px;
  padding: 5px 5px;
  border-radius: 2px;
}



/* Reply styles */

.comment .reply {
  margin: 0px 0px 10px 20px;
}

/* Comment Action Styles */

.commentActionsRight, .replyActionsRight {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}
.commentActionsLeft, .replyActionsLeft {
  display: flex;
  justify-content: flex-start;
  float: left;
  width: 70%;
}

.comment__action-container .material-icons {
  font-size: 12px;
  margin-left: 3px;
}

button.comment__action-button,
.comment__action-button button {
  cursor: pointer;
}

button.comment__action-button[disabled],
.comment__action-button[disabled] button {
  cursor: inherit;
}

.comment__action-button--nowrap {
  white-space: nowrap;
}

.likedButton {
  color: rgb(0,134,227);
}

.flaggedIcon {
  color: #F00;
}

.coral-plugin-pubdate-text {
  display: inline-block;
}

.coral-plugin-permalinks-container {
  /*position: relative;*/
  z-index: 2;
}

.coral-plugin-permalinks-popover {
  display: none;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  padding: 5px;
}

.coral-plugin-permalinks-popover.active {
  display: block;
}

.coral-plugin-permalinks-copy-field {
  display: block;
  width: calc(100% - 5px);
}

.coral-plugin-permalinks-copied-text {
  float: right;
  margin: 8px;
}

/* Flag Styles */

.coral-plugin-flags-popup-form {
  margin-bottom: 10px;
}

.coral-plugin-flags-popup-header {
  font-weight: bolder;
  font-size: 1.33rem;
  margin-bottom: 10px;
}

.coral-plugin-flags-popup-radio {
  margin:5px;
}

.coral-plugin-flags-popup-radio-label {
  margin:5px;
  font-weight: 400;
  font-size: .9rem;
}

.coral-plugin-flags-popup-counter {
  float: left;
  margin-top: 21px;
  color: #999;
}

.coral-plugin-flags-popup-button {
  float: right;
  margin-top: 10px;
}

.coral-plugin-flags-reason-text {
  margin-left: 20px;
  margin-top: 5px;
  width: 75%;
  font-size: 16px;
  border: 1px solid #ccc;
}

/* Close comments */

.close-comments-intro-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-comments-intro-wrapper button {
  width: 300px;
  margin-left: 20px;
}

.close-comments-intro-wrapper button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.close-comments-message {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
}

.close-comments-confirm-wrapper {
  float: right;
}

.close-comments-alert {
  background-color: #d65344;
  color: white;
  font-size: 1.33rem;
  padding: 5px;
}

.close-comments-alert i.material-icons {
  font-size: 16px !important;
}

/* Load More */

.coral-load-more {
  text-align: center;
}

.coral-load-more button {
  text-align: center;
  color: #FFF;
  background-color: #2376D8;
  cursor: pointer;
  padding: 10px;
  border-radius: 2px;
  line-height: 1em;
  text-transform: capitalize;
  display: inline-block;
}

.coral-load-more:hover button {
  background-color: #4399FF;
}

.coral-load-more-replies, .coral-new-comments {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.coral-new-comments {
  position: relative;
  top: 1.8em;
  z-index: 100;
}

.coral-load-more-replies button.coral-load-more, .coral-new-comments  button.coral-load-more{
  width: initial;
}

@media (min-device-width : 300px) and (max-device-width : 420px) {
  .commentActionsLeft.comment__action-container .coral-plugin-likes-button-text,
  .commentActionsLeft.comment__action-container > div span {
    display: none;
  }

  .commentActionsLeft.comment__action-container .coral-plugin-replies-reply-button {
    visibility: collapse;
    margin-left: -30px;
  }

  .commentActionsLeft.comment__action-container .coral-plugin-replies-reply-button .coral-plugin-replies-icon {
    visibility: visible;
  }
}
