.root {
  box-sizing: border-box;
  list-style: none;
  padding: var(--spacing-unit);
  display: inline-flex;
  margin-bottom: -1px;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-serif);

  &:hover {
    cursor: pointer;
  }
}

.root.primary {
  background: var(--palette-grey-lightest);
  color: var(--palette-grey-main);
  border: 1px solid var(--palette-grey-main);
  border-left-width: 0;
  padding: calc(0.5 * var(--spacing-unit)) calc(var(--spacing-unit) * 2);

  &:first-child {
    border-left-width: 1px;
    border-top-left-radius: var(--round-corners);
  }

  &:last-child {
    border-top-right-radius: var(--round-corners);
  }

  &.active {
    background-color: var(--palette-common-white);
    color: var(--palette-common-black);
    border-bottom-color: var(--palette-common-white);
    border-top-width: calc(0.5 * var(--spacing-unit));
    border-top-color: var(--palette-primary-main);
  }
}

.secondary {
  padding: calc(0.5 * var(--spacing-unit)) calc(var(--spacing-unit) * 2);

  &.active {
    font-weight: var(--font-weight-medium);
    border-bottom: 3px solid var(--palette-primary-main);
  }
}
