.root {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: flex-end;
}

.primary {
  border-bottom: 1px solid var(--palette-grey-lighter);
}

.secondary {
  border-bottom: 1px solid var(--palette-divider);
}
