.root {
  background-color: var(--palette-common-white);
  border-bottom: 1px solid var(--palette-divider);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  height: calc(5 * var(--spacing-unit));
  box-sizing: border-box;
}

.gutterBegin {
  padding-left: calc(2 * var(--spacing-unit));
}
.gutterEnd {
  padding-right: calc(2 * var(--spacing-unit));
}
