/**
 * @TODO: deprecated as this file contains styles from multiple components. Please refactor.
 */

:root {
  --row-height: 60px;
}

.widget {
  margin: 10px 5px 5px 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  flex: 1;
  background-color: white;
  box-sizing: border-box;
}

.widget * {
  box-sizing: border-box;
}

.heading {
  margin: 0;
  padding-left: 10px;
  font-size: 1.3rem;
  font-weight: 600;
  color: #2c2c2c;
}

.widgetTable {
  height: calc(var(--row-height) * 10);
}

.widgetTable + div:after {
  content: '';
  clear: both;
  display: block;
}

.widgetHead p {
  color: #2c2c2c;
  font-weight: 500;
  padding: 10px;
  text-align: left;
  text-transform: capitalize;
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 0;
}

.widgetHead p:last-child {
  float: right;
  margin-right: 100px;
}

.rowLinkify {
  border-bottom: 1px solid lightgrey;
  color: #555;
  height: var(--row-height);
  padding: 10px;
  transition: background-color 200ms;
}

.rowLinkify:last-child {
  border-bottom: none;
}

.rowLinkify:hover {
  background-color: #f8f8f8;
  pointer: default;
}

.linkToAsset {
  display: inline-block;
  text-decoration: none;
}

.linkToModerate {
  background-color: #BDBDBD;
  padding: 10px 14px;
  text-decoration: none;
  color: black;
  float: right;
  margin-left: 15px;
  transition: background-color 200ms;
}

.linkToModerate:hover {
  background-color: #9E9E9E;
}

.lede {
  font-size: 0.9em;
  color: #aaa;
}

.assetTitle {
  color: #555;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
  margin: 0;
}

.widgetCount {
  color: #555;
  font-size: 1.3em;
  font-weight: 400;
  float: right;
  margin-top: 7px;
}
