.container {
  position: relative;
}

.apply {
  float: right;
  margin: 0 10px;
}

.wrapper ul {
  list-style: none;
  padding: 0;
}

.checkbox {
  vertical-align: top;
  margin: 12px 12px 12px 0;
}

.wrapper h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

.wrapper p {
  max-width: 380px;
}

.wrapper {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}