.description {
  color: var(--palette-text-primary);
  font-family: var(--font-family-sans-serif);
  font-weight: var(--font-weight-regular);
  font-size: calc(14rem / var(--rem-base));
  line-height: calc(16em / 14);
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-3);
}

.empty {
  color: var(--palette-grey-light);
  font-family: var(--font-family-sans-serif);
  font-weight: var(--font-weight-regular);
  font-size: calc(16rem / var(--rem-base));
  line-height: calc(20em / 16);
  margin-top: var(--spacing-2);
}
