.title {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-semi-bold);
  font-size: var(--font-size-4);
  line-height: 1.11;

  color: var(--palette-text-900);

  padding-bottom: var(--spacing-1);
}

.header {
  display: inline-block;

  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-bold);
  font-size: var(--font-size-2);
  line-height: 1.14;

  color: var(--palette-text-500);

  padding-bottom: var(--spacing-1);
}

.sendNotifications {
  padding-top: var(--spacing-1);
}

.checkBox {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-regular);
  font-size: var(--font-size-3);
  line-height: 1.125;

  color: var(--palette-text-500);

  padding-bottom: var(--spacing-2);
}

.updateButton {
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-3);
}

.updateButtonNotification {
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-1);
}

.callOut {
  padding-bottom: var(--spacing-2);
}
