.child {
  width: initial;
}

.text {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-semi-bold);
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);

  color: var(--palette-text-100);

  padding-bottom: var(--spacing-1);
}

.username {
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-secondary-bold);
  font-size: var(--font-size-4);
  line-height: var(--line-height-4);

  color: var(--palette-text-900);

  padding-right: var(--spacing-1);
  padding-bottom: var(--spacing-1);
}

.signOut {
  display: flex;
  align-items: center;
}

.userBoxButton {
  line-height: var(--line-height-2);

  padding-left: var(--spacing-1);
}
