.root {
  margin-top: var(--spacing-2);
}

.title {
  margin-bottom: var(--spacing-2);

  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-semi-bold);
  font-size: var(--font-size-4);
  line-height: var(--line-height-5);

  color: var(--palette-text-900);
}

.description {
  margin-bottom: var(--spacing-3);

  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-regular);
  font-size: var(--font-size-3);
  line-height: var(--line-height-5);

  color: var(--palette-text-500);
}

.requestContainer {
  margin-bottom: var(--spacing-2);
}

.recentRequest {
  margin-bottom: var(--spacing-3);

  color: #808080;

  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-regular);
  font-size: var(--font-size-2);
  line-height: var(--line-height-3);

  color: var(--palette-text-100);
}

.callout {
  margin-top: var(--spacing-1);
  margin-bottom: var(--spacing-5);
}
