.root {
  background-color: var(--palette-common-white);
  height: calc(6 * var(--mini-unit));
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.gutterBegin {
  padding-left: calc(2 * var(--mini-unit));
}
.gutterEnd {
  padding-right: calc(2 * var(--mini-unit));
}
