.button {
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 15px;
}

.icon {
  color: var(--v2-palette-user-menu-button);
}

.buttonText {
  font-family: var(--v2-font-family-secondary);
  color: var(--v2-palette-user-menu-button);
  font-size: var(--v2-font-size-4);
  margin-left: 2px;
  margin-right: 1px;
}
