$tableBodyDisabledColor: var(--v2-colors-mono-100);

.root {
  font-weight: var(--v2-font-weight-primary-regular);
  color: $tableBodyDisabledColor;
}

.open {
  font-weight: var(--v2-font-weight-primary-regular);
  color: var(--v2-palette-success-main);
}
