.root {
  font-weight: var(--v2-font-weight-primary-regular);
  color: var(--v2-palette-table-body-disabled);
}

.open {
  font-weight: var(--v2-font-weight-primary-regular);
  color: var(--v2-palette-success-main);
}
