.icon {
  margin-right: var(--v2-spacing-2);
}

.forgotPassword {
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-family-primary-semi-bold);
  font-size: var(--v2-font-size-2);
  line-height: var(--v2-line-height-3);

  color: var(--v2-colors-stream-blue-500);
}

.field {
  margin-bottom: var(--v2-spacing-3);
}

.actions {
  padding-top: var(--v2-spacing-2);
}
