/* Here we add global stylings for body and document */
:global {
  body {
    margin: "0";

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  }
}

.root {
  width: 100%;
  padding-top: calc(5 * var(--spacing-unit));
}
