.root {
  position: relative;
}
.hr {
  position: absolute;
  border: 0;
  border-top: 1px solid var(--palette-divider);
  width: 100%;
  margin: 0;
}
.text {
  composes: heading3 from "talk-ui/shared/typography.css";
  position: relative;
  background-color: var(--palette-common-white);
  padding: 0 var(--spacing-unit);
}
