.description {
  font-family: var(--font-family-primary);
  font-weight: var(--font-family-primary-regular);
  font-size: var(--font-size-2);
  line-height: var(--line-height-4);

  color: var(--palette-text-100);
}
