.bio textarea {
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  min-height: 100px;
  margin: 10px 0;
  border: solid 1px #d8d8d8;
}

.bio h1 {
  font-size: 16px;
  margin: 3px 0;
}

.bio p {
  margin: 3px 0;
}

.actions {
  text-align: right;
}
