.container {
  width: 350px;
  background-color: #f5f5f5;
  border: 1px solid var(--palette-grey-lighter);
  margin-top: 70px;
  box-sizing: border-box;
}

.textLink {
  color: var(--palette-primary-main);
}