.root {
  padding: var(--spacing-2);
}

.noResults {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-3);
  color: var(--palette-text-100);
}

.loading {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-3);
  color: var(--palette-text-100);
  text-align: center;
}

.results {
  overflow: hidden;
}

.result {
  min-height: 0;
  min-width: 0;
}

.resultImg {
  display: block;
  max-width: 100%;
}

.input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.searchButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

