<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta property="csrf" content="<%= csrfToken %>">
    <title>Talk - Coral Admin</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <style media="screen">
      body, #root {
        width: 100%;
        height: 100%;
        margin: 0;
        background: #fff;
      }
      /* putting this here until I can get webpack to behave */
      .react-tagsinput {
        background-color: #fff;
        border: 1px solid #ccc;
        overflow: hidden;
        padding-left: 5px;
        padding-top: 5px;
      }

      .react-tagsinput--focused {
        border-color: rgb(142, 76, 65);
      }

      .react-tagsinput-tag {
        background-color: rgb(255, 220, 214);
        border-radius: 2px;
        border: 1px solid rgb(244, 126, 107);
        color: rgb(244, 126, 107);
        display: inline-block;
        font-family: sans-serif;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 5px;
        margin-right: 5px;
        padding: 5px;
      }

      .react-tagsinput-remove {
        cursor: pointer;
        font-weight: bold;
        color: rgb(101, 24, 23);
      }

      .react-tagsinput-tag a::before {
        content: " ×";
      }

      .react-tagsinput-input {
        background: transparent;
        border: 0;
        color: #777;
        font-family: sans-serif;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 6px;
        margin-top: 1px;
        outline: none;
        padding: 5px;
        width: 90px;
      }

    </style>
  </head>
  <body>
    <div id="root"></div>
    <script src="<%= basePath %>/bundle.js" charset="utf-8"></script>
  </body>
</html>
