<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Talk - Coral Admin</title>
    <style media="screen">
      html, body, #root, #root > div { min-height: 100%; }
      body { margin: 0; background-color: #FAFAFA; font-family: 'Roboto', sans-serif; }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <%- include partials/head %>
    <link rel="stylesheet" type="text/css" href="<%= resolve('coral-admin/bundle.css') %>">
  </head>
  <body class="admin-page">
    <div id="root"></div>
    <script src='https://www.google.com/recaptcha/api.js?render=explicit' async defer></script>
    <script src="<%= resolve('coral-admin/bundle.js') %>" charset="utf-8"></script>
  </body>
</html>
