<html>
<head>
  Asset list
</head>
<body>
<p>
  Clicking on an asset below will bring you to its comment stream.
</p>
<p>
  You may paginate manually using skip and limit query params. (aka, ?skip=100&limit=25)
</p>
<p>
  This is intended for developer use only.
</p>
<% assets.forEach(function (asset) { %>
  <a href="/assets/id/<%= asset.id %>"><%= asset.url %></a><br />
<% }) %>

</body>
</html>
