<html>
  <head>
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:author" content="A. J. Ournalist" />
    <meta property="og:description" content="A description of this article." />

    <meta property="article:published" itemprop="datePublished" content="2016-11-16T11:46:06-05:00" />
    <meta property="article:modified" itemprop="dateModified" content="2016-11-16T12:09:44-05:00" />
    <meta property="article:section" itemprop="articleSection" content="The Section!" />

  </head>
  <body>
  <div style="margin-left:auto; margin-right:auto; width:500px">
    <h1><%= title %></h1>
    <p>Lorem ipsum dolor sponge amet, consectetur adipiscing clam. Ut lobortis sollicitudin pillar a ornare. Curabitur dignissim vestibulum cay non rhoncus. Cras laoreet ante vel nunc hendrerit, shelf imperdiet neque egestas. Suspendisse aliquet iaculis fermentum. Talk volutpat, tellus posuere laoreet consequat, mi lacus laoreet massa, sed vehicula mauris velit non lectus. Integer non trust nec neque congue faucibus porttitor sit amet elkhorn.</p>
    <p><a href="/admin">Visit the moderation console</a></p>

<div id='coralStreamEmbed'></div>
<script type='text/javascript' src='https://pym.nprapps.org/pym.v1.min.js'></script>
<script>
var pymParent = new pym.Parent('coralStreamEmbed', '/embed/stream', {title: 'Talk Comments'});
pymParent.onMessage('height', function(height) {document.querySelector('#coralStreamEmbed iframe').height = height + 'px'})</script>
</div>
  </body>
</html>
