<!DOCTYPE html>
<html>
  <body>
    <script type="text/javascript">
      <%/* set the auth data in localStorage, this will ensure that only
           javascript on the same domain can access the data, they can listen
           for updates by attaching to localStorage event changes */%>
      localStorage.setItem('auth', '<%- auth %>');
      setTimeout(function() { window.close(); }, 50);
    </script>
  </body>
</html>
