<!DOCTYPE html>
<html>
  <body>
    <script type="application/json" id="auth"><%- encodeJSONForHTML(auth) %></script>
    <script type="text/javascript" src="<%= STATIC_URL %>public/javascripts/auth-callback.js"></script>
  </body>
</html>
