<!DOCTYPE html>
<html>
  <head>
    <%- include partials/data %>
  </head>
  <body>
    <script type="application/json" id="auth"><%- encodeJSONForHTML(auth) %></script>
    <script type="text/javascript" src="<%= STATIC_URL %>static/coral-auth-callback/bundle.js"></script>
  </body>
</html>
