<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%- include partials/head %>
  </head>
  <body>
    <div id="talk-login-container"></div>
    <script src='https://www.google.com/recaptcha/api.js?render=explicit' async defer></script>
    <script src="<%= STATIC_URL %>static/coral-login/bundle.js"></script>
  </body>
</html>
