.root {
  width: 260px;
}

.title {
  padding-right: calc(2 * var(--mini-unit));
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.detail {
  display: block;
  color: var(--palette-text-secondary);
}

.textarea {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  border: 1px solid var(--palette-grey-light);
}

.textareaInfo {
  margin-top: -2px;
  text-align: right;
}
