body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #fff;
  color: #3B4A53;
}

.container {
  max-width: 675px;
  margin: 50px auto;
}

#root form {
  display: none;
  padding: 15px 0;
  /* max-width: 400px;
  margin: 0 auto; */
}

.legend {
  text-align: center;
  width: 100%;
  font-weight: bold;
}

section p, ul {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  line-height: 34px;
  font-size: 24px;
  letter-spacing: 0.3px;
}

h1 {
  font-family: Source Sans Pro;
  font-size: 48px;
  font-weight: 600;
  color: #000000;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 3px;
  padding-right: 30px;
}

small {
  color: #888;
}

input {
  border-radius: 4px;
  margin-top: 3px;
  border: 1px solid lightgrey;
  font-size: 16px;
  width: 100%;
  padding: 14px;
  height: 100%;
  display: inline-block;
}

button[type="submit"] {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 18px;
  text-align: center;
  color: white;

  border-radius: 2px;
  border: none;
  display: block;
  background-color: #3498DB;
  margin: 10px auto;
  padding: 13px;
  cursor: pointer;
}

.error-console {
  display: none;
  margin-top: 10px;
  border-radius: 2px;
  background-color: rgba(242, 101, 99, 0.1);
  border: 1px solid #F26563;
  padding: 10px;
}

.error-console span:before {
  font-family: 'Material Icons';
  content: '\E000';
  color: #000;
  display: inline-block;
  vertical-align: sub;
	width: 1.4em;
}

ul.check_list {
  list-style-type: none;
  margin: 0 0 0 0.5em;
}

ul.check_list li {
  text-indent: -1.4em;
}

ul.check_list li:before {
  font-family: 'Material Icons';
  content: '\E5CA';
  color: #000;
	float: left;
	width: 1.4em;
}
