.Toggleable:focus {
  outline: none;
}

.toggler {
  composes: buttonReset from "coral-framework/styles/reset.css";
}

/**
 * Up/Down Chevrons for the top right menu
 */
.chevron {
}
.chevron:before {
  content: '⌃';
  display: inline-block;
  position: relative;
  top: 0.25em;
}

/* Down Arrow */
.chevron.down:before {
  display: inline-block;
  position: relative;
  transform: rotate(180deg);
  top: 0;
}
