$moderateCardTabDefaultColor: var(--v2-colors-grey-100);
$moderateCardTabPrimaryColor: var(--v2-colors-grey-300);
$moderateCardTabSecondaryColor: var(--v2-palette-divider);

.root {
  display: flex;
  padding: 0;
  margin: 0;
}

.default {
  border-bottom: 1px solid $moderateCardTabDefaultColor;
}

.primary {
  border-bottom: 1px solid $moderateCardTabPrimaryColor;
}

.secondary {
  border-bottom: 1px solid $moderateCardTabSecondaryColor;
}

.streamSecondary {
  border-bottom: 1px solid $moderateCardTabSecondaryColor;
}

.streamPrimary {
  border-bottom: 1px solid $moderateCardTabPrimaryColor;
}
