{% extends "templates/base.njk" %}

{% block css %}
<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
<link rel="stylesheet" href="{{ BASE_PATH }}public/css/admin.css">

{# Custom CSS is included after the CSS block so that its overrides will apply #}
{% include "partials/custom-css.njk" %}
{% endblock %}
