.heading {
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-semi-bold);
  font-size: var(--v2-font-size-2);
}

.chart {
  font-family: var(--v2-font-family-primary);
}

.loader {
  height: 300px;
}

.legend {
  color: var(--v2-colors-coral-500);
  font-size: var(--v2-font-size-2);
  font-weight: var(--v2-font-weight-primary-semi-bold);
  margin-bottom: 0;
  position: relative;
  padding-left: var(--v2-spacing-6);
  &:before {
    width: 24px;
    height: 1px;
    background: var(--v2-colors-coral-500);
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
  }
}
