.root {
  composes: menuItem from "coral-ui/shared/typography.css";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--v2-spacing-2);
  width: 100%;
  text-align: left;
  line-height: 1;
}

.anchor {
  color: var(--palette-primary-main);
  text-decoration: underline;
  &:visited {
    color: var(--palette-primary-main);
  }
}

.root:disabled {
  opacity: 0.6;
}

.root:not(:disabled):active {
  background-color: var(--palette-primary-lightest);
}

.mouseHover {
  background-color: var(--palette-primary-lightest);
}

.iconBefore {
  display: flex;
  justify-content: baseline;
  align-items: center;
  color: var(--palette-grey-main);
  margin-right: var(--v2-spacing-2);
}
.iconAfter {
  display: flex;
  align-items: center;
  justify-content: baseline;
  margin-left: var(--v2-spacing-2);
  text-decoration: unset;
}
.iconOpenInNew {
  padding-top: 1px;
  color: var(--palette-primary-main);
}

.blankAdornment {
  padding-right: var(--v2-spacing-6);
}
