.container {
  padding: 10px;
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
}

.leftColumn {
  padding: 42px 56px;
  width: 234px;
}

.mainContent {
  width: calc(100% - 300px);
  padding: 34px 14px;
  box-sizing: border-box;
}

.searchIcon {
  vertical-align: middle;
  font-size: 18px;
  color: #ccc;
}

.searchBox {
  width: 100%;
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 2px;
  display: flex;
  background: white;
}

.searchBoxInput {
  border: none;
  flex: 1;
  font-size: 14px;
}

.searchBoxInput:focus {
  outline: none;
}

.optionHeader {
  font-size: 16px;
  font-weight: 900;
  margin-top: 15px;
}

.optionDetail {
  font-size: 16px;
  margin-top: 3px;
}

.streamsTable {
  width: 100%;
  border-left: none;
  border-right: none;
  white-space: pre-wrap;

  a {
    color: rgb(44, 44, 44);
    font-weight: 500;
    text-decoration: none;
  }

  th {
    font-size: 1.1em;
  }

  th.status {
    width: 100px;
  }
}

.radio {
  display: block;
}


.hidden {
  display: none;
}

.radioGroup {
  margin-top: 5px;
  span {
    margin-bottom: 7px;
    display: inline-block;
  }
}

.statusDropdown {
  width: 150px;
  text-align: left;
}

