{% macro css(src, integrity = '', prefix = '') %}
  {% if integrity %}
    <link type="text/css" rel="stylesheet" href="{{ prefix }}{{ src }}" integrity="{{ integrity }}"/>
  {% else %}
    <link type="text/css" rel="stylesheet" href="{{ prefix }}{{ src }}"/>
  {% endif %}
{% endmacro %}

{% macro js(src, integrity = '', prefix = '') %}
  {% if integrity %}
    <script type="application/javascript" src="{{ prefix }}{{ src }}" integrity="{{ integrity }}"></script>
  {% else %}
    <script type="application/javascript" src="{{ prefix }}{{ src }}"></script>
  {% endif %}
{% endmacro %}
