.root {
  margin-top: var(--v2-spacing-4);
}

.icon {
  color: var(--v2-colors-mono-100);
  margin-top: var(--v2-spacing-1);
  margin-left: var(--v2-spacing-1);
}

.header {
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-bold);
  font-size: var(--v2-font-size-6);
  color: var(--v2-colors-teal-600);
  margin: 0;
}
