.root {
}

.collapsed {
}

.open {
  padding-left: var(--v2-spacing-1);
}

.level1 {
  margin-left: var(--v2-spacing-5);
  border-left: 2px solid var(--v2-colors-grey-600);
}

.level2 {
  margin-left: calc(var(--v2-spacing-5) + var(--v2-spacing-2));
  border-left: 2px solid var(--v2-colors-grey-500);
}

.level3 {
  margin-left: calc(var(--v2-spacing-5) + 2 * var(--v2-spacing-2));
  border-left: 2px solid #8e9ba5;
}

.level4 {
  margin-left: calc(var(--v2-spacing-5) + 3 * var(--v2-spacing-2));
  border-left: 2px solid #b8bcbd;
}

.level5 {
  margin-left: calc(var(--v2-spacing-5) + 4 * var(--v2-spacing-2));
  border-left: 2px solid #cccfd0;
}

.level6 {
  margin-left: calc(var(--v2-spacing-5) + 5 * var(--v2-spacing-2));
  border-left: 2px solid #e1e2e3;
}

.noBorder {
  border: 0;
}
