.root {
  composes: button from "talk-ui/shared/typography.css";

  &:enabled,
  &:disabled {
    padding: 5px 20px;
    border-radius: var(--round-corners);
    background-color: transparent;
    /* TODO: hover styles for the default button */
  }
}

.root:disabled {
  opacity: 0.4;
  cursor: default;
}

.fullWidth:enabled,
.fullWidth:disabled {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.primary:enabled,
.primary:disabled {
  background-color: var(--palette-primary-main);
  color: #fff;
}

.primary:enabled {
  &:hover {
    background-color: var(--palette-primary-light);
  }

  &:active {
    background-color: var(--palette-primary-lighter);
  }
}

.primary:enabled.invert,
.primary:disabled.invert {
  background-color: transparent;
  border: 1px solid var(--palette-primary-main);
  color: var(--palette-primary-main);
}

.primary:enabled.invert {
  &:hover {
    border-color: var(--palette-primary-light);
    color: var(--palette-primary-light);
  }

  &:active {
    border-color: var(--palette-primary-lighter);
    color: var(--palette-primary-lighter);
  }
}

.secondary:enabled,
.secondary:disabled {
  background-color: var(--palette-secondary-main);
  color: #fff;
}

.secondary:enabled {
  &:hover {
    background-color: var(--palette-secondary-light);
  }
  &:active {
    background-color: var(--palette-secondary-lighter);
  }
}

.secondary:enabled.invert,
.secondary:disabled.invert {
  background-color: transparent;
  border: 1px solid var(--palette-secondary-main);
  color: var(--palette-secondary-main);
}

.secondary:enabled.invert {
  &:hover {
    border-color: var(--palette-secondary-light);
    color: var(--palette-secondary-light);
  }

  &:active {
    border-color: var(--palette-secondary-lighter);
    color: var(--palette-secondary-lighter);
  }
}

/**
 * This seems to be the best way to target modern touch device browsers.
 */
@media (-moz-touch-enabled: 1), (pointer: coarse) {
  /* TODO: Remove hover styles */
}
