.root {
  composes: button from "talk-ui/shared/typography.css";

  padding: 5px 20px;
  border-radius: var(--round-corners);
  background-color: transparent;
}

.root.disabled {
  opacity: 0.4;
  cursor: default;
}

.fullWidth {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.regular:not(.disabled) {
  &.mouseHover {
    color: var(--palette-secondary-light);
  }
  &:active {
    color: var(--palette-secondary-lighter);
  }
}

.primary,
.primary:not(.disabled) {
  background-color: var(--palette-primary-main);
  color: #fff;
}

.primary:not(.disabled) {
  &.mouseHover {
    background-color: var(--palette-primary-light);
  }

  &:active {
    background-color: var(--palette-primary-lighter);
  }
}

.primary.invert,
.primary.invert:not(.disabled) {
  background-color: transparent;
  border: 1px solid var(--palette-primary-main);
  color: var(--palette-primary-main);
}

.primary.invert:not(.disabled) {
  &.mouseHover {
    border-color: var(--palette-primary-light);
    color: var(--palette-primary-light);
  }

  &:active {
    border-color: var(--palette-primary-lighter);
    color: var(--palette-primary-lighter);
  }
}

.secondary,
.secondary:not(.disabled) {
  background-color: var(--palette-secondary-main);
  color: #fff;
}

.secondary:not(.disabled) {
  &.mouseHover {
    background-color: var(--palette-secondary-light);
  }
  &:active {
    background-color: var(--palette-secondary-lighter);
  }
}

.secondary.invert,
.secondary:not(.disabled).invert {
  background-color: transparent;
  border: 1px solid var(--palette-secondary-main);
  color: var(--palette-secondary-main);
}

.secondary:not(.disabled).invert {
  &.mouseHover {
    border-color: var(--palette-secondary-light);
    color: var(--palette-secondary-light);
  }

  &:active {
    border-color: var(--palette-secondary-lighter);
    color: var(--palette-secondary-lighter);
  }
}
