.root {
  display: inline-block;
  list-style: none;
  margin-right: var(--v2-spacing-3);
  margin-bottom: -1px;
}

.button {
  height: 100%;
  box-sizing: border-box;
  border-bottom: 0;
  list-style: none;
  font-weight: var(--v2-font-weight-primary-regular);
  font-family: var(--v2-font-family-primary);

  &:hover {
    cursor: pointer;
  }
}

.root:first-child .primary {
  border-top-left-radius: var(--v2-round-corners);
}

.root:last-child .primary {
  border-top-right-radius: var(--v2-round-corners);
}

.default {
  font-family: var(--v2-font-family-primary);
  color: var(--v2-palette-tab-default);
  padding-bottom: calc(var(--v2-spacing-1) + 2px);

  &.active {
    color: var(--v2-palette-tab-active);
    font-weight: var(--v2-font-weight-primary-bold);
    border-bottom: 2px solid var(--v2-palette-tab-active);
    padding-bottom: var(--v2-spacing-1);
  }
}

.primary {
  position: relative;
  background: var(--palette-grey-lightest);
  color: var(--palette-grey-main);
  border: 1px solid var(--palette-grey-lighter);
  padding: calc(0.5 * var(--mini-unit)) calc(var(--mini-unit) * 2);
  &.active {
    background-color: var(--palette-common-white);
    color: var(--palette-common-black);
    border-bottom: 0;
    border-top-width: calc(0.5 * var(--mini-unit));
    border-top-color: var(--palette-primary-main);
    border-radius: 0;
    z-index: 10;
  }
}

.secondary {
  font-family: var(--font-family-sans-serif);
  color: var(--palette-grey-dark);
  padding: calc(0.5 * var(--mini-unit)) calc(var(--mini-unit) * 2)
    calc(0.5 * var(--mini-unit) + 3px) calc(var(--mini-unit) * 2);

  &.active {
    color: var(--palette-text-primary);
    font-weight: var(--font-weight-medium);
    border-bottom: 3px solid var(--palette-primary-main);
    padding: calc(0.5 * var(--mini-unit)) calc(var(--mini-unit) * 2);
  }
}
