# job_environment will setup the environment for any job being executed.
job_environment: &job_environment
  NODE_ENV: test

# job_defaults applies all the defaults for each job.
job_defaults: &job_defaults
  working_directory: ~/coralproject/talk
  docker:
    - image: circleci/node:10
  environment:
    <<: *job_environment

version: 2
jobs:
  # npm_dependencies will install the dependencies used by all other steps.
  npm_dependencies:
    <<: *job_defaults
    steps:
      - checkout
      - attach_workspace:
          at: ~/coralproject/talk
      - restore_cache:
          keys:
            # Find a cache corresponding to this specific package-lock.json
            # checksum when this file is changed, this key will fail.
            - v1-dependency-cache-{{ checksum "package-lock.json" }}
            # Find the most recently generated cache used from any branch
            - v1-dependency-cache-
      - run:
          name: Update NPM
          command: sudo npm update -g npm
      # Disabled until there's capabilityies to ignore a specific vun. Related:
      # https://npm.community/t/please-provide-option-to-ignore-packages-in-npm-audit/403/4
      # https://github.com/npm/cli/pull/10
      # https://github.com/npm/rfcs/pull/18
      #
      #   - run:
      #       name: Audit dependencies
      #       command: npm audit
      - run:
          name: Install dependencies
          command: npm ci
      - save_cache:
          key: v1-dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - ~/.npm
      - persist_to_workspace:
          root: .
          paths: node_modules

  # lint will perform file linting.
  lint:
    <<: *job_defaults
    steps:
      - checkout
      - attach_workspace:
          at: ~/coralproject/talk
      - run:
          name: Generate schemas and types
          command: npm run generate
      - run:
          name: Perform linting
          command: npm run lint

  # unit_tests will run the unit tests.
  unit_tests:
    <<: *job_defaults
    environment:
      <<: *job_environment
      CI: true
      JEST_JUNIT_OUTPUT: "reports/junit/js-test-results.xml"
    steps:
      - checkout
      - attach_workspace:
          at: ~/coralproject/talk
      - run:
          name: Generate schemas and types
          command: npm run generate
      - run:
          name: Perform testing
          # We're running these tests in band to avoid errors where the circleci
          # test runner runs out of RAM trying to run them all in parallel.
          command: npm run test -- --ci --runInBand --testResultsProcessor="jest-junit"
      - store_test_results:
          path: reports/junit
      - store_artifacts:
          path: reports/junit

  # build will build the static assets and server typescript files.
  build:
    <<: *job_defaults
    steps:
      - checkout
      - attach_workspace:
          at: ~/coralproject/talk
      - restore_cache:
          keys:
            - v1-build-cache-{{ .Branch }}-{{ .Revision }}
            - v1-build-cache-{{ .Branch }}-
            - v1-build-cache-
      - run:
          name: Build
          command: npm run build
      - run:
          name: Verify Bundle Size
          command: npx bundlesize
      - save_cache:
          key: v1-build-cache-{{ .Branch }}-{{ .Revision }}
          paths:
            - ./dist
      - persist_to_workspace:
          root: .
          paths: dist

  # docker_tests will test that the docker build process completes.
  docker_tests:
    <<: *job_defaults
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build
          command: docker build -t coralproject/talk:next --build-arg REVISION_HASH=${CIRCLE_SHA1} .
          no_output_timeout: 20m

  # release_docker will build and push the Docker image.
  release_docker:
    <<: *job_defaults
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Login
          command: docker login -u $DOCKER_USER -p $DOCKER_PASS
      - run:
          name: Build
          command: docker build -t coralproject/talk:next --build-arg REVISION_HASH=${CIRCLE_SHA1} .
          no_output_timeout: 20m
      - run:
          name: Push
          command: docker push coralproject/talk:next

workflows:
  version: 2
  build-and-test:
    jobs:
      # Run the docker build test on all branches except for next as we'll
      # already be releasing via docker with that route.
      - docker_tests:
          filters:
            branches:
              ignore: next
      - npm_dependencies
      - lint:
          requires:
            - npm_dependencies
      - unit_tests:
          requires:
            - npm_dependencies
      - build:
          requires:
            - npm_dependencies
      - release_docker:
          requires:
            - lint
            - unit_tests
            - build
          filters:
            branches:
              only: next
