@import "variables.css";

.root {
  &:not(:first-child) {
    border-top: 1px solid var(--v2-palette-divider);
  }
  &[aria-selected="true"] {
    @mixin outline;
  }
}

.link {
  justify-content: center;
  min-height: calc(4 * var(--mini-unit));
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-family-primary-semi-bold);
  font-size: var(--v2-font-size-3);
  line-height: var(--v2-line-height-reset);
}

.icon {
  font-weight: var(--font-weight-medium);
  margin-top: -2px;
}
