.root {
  border: 1px solid var(--palette-success-main);
  box-sizing: border-box;
  border-radius: 2px;
  width: 65px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--palette-success-main);
  &:active {
    background-color: var(--palette-success-main);
    color: var(--palette-common-white);
  }
}

.invert {
  background-color: var(--palette-success-main);
  color: var(--palette-common-white);
}

.icon {
  font-weight: var(--font-weight-bold);
  color: inherit;
}
