.root {
  composes: root from "talk-stream/shared/htmlContent.css";

  mark {
    background-color: var(--palette-highlight);
    padding: 0 2px;
  }
  a {
    color: var(--palette-primary-dark);
    background-color: var(--palette-highlight);
    padding: 0 2px;
  }
}
