.root {
  /* acts like min-width in a cell */
  height: calc(4.5 * var(--mini-unit));
  text-align: left;
  padding: var(--mini-unit) calc(1.5 * var(--mini-unit));
  box-sizing: border-box;
}

.header {
  composes: tableHeading from "~coral-ui/shared/typography.css";
}

.body {
  composes: tableData from "~coral-ui/shared/typography.css";
}

.alignCenter {
  text-align: center;
}

.alignEnd {
  text-align: right;
}
