$tableHeaderAltTextColor: var(--v2-colors-mono-100);

.titleColumn {
  width: 50%;
}
.titleColumnNarrow {
  width: 32.5%;
}
.authorColumn {
  width: 17.5%;
}
.publishDateColumn {
  width: 17.5%;
}
.statusColumn {
  width: 15%;
}
.siteColumn {
  width: 17.5%;
}
.clickToModerate {
  font-size: var(--v2-font-size-2);
  font-weight: var(--v2-font-weight-primary-semi-bold);
  color: $tableHeaderAltTextColor;
}
