.titleColumn {
  width: 50%;
}
.authorColumn {
  width: 17.5%;
}
.publishDateColumn {
  width: 17.5%;
}
.statusColumn {
  width: 15%;
}
.clickToModerate {
  font-size: var(--v2-font-size-2);
  font-weight: var(--v2-font-weight-primary-semi-bold);
  color: var(--v2-palette-table-header-alt-text);
}
