.root {
  background-color: var(--palette-grey-200);

  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-semi-bold);
  font-size: var(--font-size-2);
  line-height: var(--line-height-3);
  color: var(--palette-text-500);

  padding: var(--spacing-4);

  text-align: center;
}

.fullWidth {
  width: 100%;
}
