.root {
  min-height: 0px;
  padding: calc(0.5 * var(--mini-unit));
  margin-left: calc(2 * var(--mini-unit));
  float: right;
  position: relative;
  top: -5px;
  right: -5px;
}

.icon {
  display: block;
}
