@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url("material-design-icons/iconfont/MaterialIcons-Regular.woff2")
      format("woff2"),
    url("material-design-icons/iconfont/MaterialIcons-Regular.woff")
      format("woff"),
    url("material-design-icons/iconfont/MaterialIcons-Regular.ttf")
      format("truetype");
}

.icon {
  font-family: "Material Icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  letter-spacing: 0;

  /* Enable Ligatures */
  font-feature-settings: "liga";
  font-variant-ligatures: "discretionary-ligatures";

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
