.heading1 {
  font-size: calc(24rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: "Manuale";
  line-height: calc(32em / 24);
  letter-spacing: calc(0.2em / 16);
  color: var(--palette-text-primary);
}

.heading2 {
  font-size: calc(20rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: "Manuale";
  line-height: calc(24em / 20);
  color: var(--palette-text-primary);
}

.heading3 {
  font-size: calc(18rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: "Manuale";
  line-height: calc(20em / 18);
  letter-spacing: calc(0.2em / 16);
  color: var(--palette-text-primary);
}

.heading4 {
  font-size: calc(16rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: "Manuale";
  line-height: calc(18em / 16);
  letter-spacing: calc(0.2em / 16);
  color: var(--palette-text-primary);
}

.subtitle1 {
}

.subtitle2 {
}

.body2 {
}

.body1 {
  font-size: calc(16rem / var(--rem-base));
  font-weight: var(--font-weight-regular);
  font-family: "Source Sans Pro";
  line-height: calc(18em / 16);
  letter-spacing: calc(0.2em / 16);
  color: var(--palette-text-primary);
}

.button {
  color: var(--palette-text-secondary);
  font-family: "Source Sans Pro";
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  letter-spacing: calc(0.57em / 16);
}

.overline {
}

.timestamp {
  color: var(--palette-text-secondary);
  font-family: "Source Sans Pro";
  font-weight: var(--font-weight-medium);
  font-size: 14px;
  line-height: calc(18em / 16);
  letter-spacing: calc(0.2em / 16);
}
