@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local("Source Sans Pro Light "), local("Source Sans Pro-Light"),
    url("typeface-source-sans-pro/files/source-sans-pro-latin-300.woff2")
      format("woff2"),
    url("typeface-source-sans-pro/files/source-sans-pro-latin-300.woff")
      format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Source Sans Pro Regular italic"),
    local("Source Sans Pro-Regularitalic"),
    url("typeface-source-sans-pro/files/source-sans-pro-latin-400.woff2")
      format("woff2"),
    url("typeface-source-sans-pro/files/source-sans-pro-latin-400.woff")
      format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local("Source Sans Pro SemiBold italic"),
    local("Source Sans Pro-SemiBolditalic"),
    url("typeface-source-sans-pro/files/source-sans-pro-latin-600.woff2")
      format("woff2"),
    url("typeface-source-sans-pro/files/source-sans-pro-latin-600.woff")
      format("woff");
}

@font-face {
  font-family: "Manuale";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Manuale Regular "), local("Manuale-Regular"),
    url("typeface-manuale/files/manuale-latin-400.woff2") format("woff2"),
    url("typeface-manuale/files/manuale-latin-400.woff") format("woff");
}

@font-face {
  font-family: "Manuale";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local("Manuale SemiBold "), local("Manuale-SemiBold"),
    url("typeface-manuale/files/manuale-latin-600.woff2") format("woff2"),
    url("typeface-manuale/files/manuale-latin-600.woff") format("woff");
}

.heading1 {
  font-size: calc(24rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: "Manuale";
  line-height: calc(32em / 24);
  letter-spacing: calc(0.2em / 16);
  color: var(--palette-text-primary);
}

.heading2 {
  font-size: calc(20rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: "Manuale";
  line-height: calc(24em / 20);
  color: var(--palette-text-primary);
}

.heading3 {
  font-size: calc(18rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: "Manuale";
  line-height: calc(20em / 18);
  letter-spacing: calc(0.2em / 16);
  color: var(--palette-text-primary);
}

.heading4 {
  font-size: calc(16rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: "Manuale";
  line-height: calc(18em / 16);
  letter-spacing: calc(0.2em / 16);
  color: var(--palette-text-primary);
}

.bodyCopy {
  font-size: calc(16rem / var(--rem-base));
  font-weight: var(--font-weight-regular);
  font-family: "Source Sans Pro";
  line-height: calc(18em / 16);
  letter-spacing: calc(0.2em / 16);
  color: var(--palette-text-primary);
}

.bodyCopyBold {
  composes: bodyCopy;
  font-weight: var(--font-weight-medium);
}

.button {
  color: var(--palette-text-secondary);
  font-family: "Source Sans Pro";
  font-weight: var(--font-weight-medium);
  font-size: 14px;
  line-height: calc(18em / 16);
  letter-spacing: calc(0.57em / 16);
}

.buttonLarge {
  color: var(--palette-text-secondary);
  font-family: "Source Sans Pro";
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  line-height: calc(20em / 16);
  letter-spacing: calc(0.57em / 16);
}

.timestamp {
  color: var(--palette-text-secondary);
  font-family: "Source Sans Pro";
  font-weight: var(--font-weight-medium);
  font-size: 14px;
  line-height: calc(18em / 16);
  letter-spacing: calc(0.2em / 16);
}

.alertMessage {
  color: var(--palette-common-black);
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  font-size: calc(16rem / var(--rem-base));
  line-height: normal;
  letter-spacing: calc(0.2em / 16);
}

.textField {
  font-size: calc(16rem / var(--rem-base));
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family);
  line-height: calc(18em / 16);
  letter-spacing: calc(0.2em / 16);
  color: var(--palette-text-primary);
}

.inputLabel {
  font-size: calc(18rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: "Manuale";
  line-height: calc(18em / 16);
  letter-spacing: calc(0.2em / 16);
  color: var(--palette-text-primary);
}

.placeholder {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  line-height: calc(16rem / var(--rem-base));
  font-size: calc(16rem / var(--rem-base));
  color: var(--palette-grey-lighter);
}
