@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-display: block;
  font-weight: 300;
  src: local("Source Sans Pro Light "), local("Source Sans Pro-Light"),
    url("typeface-source-sans-pro/files/source-sans-pro-latin-300.woff2")
      format("woff2"),
    url("typeface-source-sans-pro/files/source-sans-pro-latin-300.woff")
      format("woff");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-display: block;
  font-weight: 300;
  src: local("Source Sans Pro Light "), local("Source Sans Pro-Light"),
    url("typeface-source-sans-pro/files/source-sans-pro-latin-300italic.woff2")
      format("woff2"),
    url("typeface-source-sans-pro/files/source-sans-pro-latin-300italic.woff")
      format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: local("Source Sans Pro Regular italic"),
    local("Source Sans Pro-Regularitalic"),
    url("typeface-source-sans-pro/files/source-sans-pro-latin-400.woff2")
      format("woff2"),
    url("typeface-source-sans-pro/files/source-sans-pro-latin-400.woff")
      format("woff");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-display: block;
  font-weight: 400;
  src: local("Source Sans Pro Light "), local("Source Sans Pro-Light"),
    url("typeface-source-sans-pro/files/source-sans-pro-latin-400italic.woff2")
      format("woff2"),
    url("typeface-source-sans-pro/files/source-sans-pro-latin-400italic.woff")
      format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-display: block;
  font-weight: 600;
  src: local("Source Sans Pro SemiBold italic"),
    local("Source Sans Pro-SemiBolditalic"),
    url("typeface-source-sans-pro/files/source-sans-pro-latin-600.woff2")
      format("woff2"),
    url("typeface-source-sans-pro/files/source-sans-pro-latin-600.woff")
      format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src: local("Source Sans Pro SemiBold italic"),
    local("Source Sans Pro-SemiBolditalic"),
    url("typeface-source-sans-pro/files/source-sans-pro-latin-700.woff2")
      format("woff2"),
    url("typeface-source-sans-pro/files/source-sans-pro-latin-700.woff")
      format("woff");
}

@font-face {
  font-family: "Manuale";
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: local("Manuale Regular "), local("Manuale-Regular"),
    url("typeface-manuale/files/manuale-latin-400.woff2") format("woff2"),
    url("typeface-manuale/files/manuale-latin-400.woff") format("woff");
}

@font-face {
  font-family: "Manuale";
  font-style: normal;
  font-display: block;
  font-weight: 600;
  src: local("Manuale SemiBold "), local("Manuale-SemiBold"),
    url("typeface-manuale/files/manuale-latin-600.woff2") format("woff2"),
    url("typeface-manuale/files/manuale-latin-600.woff") format("woff");
}

@font-face {
  font-family: "Manuale";
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src: local("Manuale SemiBold "), local("Manuale-SemiBold"),
    url("typeface-manuale/files/manuale-latin-700.woff2") format("woff2"),
    url("typeface-manuale/files/manuale-latin-700.woff") format("woff");
}

.heading1 {
  @mixin heading1;
}

.heading2 {
  @mixin heading2;
}

.heading3 {
  @mixin heading3;
}

.heading4 {
  @mixin heading4;
}
.heading5 {
  @mixin heading5;
}

.header1 {
  @mixin header1;
}

.header2 {
  @mixin header2;
}

.header3 {
  @mixin header3;
}

.header4 {
  @mixin header4;
}
.header5 {
  @mixin header5;
}

.bodyCopy {
  @mixin bodyCopy;
}

.button {
  color: var(--palette-text-secondary);
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-medium);
  font-size: calc(14rem / var(--rem-base));
  line-height: calc(18em / 14);
  letter-spacing: calc(0.57em / 14);
}

.buttonLarge {
  color: var(--palette-text-secondary);
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-medium);
  font-size: calc(16rem / var(--rem-base));
  line-height: calc(20em / 16);
  letter-spacing: calc(0.57em / 16);
}

.timestamp {
  color: var(--palette-text-secondary);
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-medium);
  font-size: calc(14rem / var(--rem-base));
  line-height: calc(18em / 14);
  letter-spacing: 0;
}

.alertMessage {
  color: var(--palette-common-black);
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-medium);
  font-size: calc(16rem / var(--rem-base));
  line-height: calc(18em / 16);
  letter-spacing: calc(-0.1em / 16);
}

.inputText {
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-sans);
  font-size: calc(16rem / var(--rem-base));
  line-height: 1;
  letter-spacing: calc(0.2em / 16);
  color: var(--palette-text-primary);
}

.inputLabel {
  font-size: calc(18rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-serif);
  line-height: calc(18em / 18);
  letter-spacing: calc(0.2em / 18);
  color: var(--palette-text-primary);
}

.detail {
  font-size: calc(14rem / var(--rem-base));
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-sans);
  line-height: calc(18em / 16);
  letter-spacing: calc(0.2em / 16);
  color: var(--palette-text-secondary);
}

.placeholder {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-regular);
  font-size: calc(16rem / var(--rem-base));
  line-height: calc(20em / 16);
  letter-spacing: 0;
  color: var(--palette-grey-lighter);
}

.placeholderPseudo::placeholder {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-regular);
  font-size: calc(16rem / var(--rem-base));
  line-height: calc(20em / 16);
  letter-spacing: 0;
  color: var(--palette-grey-lighter);
}

.menuItem {
  font-size: calc(16rem / var(--rem-base));
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-sans);
  line-height: calc(19em / 16);
  letter-spacing: calc(0.2em / 16);
  color: var(--palette-text-primary);
}

.navItem {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-medium);
  font-size: calc(16rem / var(--rem-base));
  letter-spacing: calc(-0.1em / 16);
  text-transform: uppercase;
}

.navItemActive {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-bold);
  font-size: calc(16rem / var(--rem-base));
  letter-spacing: calc(-0.35em / 16);
  text-transform: uppercase;
}

.adminTabItem {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-medium);
  font-size: calc(14rem / var(--rem-base));
  letter-spacing: calc(-0.1em / 14);
  text-transform: uppercase;
}

.adminTabItemActive {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-bold);
  font-size: calc(14rem / var(--rem-base));
  letter-spacing: calc(-0.35em / 14);
  text-transform: uppercase;
}

.markerText {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-medium);
  font-size: calc(13rem / var(--rem-base));
  letter-spacing: calc(-0.35em / 13);
}

.tagText {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-regular);
  font-size: calc(14rem / var(--rem-base));
  letter-spacing: calc(-0.2em / 14);
}

.sideNavigationItem {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-regular);
  font-size: calc(18rem / var(--rem-base));
  line-height: calc(18em / 18);
  letter-spacing: calc(0.2em / 18);
  text-decoration: none;
  text-transform: uppercase;
  color: var(--palette-grey-main);
}

.sideNavigationActive {
  composes: sideNavigationItem;
  font-weight: var(--font-weight-bold);
  letter-spacing: calc(0.1em / 18);
  color: var(--palette-text-primary);
}

.tableHeading {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-medium);
  font-size: calc(14rem / var(--rem-base));
  line-height: calc(20em / 14);
  color: var(--palette-grey-dark);
}

.tableData {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-regular);
  font-size: calc(14rem / var(--rem-base));
  line-height: calc(14em / 14);
  color: var(--palette-grey-dark);
}
