.root {
  margin: 0;
  padding: 0;
}

.heading1 {
  composes: heading1 from "talk-ui/shared/typography.css";
}

.heading2 {
  composes: heading2 from "talk-ui/shared/typography.css";
}

.heading3  {
  composes: heading3 from "talk-ui/shared/typography.css";
}

.heading4  {
  composes: heading4 from "talk-ui/shared/typography.css";
}

.subtitle1  {
  composes: subtitle1 from "talk-ui/shared/typography.css";
}

.subtitle2  {
  composes: subtitle2 from "talk-ui/shared/typography.css";
}

.body1 {
  composes: body1 from "talk-ui/shared/typography.css";
}

.body2  {
  composes: body2 from "talk-ui/shared/typography.css";
}

.button {
  composes: button from "talk-ui/shared/typography.css";
}

.overline {
  composes: overline from "talk-ui/shared/typography.css";
}

.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.alignJustify {
  text-align: justify;
}

.noWrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gutterBottom {
  margin-bottom: 0.35em;
}

.paragraph {
  margin-bottom: calc(2px * $spacing-unit);
}

.colorInherit {
  color: inherit;
}

.colorPrimary {
  color: $palette-primary-main;
}

.colorSecondary {
  color: $palette-secondary-main;
}

.colorTextSecondary {
  color: $palette-text-secondary;
}

.colorError {
  color: $palette-error-main;
}
