.root {
  margin: 0;
  padding: 0;
}

.heading1 {
  composes: heading1 from "coral-ui/shared/typography.css";
}

.heading2 {
  composes: heading2 from "coral-ui/shared/typography.css";
}

.heading3 {
  composes: heading3 from "coral-ui/shared/typography.css";
}

.heading4 {
  composes: heading4 from "coral-ui/shared/typography.css";
}

.heading5 {
  composes: heading5 from "coral-ui/shared/typography.css";
}

.header1 {
  composes: header1 from "coral-ui/shared/typography.css";
}

.header2 {
  composes: header2 from "coral-ui/shared/typography.css";
}

.header3 {
  composes: header3 from "coral-ui/shared/typography.css";
}

.header4 {
  composes: header4 from "coral-ui/shared/typography.css";
}

.header5 {
  composes: header5 from "coral-ui/shared/typography.css";
}

.bodyCopy {
  composes: bodyCopy from "coral-ui/shared/typography.css";
}

.bodyCopyBold {
  composes: bodyCopy from "coral-ui/shared/typography.css";
  font-weight: var(--font-weight-medium);
}

.bodyShort {
  composes: bodyShort from "coral-ui/shared/typography.css";
}

.fieldDescription {
  composes: fieldDescription from "coral-ui/shared/typography.css";
}

.button {
  composes: button from "coral-ui/shared/typography.css";
}

.buttonLarge {
  composes: buttonLarge from "coral-ui/shared/typography.css";
}

.inputLabel {
  composes: inputLabel from "coral-ui/shared/typography.css";
}

.detail {
  composes: detail from "coral-ui/shared/typography.css";
}

.timestamp {
  composes: timestamp from "coral-ui/shared/typography.css";
}

.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.alignJustify {
  text-align: justify;
}

.noWrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gutterBottom {
  margin-bottom: 0.35em;
}

.paragraph {
  margin-bottom: var(--mini-unit);
}

.colorPrimary {
  color: var(--palette-primary-main);
}

.colorTextPrimary {
  color: var(--palette-text-primary);
}

.colorTextSecondary {
  color: var(--palette-text-secondary);
}

.colorTextLight {
  color: var(--palette-text-light);
}

.colorError {
  color: var(--palette-error-main);
}

.colorErrorDark {
  color: var(--palette-error-dark);
}

.colorWarning {
  color: var(--palette-warning-main);
}

.colorSuccess {
  color: var(--palette-success-darkest);
}
