.root {
  margin: 0;
  padding: 0;
}

.heading1 {
  composes: heading1 from "talk-ui/shared/typography.css";
}

.heading2 {
  composes: heading2 from "talk-ui/shared/typography.css";
}

.heading3 {
  composes: heading3 from "talk-ui/shared/typography.css";
}

.heading4 {
  composes: heading4 from "talk-ui/shared/typography.css";
}

.subtitle1 {
  composes: subtitle1 from "talk-ui/shared/typography.css";
}

.subtitle2 {
  composes: subtitle2 from "talk-ui/shared/typography.css";
}

.body1 {
  composes: body1 from "talk-ui/shared/typography.css";
}

.body2 {
  composes: body2 from "talk-ui/shared/typography.css";
}

.button {
  composes: button from "talk-ui/shared/typography.css";
}

.overline {
  composes: overline from "talk-ui/shared/typography.css";
}

.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.alignJustify {
  text-align: justify;
}

.noWrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gutterBottom {
  margin-bottom: 0.35em;
}

.paragraph {
  margin-bottom: calc(1px * var(--spacing-unit));
}

.colorInherit {
  color: inherit;
}

.colorPrimary {
  color: var(--palette-primary-main);
}

.colorSecondary {
  color: var(--palette-secondary-main);
}

.colorTextSecondary {
  color: var(--palette-text-secondary);
}

.colorError {
  color: var(--palette-error-main);
}
