.root {
  width: 214px;
  padding: var(--spacing-3);
}

.sectionLabel {
  display: block;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-primary-bold);
}

.optionAction {
  padding: 0;
  margin: var(--spacing-1) 0;
  color: $colors-teal-600;
  font-weight: var(--font-weight-secondary-regular);
  text-decoration: underline;
}

.buttons {
  margin-top: var(--spacing-1);
}

.cancelButton {
  width: 109px;
  align-self: flex-start;
}

.rejectButton {
  width: 73px;
  margin-left: auto;
}
