.root {
  width: 214px;
  padding: var(--spacing-3);
}

.innerWrapper {
  width: 190px;
  flex-direction: column;
}

.sectionLabel {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-primary-bold);
}

.addExplanation {
  padding: 0;
  margin: var(--spacing-1) 0;
}

.buttons {
  margin-top: var(--spacing-1);
}

.cancelButton {
  width: 109px;
  align-self: flex-start;
}

.rejectButton {
  width: 73px;
  margin-left: auto;
}
