$coral_orange: #f67150;
$sidebar_width: 320px;
$sidebar_background: $coral_orange;
$sidebar_color: white;
$sidebar_gutter: 35px;
$content_gutter: 40px;
$header_padding_bottom: $content_gutter;
$breakpoint: 960px;
$hljs_string_color: $coral_orange;
$code_background: #F0F0F0;
$code_border: 1px solid darken($code_background, 10%);
$copy_button_background: white;
$coral_button_background: $coral_orange;
$coral_button_border: darken($coral_button_background, 5%);
$demo_border: lighten($coral_button_border, 30%);
$coral_button_border_color: $coral_orange;
$coral_button_color: black;
$coral_button_hover_color: $coral_button_border_color;
$coral_button_invert_border_color: lighten($coral_button_border_color, 20%);
$coral_button_invert_color: white;
$coral_button_invert_hover_color: $coral_button_invert_border_color;