.title {
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-semi-bold);
  font-size: var(--v2-font-size-4);
  line-height: var(--v2-line-height-5);

  color: var(--v2-colors-mono-900);

  margin-top: var(--v2-spacing-4);
  margin-bottom: var(--v2-spacing-3);
}

.header {
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-semi-bold);
  font-size: var(--v2-font-size-3);
  line-height: var(--v2-line-height-5);

  color: var(--v2-colors-mono-900);

  margin-bottom: var(--v2-spacing-2);
}

.changeButton {
  padding-bottom: var(--v2-spacing-3);
}

.changeButtonMessage {
  padding-bottom: var(--v2-spacing-2);
}

.footer {
  padding-top: var(--v2-spacing-4);
  padding-bottom: var(--v2-spacing-4);
}

.footerButton {
  margin-right: var(--v2-spacing-2);
}

.successContainer {
  margin-bottom: var(--v2-spacing-3);
}

.successIcon {
  min-width: 25px;
  color: var(--v2-colors-green-500);
}
