.container {
  display: flex;

  h3 {
    color: black;
    font-size: 1.26em;
    font-weight: 500;
  }
}

.leftColumn {
  padding: 42px 56px;
  width: 234px;
}

.mainContent {
  width: calc(100% - 300px);
  padding: 10px 14px;
  box-sizing: border-box;
  max-width: 718px;
}

.configSetting {
  margin-bottom: 20px;
  align-items: flex-start;
  min-height: 100px;
  max-width: 600px;

  h3 {
    margin: 0;
  }

  .actions {
    display: inline-block;
    width: 100%;
      .copiedText {
        display: inline-block;
        color: #00796b;
        padding: 12px;
        font-size: 14px;
        float: right;
      }

      .copyButton {
        display: inline-block;
        width: 200px;
        float: right;
      }
  }
}

.settingsError {
  color: #d50000;
}

.settingsError i {
  font-size: 14px;
  margin-right: 3px;
}

.settingsHeader {
  margin-top: 3px;
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 500;
}

.disabledSettingText {
  color: #ccc;
}

.configSettingInfoBox {
  min-height: 100px;
  margin-bottom: 20px;
  cursor: pointer;
  width: auto;
  height: auto;
  text-align: left;
  overflow: visible;
}

.configSettingEmbed {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  display: block;
}

.configTimeoutSelect {
  display: inline-block;
  margin-left: 20px;
}

.charCountTexfield {
  width: 4em;
  padding: 0px;
  border-color: #ccc;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  font-size: 14px;
  text-align: center;
}

.charCountTexfieldEnabled {
  border-color: #00796b;
}

.charCountTexfield:focus {
  outline: none;
}

.changedSave {
  background-color: #00796B;
  color: white;
}

.embedInput {
  width: 100%;
  display: block;
  outline: none;
  border: 1px solid rgba(0,0,0,.12);
  padding: 6px;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 5px auto;
  min-height: 175px;
  font-size: 14px;
  resize: none;
}

#bannedWordlist, #suspectWordlist {
  display: block;
  input {
    width: 100%;
  }
}

.customCSSInput {
  width: 100%;
  font-size: 14px;
  padding: 14px;
  letter-spacing: 0.03em;
  color: #555;
  box-sizing: border-box;
}

.enabledSetting {
  border-left-color: #00796b;
  border-left-style: solid;
  border-left-width: 7px;
}

.disabledSetting {
  padding-left: 22px;
}

.hidden {
  display: none;
}

.saveBox {
  margin-top: 38px;
}

.settingsSection {
  padding-bottom: 200px;
  .action {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
  }

  .content {
    display: inline-block;
    padding-left: 30px;
  }
}

.Configure {

  p {
    line-height: 1.2;
    max-width: 550px;
  }

  .wrapper {
    width: 550px;
  }

  .descriptionBox {
    margin-top: 15px;
    max-width: 550px;

    input {
      height: 150px;
    }
  }
}
