.container {
  display: flex;

  h3 {
    color: black;
    font-size: 1.76em;
    font-weight: 500;
  }
}

.leftColumn {
  padding: 42px 56px;
  width: 234px;
}

.mainContent {
  width: calc(100% - 300px);
  padding: 10px 14px;
  box-sizing: border-box;
  max-width: 718px;
}

.configSetting {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 95px;
  margin-bottom: 10px;
  align-items: flex-start;
}

.settingsError {
  color: #d50000;
}

.settingsError i {
  font-size: 14px;
  margin-right: 3px;
}

.settingsHeader {
  margin-top: 3px;
  margin-bottom: 10px;
}

.disabledSettingText {
  color: #ccc;
}

.configSettingInfoBox {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  width: auto;
  height: auto;
  text-align: left;
}

.configSettingInfoBox p {
  font-size: 12px;
  bottom: 0;
}

.configSettingEmbed {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  display: block;
}

.configTimeoutSelect {
  display: inline-block;
  margin-left: 20px;
}

.charCountTexfield {
  width: 4em;
  padding: 0px;
  border-color: #ccc;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.charCountTexfieldEnabled {
  border-color: #4caf50;
}

.charCountTexfield:focus {
  outline: none;
}

.changedSave {
  background-color: #00796B;
  color: white;
}

.copiedText {
  color: #008000;
  float: right;
  padding: 12px;
  font-size: 14px;
}

.copyButton {
  float: right;
}

.embedInput {
  border-radius: 3px;
  border: 1px solid #ccc;
  display: block;
  width: 90%;
  vertical-align: middle;
  margin-bottom: 10px;
  color: #555;
  padding: 14px;
  font-size: 14px;
  letter-spacing: 0.03em;
}

#bannedWordlist, #suspectWordlist {
  width: 100%;
  padding: 10px;

  input {
    width: 100%;
  }
}

.wordlistHeader {
  font-weight: bold;
  font-size:18px;
  margin-bottom:3px;
}

.enabledSetting {
  border-left-color: #4caf50;
  border-left-style: solid;
  border-left-width: 7px;
}

.disabledSetting {
  padding-left: 22px;
}

.hidden {
  display: none;
}

.saveBox {
  margin-top: 38px;
}
