.root {
  display: flex;
  width: calc(29 * var(--mini-unit));
  align-items: center;
  height: 34px;
}

.input {
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-regular);
  font-size: var(--v2-font-size-3);
  line-height: var(--v2-line-height-reset);
  position: relative;
  display: block;
  padding: var(--v2-spacing-2);
  box-sizing: border-box;
  border-radius: var(--round-corners);
  width: 100%;
  align-self: stretch;
  margin-top: 0;
  margin-bottom: 0;

  &:read-only {
    background-color: var(--v2-palette-input-disabled-background);
  }
  &:disabled {
    background-color: var(--v2-palette-input-disabled-background);
  }
  &:focus {
    outline: none;
    border: 1px solid var(--v2-palette-input-focused-border);
    box-shadow: inset 0px 0px 0px 1px var(--v2-palette-input-focused-border);
  }
  &::placeholder {
    color: var(--v2-palette-input-placeholder);
  }
}

.adornment {
  margin-left: calc(0.5 * var(--mini-unit));
}

.colorRegular {
  color: var(--v2-palette-input-value);
  background-color: var(--v2-palette-input-background);
  border: 1px solid var(--v2-palette-input-border);
}

.colorError {
  color: var(--v2-palette-input-value);
  background-color: var(--v2-palette-input-background);
  border: 2px solid var(--v2-palette-input-error-border);
}

.fullWidth {
  width: 100%;
}

.textAlignCenter {
  text-align: center;
}

.seamlessAdornment {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  & + .adornment {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: stretch;
  }
}
