.container {
  width: 100%;
  text-align: center;
}

.root {
  display: inline-block;

  max-width: calc(70 * var(--spacing-2));

  @media (min-width: $breakpoints-xs) {
    max-width: calc(60 * var(--spacing-2));
  }

  text-align: left;
}
