.root {
  font-family: var(--font-family-primary);
}

.list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.emptyList {
  margin: var(--spacing-3) 0 0 0;
  color: var(--palette-text-100);
  font-weight: var(--font-weight-primary-semi-bold);
}
