#coral {
	--font-family-primary: MetricWeb, sans-serif;
	--font-family-secondary: MetricWeb, sans-serif;
	--font-weight-primary-bold: 600;
	--font-weight-primary-semiBold: 500;
	--font-weight-primary-regular: 400;
	--font-weight-secondary-regular: 400;
	--palette-background-body: #fff1e5;
	--palette-text-500: #33302e;
	--palette-error-400: #cc1451;
	--palette-error-800: #b31247;
	--palette-error-900: #b31247;
	--palette-error-500: #b31247;
	--palette-success-500: #0d7680;
	--palette-success-400: #108d99;
	--palette-grey-100: #fff1e5;
	--palette-grey-200: #fff1e5;
	--palette-primary-400: #0d7680;
	--palette-primary-500: #0d7680;
	--palette-primary-600: #0d7680;
	--palette-primary-700: #0d7680;
	--ft-magnify: 1.0666666667;
	--font-size-1: calc(0.75rem * var(--ft-magnify));
	--font-size-2: calc(0.875rem * var(--ft-magnify));
	--font-size-3: calc(1rem * var(--ft-magnify));
	--font-size-4: calc(1.125rem * var(--ft-magnify));
	--font-size-5: calc(1.25rem * var(--ft-magnify));
	--font-size-6: calc(1.5rem * var(--ft-magnify));
	--font-size-7: calc(1.75rem * var(--ft-magnify));
	--font-size-8: calc(2rem * var(--ft-magnify));
	--font-size-9: calc(2.25rem * var(--ft-magnify))
}

.coral-comment-content {
	font-family: var(--font-family-primary);
	font-style: normal;
	font-weight: var(--font-weight-primary-regular);
	font-size: 1rem;
	line-height: 1.45rem;
	color: var(--palette-text-900);
	word-wrap: break-word
}

.coral-viewerBox {
	display: none
}

.coral-tabBar {
	border-bottom-width: 0
}

.coral-tabBar li:only-child {
	display: none
}

.coral-tabBarSecondary {
	border-bottom-color: #0d7680
}

.coral-guidelines {
	background-color: #f2dfce;
	border-color: #f2dfce;
	border-radius: 0
}

.coral-guidelines a {
	text-decoration: none;
	cursor: pointer;
	border-bottom: .25ex solid;
	color: #0a5e66;
	border-bottom-color: #ced4cc;
	-webkit-text-decoration-color: #ced4cc;
	text-decoration-color: #ced4cc
}

@supports (text-decoration-thickness:0.25ex) {
	.coral-guidelines a {
		border-bottom: 0;
		text-decoration-thickness: .25ex;
		-webkit-text-decoration-line: underline;
		text-decoration-line: underline
	}
}

.coral-guidelines a:hover {
	color: #08474d;
	border-bottom-color: #9db6b2;
	-webkit-text-decoration-color: #9db6b2;
	text-decoration-color: #9db6b2
}

.coral-guidelines a:focus {
	border-bottom-color: transparent;
	-webkit-text-decoration-color: transparent;
	text-decoration-color: transparent;
	color: #08474d
}

.coral-tabBar-comments,
.coral-tabBar-configure,
.coral-tabBar-myProfile {
	font-family: MetricWeb, sans-serif;
	font-weight: 600;
	font-family: MetricWeb, sans-serif;
	font-size: 14px;
	line-height: 16px;
	line-height: 14px;
	background-size: 21px 21px;
	min-height: 28px;
	min-width: 60px;
	padding: 6px 8px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	margin: 0;
	border-style: solid;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: .3s background-color, .15s color ease-out, .15s border-color ease-out;
	transition: .3s background-color, .15s color ease-out, .15s border-color ease-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-clip: border-box;
	border-width: 1px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-appearance: none;
	-webkit-appearance: none;
	border-radius: 0;
	background-color: transparent;
	color: #0d7680;
	border-color: #0d7680;
	border-width: 1px
}

.o-typography--loading-sans .coral-tabBar-comments,
.o-typography--loading-sans .coral-tabBar-configure,
.o-typography--loading-sans .coral-tabBar-myProfile {
	font-size: 12.18px;
	font-family: sans-serif
}

.coral-tabBar-comments[disabled],
.coral-tabBar-configure[disabled],
.coral-tabBar-myProfile[disabled] {
	pointer-events: none;
	opacity: .4;
	cursor: default
}

.coral-tabBar-comments:hover,
.coral-tabBar-configure:hover,
.coral-tabBar-myProfile:hover {
	background-color: rgba(13, 118, 128, .1);
	color: #0c707a;
	border-color: #0d7680;
	text-decoration: none
}

.coral-tabBar-comments:focus,
.coral-tabBar-configure:focus,
.coral-tabBar-myProfile:focus {
	background-color: rgba(13, 118, 128, .1);
	color: #0c707a;
	border-color: #0d7680
}

.coral-tabBar-comments:active,
.coral-tabBar-comments[aria-current],
.coral-tabBar-comments[aria-pressed=true],
.coral-tabBar-comments[aria-selected=true],
.coral-tabBar-configure:active,
.coral-tabBar-configure[aria-current],
.coral-tabBar-configure[aria-pressed=true],
.coral-tabBar-configure[aria-selected=true],
.coral-tabBar-myProfile:active,
.coral-tabBar-myProfile[aria-current],
.coral-tabBar-myProfile[aria-pressed=true],
.coral-tabBar-myProfile[aria-selected=true] {
	background-color: #0d7680;
	color: #fff;
	border-color: #0d7680
}

.coral-tabBar-comments[aria-current],
.coral-tabBar-comments[aria-pressed=true],
.coral-tabBar-configure[aria-current],
.coral-tabBar-configure[aria-pressed=true],
.coral-tabBar-myProfile[aria-current],
.coral-tabBar-myProfile[aria-pressed=true] {
	color: #fff!important;
	background-color: #0d7680!important;
	border-color: transparent!important;
	border-top: 1px!important;
	border-bottom: 1px!important
}

.coral-tabBar-comments[aria-selected=true],
.coral-tabBar-configure[aria-selected=true],
.coral-tabBar-myProfile[aria-selected=true] {
	color: #fff!important;
	background-color: #0d7680!important;
	border-top: 1px!important;
	border-bottom: 1px solid #0d7680!important
}

.coral-tabBar-comments div i,
.coral-tabBar-myProfile div i {
	display: none
}

.coral-commentReply-submit,
.coral-createComment-signIn,
.coral-createComment-submit,
.coral-createReplyComment-submit,
.coral-editComment-submit {
	font-family: MetricWeb, sans-serif;
	font-weight: 600;
	font-family: MetricWeb, sans-serif;
	font-size: 14px;
	line-height: 16px;
	line-height: 14px;
	background-size: 21px 21px;
	min-height: 28px;
	min-width: 60px;
	padding: 6px 8px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	margin: 0;
	border-style: solid;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: .3s background-color, .15s color ease-out, .15s border-color ease-out;
	transition: .3s background-color, .15s color ease-out, .15s border-color ease-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-clip: border-box;
	border-width: 1px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-appearance: none;
	-webkit-appearance: none;
	border-radius: 0;
	background-color: #0d7680;
	color: #fff;
	border-color: transparent;
	color: #fff!important;
	background-color: #0d7680!important;
	border-color: transparent!important
}

.o-typography--loading-sans .coral-commentReply-submit,
.o-typography--loading-sans .coral-createComment-signIn,
.o-typography--loading-sans .coral-createComment-submit,
.o-typography--loading-sans .coral-createReplyComment-submit,
.o-typography--loading-sans .coral-editComment-submit {
	font-size: 12.18px;
	font-family: sans-serif
}

.coral-commentReply-submit[disabled],
.coral-createComment-signIn[disabled],
.coral-createComment-submit[disabled],
.coral-createReplyComment-submit[disabled],
.coral-editComment-submit[disabled] {
	pointer-events: none;
	opacity: .4;
	cursor: default
}

.coral-commentReply-submit:hover,
.coral-createComment-signIn:hover,
.coral-createComment-submit:hover,
.coral-createReplyComment-submit:hover,
.coral-editComment-submit:hover {
	background-color: #095259;
	color: #fff;
	border-color: transparent;
	text-decoration: none
}

.coral-commentReply-submit:focus,
.coral-createComment-signIn:focus,
.coral-createComment-submit:focus,
.coral-createReplyComment-submit:focus,
.coral-editComment-submit:focus {
	background-color: #095259;
	color: #fff;
	border-color: transparent
}

.coral-commentReply-submit:active,
.coral-commentReply-submit[aria-current],
.coral-commentReply-submit[aria-pressed=true],
.coral-commentReply-submit[aria-selected=true],
.coral-createComment-signIn:active,
.coral-createComment-signIn[aria-current],
.coral-createComment-signIn[aria-pressed=true],
.coral-createComment-signIn[aria-selected=true],
.coral-createComment-submit:active,
.coral-createComment-submit[aria-current],
.coral-createComment-submit[aria-pressed=true],
.coral-createComment-submit[aria-selected=true],
.coral-createReplyComment-submit:active,
.coral-createReplyComment-submit[aria-current],
.coral-createReplyComment-submit[aria-pressed=true],
.coral-createReplyComment-submit[aria-selected=true],
.coral-editComment-submit:active,
.coral-editComment-submit[aria-current],
.coral-editComment-submit[aria-pressed=true],
.coral-editComment-submit[aria-selected=true] {
	background-color: #052f33;
	color: #fff;
	border-color: transparent
}

.coral-commentReply-submit:hover,
.coral-createComment-signIn:hover,
.coral-createComment-submit:hover,
.coral-createReplyComment-submit:hover,
.coral-editComment-submit:hover {
	color: #fff!important;
	background-color: #0d7680!important;
	border-color: transparent!important
}

.coral-createReplyComment-cancel,
.coral-editComment-cancel,
.coral-editComment-close {
	font-family: MetricWeb, sans-serif;
	font-weight: 600;
	font-family: MetricWeb, sans-serif;
	font-size: 14px;
	line-height: 16px;
	line-height: 14px;
	background-size: 21px 21px;
	min-height: 28px;
	min-width: 60px;
	padding: 6px 8px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	margin: 0;
	border-style: solid;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: .3s background-color, .15s color ease-out, .15s border-color ease-out;
	transition: .3s background-color, .15s color ease-out, .15s border-color ease-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-clip: border-box;
	border-width: 1px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-appearance: none;
	-webkit-appearance: none;
	border-radius: 0;
	background-color: transparent;
	color: #0d7680;
	border-color: #0d7680;
	color: #0d7680!important;
	border-color: #0d7680!important;
	font-size: 12.18pt!important;
	font-family: var(--font-family-primary)!important
}

.o-typography--loading-sans .coral-createReplyComment-cancel,
.o-typography--loading-sans .coral-editComment-cancel,
.o-typography--loading-sans .coral-editComment-close {
	font-size: 12.18px;
	font-family: sans-serif
}

.coral-createReplyComment-cancel[disabled],
.coral-editComment-cancel[disabled],
.coral-editComment-close[disabled] {
	pointer-events: none;
	opacity: .4;
	cursor: default
}

.coral-createReplyComment-cancel:hover,
.coral-editComment-cancel:hover,
.coral-editComment-close:hover {
	background-color: rgba(13, 118, 128, .1);
	color: #0c707a;
	border-color: #0d7680;
	text-decoration: none
}

.coral-createReplyComment-cancel:focus,
.coral-editComment-cancel:focus,
.coral-editComment-close:focus {
	background-color: rgba(13, 118, 128, .1);
	color: #0c707a;
	border-color: #0d7680
}

.coral-createReplyComment-cancel:active,
.coral-createReplyComment-cancel[aria-current],
.coral-createReplyComment-cancel[aria-pressed=true],
.coral-createReplyComment-cancel[aria-selected=true],
.coral-editComment-cancel:active,
.coral-editComment-cancel[aria-current],
.coral-editComment-cancel[aria-pressed=true],
.coral-editComment-cancel[aria-selected=true],
.coral-editComment-close:active,
.coral-editComment-close[aria-current],
.coral-editComment-close[aria-pressed=true],
.coral-editComment-close[aria-selected=true] {
	background-color: #0d7680;
	color: #fff;
	border-color: #0d7680
}

.coral-createReplyComment-cancel:hover,
.coral-editComment-cancel:hover,
.coral-editComment-close:hover {
	color: #0d7680!important;
	border-color: #0d7680!important;
	text-decoration: none!important
}

.coral-createReplyComment-cancel:disabled,
.coral-editComment-cancel:disabled,
.coral-editComment-close:disabled {
	pointer-events: none!important;
	opacity: .4!important;
	cursor: default!important
}

.coral-comment {
	padding-bottom: 6px;
	padding-top: 10px
}

.coral-comment-inReplyToUsername,
.coral-comment-username span {
	color: #33302e;
	font-family: MetricWeb, sans-serif;
	font-weight: 600;
	font-size: 14px
}

a.coral-comment-inReplyToUsername {
	text-decoration: none;
	border-bottom: 0
}

a.coral-comment-inReplyToUsername:hover {
	color: #990f3d
}

.coral-comment-inReplyToUsername:hover,
.coral-comment-username span:hover {
	color: #000
}

.coral-comment-reactButton,
.coral-comment-reactedButton,
.coral-comment-replyButton,
.coral-comment-reportButton,
.coral-comment-shareButton,
.coral-featuredComment-reactButton,
.coral-featuredComment-replies {
	font-weight: 400!important;
	font-size: 14px!important;
	letter-spacing: normal!important
}

.coral-comment-reactButton:hover,
.coral-comment-reactedButton:hover,
.coral-comment-replyButton:hover,
.coral-comment-reportButton:hover,
.coral-comment-shareButton:hover,
.coral-featuredComment-reactButton:hover,
.coral-featuredComment-replies:hover {
	border-color: transparent!important
}

.coral-comment-reactButton i,
.coral-comment-reactButton span,
.coral-comment-reactedButton i,
.coral-comment-reactedButton span,
.coral-comment-replyButton i,
.coral-comment-replyButton span,
.coral-comment-reportButton i,
.coral-comment-reportButton span,
.coral-comment-shareButton i,
.coral-comment-shareButton span,
.coral-featuredComment-reactButton i,
.coral-featuredComment-reactButton span,
.coral-featuredComment-replies i,
.coral-featuredComment-replies span {
	color: #0d7680
}

.coral-featuredComment-replies div {
	color: #0d7680
}

.coral-comment-replyButton,
.coral-comment-shareButton {
	border-color: transparent!important;
	background-color: transparent!important
}

.coral-comment-replyButton:hover,
.coral-comment-shareButton:hover {
	border-color: transparent!important
}

.coral-comment-reportedButton {
	background-color: transparent!important
}

.coral-comment-reportedButton i,
.coral-comment-reportedButton span {
	padding: 3px 7px;
	border-radius: var(--round-corners);
	font-weight: var(--font-weight-primary-regular);
	pointer-events: none
}

.coral-sharePopover-copyButotn,
.coral-sharePopover-copyButton {
	font-family: MetricWeb, sans-serif;
	font-weight: 600;
	font-family: MetricWeb, sans-serif;
	font-size: 14px;
	line-height: 16px;
	line-height: 14px;
	background-size: 21px 21px;
	min-height: 28px;
	min-width: 60px;
	padding: 6px 8px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	margin: 0;
	border-style: solid;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: .3s background-color, .15s color ease-out, .15s border-color ease-out;
	transition: .3s background-color, .15s color ease-out, .15s border-color ease-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-clip: border-box;
	border-width: 1px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-appearance: none;
	-webkit-appearance: none;
	border-radius: 0;
	background-color: #0d7680;
	color: #fff;
	border-color: transparent;
	color: #fff!important;
	background-color: #0d7680!important;
	border-color: transparent!important
}

.o-typography--loading-sans .coral-sharePopover-copyButotn,
.o-typography--loading-sans .coral-sharePopover-copyButton {
	font-size: 12.18px;
	font-family: sans-serif
}

.coral-sharePopover-copyButotn[disabled],
.coral-sharePopover-copyButton[disabled] {
	pointer-events: none;
	opacity: .4;
	cursor: default
}

.coral-sharePopover-copyButotn:hover,
.coral-sharePopover-copyButton:hover {
	background-color: #095259;
	color: #fff;
	border-color: transparent;
	text-decoration: none
}

.coral-sharePopover-copyButotn:focus,
.coral-sharePopover-copyButton:focus {
	background-color: #095259;
	color: #fff;
	border-color: transparent
}

.coral-sharePopover-copyButotn:active,
.coral-sharePopover-copyButotn[aria-current],
.coral-sharePopover-copyButotn[aria-pressed=true],
.coral-sharePopover-copyButotn[aria-selected=true],
.coral-sharePopover-copyButton:active,
.coral-sharePopover-copyButton[aria-current],
.coral-sharePopover-copyButton[aria-pressed=true],
.coral-sharePopover-copyButton[aria-selected=true] {
	background-color: #052f33;
	color: #fff;
	border-color: transparent
}

.coral-sharePopover-copyButotn:hover,
.coral-sharePopover-copyButton:hover {
	color: #fff!important;
	background-color: #0d7680!important;
	border-color: transparent!important;
	font-weight: var(--font-weight-primary-regular)!important
}

.coral-comment-timestamp,
.coral-comment-timestamp span,
.coral-myComment-timestamp,
.coral-myComment-timestamp span {
	text-transform: uppercase;
	color: #66605c;
	font-size: 12px;
	margin-bottom: 0;
	color: #33302e
}

.coral-comment-userTag {
	background-color: #b31247;
	color: #fff
}

.coral-comment-commentTag {
	background-color: #000!important;
	color: #fff!important;
	border-radius: 0;
	border: 0!important
}

.coral-comment-content blockquote,
.coral-myComment-content blockquote,
.coral-rte-content blockquote {
	background-color: #f2dfce;
	font-size: 14px!important
}

.coral-allComments-loadMoreButton,
.coral-featuredComments-loadMoreButton,
.coral-myComments-loadMoreButton {
	font-family: MetricWeb, sans-serif;
	font-weight: 600;
	font-family: MetricWeb, sans-serif;
	font-size: 14px;
	line-height: 16px;
	line-height: 14px;
	background-size: 21px 21px;
	min-height: 28px;
	min-width: 60px;
	padding: 6px 8px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	margin: 0;
	border-style: solid;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: .3s background-color, .15s color ease-out, .15s border-color ease-out;
	transition: .3s background-color, .15s color ease-out, .15s border-color ease-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-clip: border-box;
	border-width: 1px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-appearance: none;
	-webkit-appearance: none;
	border-radius: 0;
	background-color: transparent;
	color: #0d7680;
	border-color: #0d7680;
	color: #0d7680!important;
	border-color: #0d7680!important;
	border-radius: 0!important;
	background-color: transparent!important
}

.o-typography--loading-sans .coral-allComments-loadMoreButton,
.o-typography--loading-sans .coral-featuredComments-loadMoreButton,
.o-typography--loading-sans .coral-myComments-loadMoreButton {
	font-size: 12.18px;
	font-family: sans-serif
}

.coral-allComments-loadMoreButton[disabled],
.coral-featuredComments-loadMoreButton[disabled],
.coral-myComments-loadMoreButton[disabled] {
	pointer-events: none;
	opacity: .4;
	cursor: default
}

.coral-allComments-loadMoreButton:hover,
.coral-featuredComments-loadMoreButton:hover,
.coral-myComments-loadMoreButton:hover {
	background-color: rgba(13, 118, 128, .1);
	color: #0c707a;
	border-color: #0d7680;
	text-decoration: none
}

.coral-allComments-loadMoreButton:focus,
.coral-featuredComments-loadMoreButton:focus,
.coral-myComments-loadMoreButton:focus {
	background-color: rgba(13, 118, 128, .1);
	color: #0c707a;
	border-color: #0d7680
}

.coral-allComments-loadMoreButton:active,
.coral-allComments-loadMoreButton[aria-current],
.coral-allComments-loadMoreButton[aria-pressed=true],
.coral-allComments-loadMoreButton[aria-selected=true],
.coral-featuredComments-loadMoreButton:active,
.coral-featuredComments-loadMoreButton[aria-current],
.coral-featuredComments-loadMoreButton[aria-pressed=true],
.coral-featuredComments-loadMoreButton[aria-selected=true],
.coral-myComments-loadMoreButton:active,
.coral-myComments-loadMoreButton[aria-current],
.coral-myComments-loadMoreButton[aria-pressed=true],
.coral-myComments-loadMoreButton[aria-selected=true] {
	background-color: #0d7680;
	color: #fff;
	border-color: #0d7680
}

.coral-featuredComment {
	border-color: #f2dfce;
	background-color: #f2dfce
}

.coral-comment-editButton {
	font-family: MetricWeb, sans-serif;
	font-weight: 600;
	font-family: MetricWeb, sans-serif;
	font-size: 14px;
	line-height: 16px;
	line-height: 14px;
	background-size: 21px 21px;
	min-height: 28px;
	min-width: 60px;
	padding: 6px 8px;
	display: inline-block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: middle;
	margin: 0;
	border-style: solid;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: .3s background-color, .15s color ease-out, .15s border-color ease-out;
	transition: .3s background-color, .15s color ease-out, .15s border-color ease-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-clip: border-box;
	border-width: 1px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-appearance: none;
	-webkit-appearance: none;
	border-radius: 0;
	background-color: transparent;
	color: #0d7680;
	border-color: #0d7680;
	border-color: #0d7680!important
}

.o-typography--loading-sans .coral-comment-editButton {
	font-size: 12.18px;
	font-family: sans-serif
}

.coral-comment-editButton[disabled] {
	pointer-events: none;
	opacity: .4;
	cursor: default
}

.coral-comment-editButton:hover {
	background-color: rgba(13, 118, 128, .1);
	color: #0c707a;
	border-color: #0d7680;
	text-decoration: none
}

.coral-comment-editButton:focus {
	background-color: rgba(13, 118, 128, .1);
	color: #0c707a;
	border-color: #0d7680
}

.coral-comment-editButton:active,
.coral-comment-editButton[aria-current],
.coral-comment-editButton[aria-pressed=true],
.coral-comment-editButton[aria-selected=true] {
	background-color: #0d7680;
	color: #fff;
	border-color: #0d7680
}

.coral-comment-editButton:hover {
	color: #0d7680!important
}

.coral-comment .coral-indent-1,
.coral-comment .coral-indent-2,
.coral-comment .coral-indent-3,
.coral-comment .coral-indent-4,
.coral-comment .coral-indent-5,
.coral-comment .coral-indent-6 {
	border-width: 0 0 0 2px;
	-o-border-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fs3-eu-west-1.amazonaws.com%2Fft-next-assets-prod%2Fassets%2Fcomments%2Fborder-dots.svg?source=next&format=svg);
	border-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/https%3A%2F%2Fs3-eu-west-1.amazonaws.com%2Fft-next-assets-prod%2Fassets%2Fcomments%2Fborder-dots.svg?source=next&format=svg);
	border-image-slice: 30%;
	border-image-repeat: round
}

.coral-comment .coral-indent-1 {
	margin-left: 20px
}

@media (min-width:500px) {
	.coral-comment .coral-indent-1 {
		margin-left: 44px
	}
}

.coral-comment .coral-indent-2 {
	margin-left: 40px
}

@media (min-width:500px) {
	.coral-comment .coral-indent-2 {
		margin-left: 88px
	}
}

.coral-comment .coral-indent-3 {
	margin-left: 60px
}

@media (min-width:500px) {
	.coral-comment .coral-indent-3 {
		margin-left: 132px
	}
}

.coral-comment .coral-indent-4 {
	margin-left: 80px
}

@media (min-width:500px) {
	.coral-comment .coral-indent-4 {
		margin-left: 176px
	}
}

.coral-comment .coral-indent-5 {
	margin-left: 100px
}

@media (min-width:500px) {
	.coral-comment .coral-indent-5 {
		margin-left: 220px
	}
}

.coral-comment .coral-indent-6 {
	margin-left: 120px
}

@media (min-width:500px) {
	.coral-comment .coral-indent-6 {
		margin-left: 264px
	}
}

.coral-createReplyComment-replyToUsername {
	color: #33302e;
	font-family: MetricWeb, sans-serif;
	font-weight: 600;
	font-size: 14px
}

a.coral-createReplyComment-replyToUsername {
	text-decoration: none;
	border-bottom: 0
}

a.coral-createReplyComment-replyToUsername:hover {
	color: #990f3d
}

.coral-createReplyComment-replyToUsername:hover {
	color: #33302e
}

.coral-comment-inReplyToUsername:hover {
	color: #807973
}

.coral-verifyEmail-resendButton:hover {
	color: #0d7680!important
}

.coral-verifyEmail-resentMessage {
	background-color: #f2dfce;
	border-color: #f2dfce
}

.coral-featuredComment-goToConversationButton,
.coral-myComment-viewConversationButton,
.coral-myComments-viewConversationButton {
	text-decoration: none;
	cursor: pointer;
	border-bottom: .25ex solid;
	color: #0d7680;
	border-bottom-color: #cfd8d1;
	-webkit-text-decoration-color: #cfd8d1;
	text-decoration-color: #cfd8d1;
	color: #0d7680!important
}

@supports (text-decoration-thickness:0.25ex) {
	.coral-featuredComment-goToConversationButton,
	.coral-myComment-viewConversationButton,
	.coral-myComments-viewConversationButton {
		border-bottom: 0;
		text-decoration-thickness: .25ex;
		-webkit-text-decoration-line: underline;
		text-decoration-line: underline
	}
}

.coral-featuredComment-goToConversationButton:hover,
.coral-myComment-viewConversationButton:hover,
.coral-myComments-viewConversationButton:hover {
	color: #08474d;
	border-bottom-color: #9ec0bd;
	-webkit-text-decoration-color: #9ec0bd;
	text-decoration-color: #9ec0bd
}

.coral-featuredComment-goToConversationButton:focus,
.coral-myComment-viewConversationButton:focus,
.coral-myComments-viewConversationButton:focus {
	border-bottom-color: transparent;
	-webkit-text-decoration-color: transparent;
	text-decoration-color: transparent;
	color: #08474d
}

.coral-featuredComment-goToConversationButton:hover,
.coral-myComment-viewConversationButton:hover,
.coral-myComments-viewConversationButton:hover {
	color: #08474d!important
}

.coral-configureMessageBox-messageBox a,
.coral-configureMessageBox-messageBox h1,
.coral-configureMessageBox-messageBox h2,
.coral-configureMessageBox-messageBox h3,
.coral-configureMessageBox-messageBox h4,
.coral-configureMessageBox-messageBox h5,
.coral-configureMessageBox-messageBox h6,
.coral-createComment-message a,
.coral-createComment-message h1,
.coral-createComment-message h2,
.coral-createComment-message h3,
.coral-createComment-message h4,
.coral-createComment-message h5,
.coral-createComment-message h6 {
	color: inherit
}

.coral-selectField {
	background: #fff1e5;
	border-radius: 0
}

.coral-rte-container {
	background: #fff
}

.coral-rte-toolbar {
	background: #fff;
	border-top: 1px solid var(--palette-grey-400)
}

.coral-commentForm {
	border-style: solid;
	border-width: 1px;
	border-color: var(--palette-grey-400);
	border-radius: 0
}

.coral-createReplyComment-replyTo {
	background-color: #fff1e5
}

.coral-createReplyComment-replyTo {
	color: var(--palette-grey-500);
	border-bottom-width: 0;
	border-color: var(--palette-grey-400);
	border-radius: 0
}

.coral-configureMessageBox-messageBox,
.coral-createComment-message {
	background: var(--palette-text-500)
}

.coral-selectField {
	background: #fff!important;
	font-weight: var(--font-family-primary-regular)!important
}

.coral-comment-userTag,
.coral-rootParent-userTag {
	font-size: var(--font-size-1)!important;
	line-height: 1!important
}

.coral-counter {
	padding-top: 0!important;
	padding-bottom: 0!important
}

.coral-comment-commentTag {
	padding: 2px 6px!important;
	font-size: var(--font-size-1)!important
}

.coral-createReplyComment-replyToText {
	color: var(--palette-grey-500)!important
}

.coral-comment-inReplyToText {
	font-weight: var(--font-weight-primary-regular)!important
}

.coral-comment-reportButton[aria-pressed=true] {
	color: var(--palette-text-000)!important;
	background: var(--palette-primary-500)!important;
	border: 0
}

.coral-featuredComment-content {
	font-size: var(--font-size-3)!important
}

.coral-replyList-showAllButton[disabled],
.coral-replyList-showMoreButton[disabled] {
	pointer-events: none;
	opacity: .4;
	cursor: default
}

.coral-replyList-showAllButton:hover,
.coral-replyList-showMoreButton:hover {
	border-color: var(--palette-grey-400)!important;
	color: var(--palette-grey-400)!important;
	background: 0 0!important
}
