@font-face {
	src: url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/MetricWeb-Thin.woff2) format("woff2"), url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/MetricWeb-Thin.woff) format("woff");
	font-family: MetricWeb;
	font-weight: 100;
	font-style: normal;
	font-display: swap
}

@font-face {
	src: url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/MetricWeb-Light.woff2) format("woff2"), url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/MetricWeb-Light.woff) format("woff");
	font-family: MetricWeb;
	font-weight: 300;
	font-style: normal;
	font-display: swap
}

@font-face {
	src: url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/MetricWeb-LightItalic.woff2) format("woff2"), url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/MetricWeb-LightItalic.woff) format("woff");
	font-family: MetricWeb;
	font-weight: 300;
	font-style: italic;
	font-display: swap
}

@font-face {
	src: url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/MetricWeb-Regular.woff2) format("woff2"), url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/MetricWeb-Regular.woff) format("woff");
	font-family: MetricWeb;
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

@font-face {
	src: url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/MetricWeb-RegularItalic.woff2) format("woff2"), url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/MetricWeb-RegularItalic.woff) format("woff");
	font-family: MetricWeb;
	font-weight: 400;
	font-style: italic;
	font-display: swap
}

@font-face {
	src: url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/MetricWeb-Medium.woff2) format("woff2"), url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/MetricWeb-Medium.woff) format("woff");
	font-family: MetricWeb;
	font-weight: 500;
	font-style: normal;
	font-display: swap
}

@font-face {
	src: url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/MetricWeb-Semibold.woff2) format("woff2"), url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/MetricWeb-Semibold.woff) format("woff");
	font-family: MetricWeb;
	font-weight: 600;
	font-style: normal;
	font-display: swap
}

@font-face {
	src: url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/MetricWeb-Bold.woff2) format("woff2"), url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/MetricWeb-Bold.woff) format("woff");
	font-family: MetricWeb;
	font-weight: 700;
	font-style: normal;
	font-display: swap
}

@font-face {
	src: url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/MetricWeb-BoldItalic.woff2) format("woff2"), url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/MetricWeb-BoldItalic.woff) format("woff");
	font-family: MetricWeb;
	font-weight: 700;
	font-style: italic;
	font-display: swap
}

@font-face {
	src: url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/MetricWeb-Black.woff2) format("woff2"), url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/MetricWeb-Black.woff) format("woff");
	font-family: MetricWeb;
	font-weight: 900;
	font-style: normal;
	font-display: swap
}

@font-face {
	src: url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/FinancierDisplayWeb-Light.woff2) format("woff2"), url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/FinancierDisplayWeb-Light.woff) format("woff");
	font-family: FinancierDisplayWeb;
	font-weight: 300;
	font-style: normal;
	font-display: swap
}

@font-face {
	src: url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/FinancierDisplayWeb-LightItalic.woff2) format("woff2"), url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/FinancierDisplayWeb-LightItalic.woff) format("woff");
	font-family: FinancierDisplayWeb;
	font-weight: 300;
	font-style: italic;
	font-display: swap
}

@font-face {
	src: url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/FinancierDisplayWeb-Regular.woff2) format("woff2"), url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/FinancierDisplayWeb-Regular.woff) format("woff");
	font-family: FinancierDisplayWeb;
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

@font-face {
	src: url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/FinancierDisplayWeb-RegularItalic.woff2) format("woff2"), url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/FinancierDisplayWeb-RegularItalic.woff) format("woff");
	font-family: FinancierDisplayWeb;
	font-weight: 400;
	font-style: italic;
	font-display: swap
}

@font-face {
	src: url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/FinancierDisplayWeb-MediumItalic.woff2) format("woff2"), url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/FinancierDisplayWeb-MediumItalic.woff) format("woff");
	font-family: FinancierDisplayWeb;
	font-weight: 500;
	font-style: italic;
	font-display: swap
}

@font-face {
	src: url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/FinancierDisplayWeb-Medium.woff2) format("woff2"), url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/FinancierDisplayWeb-Medium.woff) format("woff");
	font-family: FinancierDisplayWeb;
	font-weight: 500;
	font-style: normal;
	font-display: swap
}

@font-face {
	src: url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/FinancierDisplayWeb-Semibold.woff2) format("woff2"), url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/FinancierDisplayWeb-Semibold.woff) format("woff");
	font-family: FinancierDisplayWeb;
	font-weight: 600;
	font-style: normal;
	font-display: swap
}

@font-face {
	src: url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/FinancierDisplayWeb-SemiboldItalic.woff2) format("woff2"), url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/FinancierDisplayWeb-SemiboldItalic.woff) format("woff");
	font-family: FinancierDisplayWeb;
	font-weight: 600;
	font-style: italic;
	font-display: swap
}

@font-face {
	src: url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/FinancierDisplayWeb-Bold.woff2) format("woff2"), url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/FinancierDisplayWeb-Bold.woff) format("woff");
	font-family: FinancierDisplayWeb;
	font-weight: 700;
	font-style: normal;
	font-display: swap
}

@font-face {
	src: url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/FinancierDisplayWeb-Black.woff2) format("woff2"), url(https://www.ft.com/__origami/service/build/v2/files/o-fonts-assets@1.7.0/FinancierDisplayWeb-Black.woff) format("woff");
	font-family: FinancierDisplayWeb;
	font-weight: 900;
	font-style: normal;
	font-display: swap
}
