.icon {
  color: var(--palette-text-secondary);
}

.button,
.replies {
  composes: button from "talk-ui/shared/typography.css";
}

.sideBar {
  min-width: 180px;
  padding-left: var(--spacing-unit);
}

.body {
  word-break: break-all;
}
