.icon {
  color: var(--palette-text-secondary);
}

.button,
.replies {
  composes: button from "talk-ui/shared/typography.css";
}

.body {
  max-width: 80%;
  word-break: break-all;
}

.commentHistory .divider {
  margin: calc(var(--spacing-unit) * 2) 0 !important;
}
