<div
  class="coral-comment-embed coral-comment-embed-simple"
  style="background-color: #f4f7f7; padding: 8px"
  data-commentID="{{ commentID }}"
  data-allowReplies="{{ includeReplies }}"
>
  <div style="margin-bottom: 8px">{{ commentAuthor.username }}</div>
  <div>{{ sanitizedSimple | safe }}</div>
  {% if simpleEmbedMediaUrl %}
  <div>
    <br /><a
      href="{{simpleEmbedMediaUrl}}"
      target="_blank"
      rel="noopener noreferrer ugc"
      >{{simpleEmbedMediaUrl}}</a
    >
  </div>
  {% endif %}
</div>
