{% import "macros.html" as macros %} {% extends "templates/base.html" %} {%
block meta %}
<base href="/" />
{% if defaultFontsCSS %} {{ macros.css(defaultFontsCSS.src,
defaultFontsCSS.integrity, staticURI) }} {% endif %} {% for asset in streamCSS
%} {{ macros.css(asset.src, asset.integrity, staticURI) }} {% endfor %}
<style>
  #coral {
    position: relative;
  }
  body {
    margin: 0;
  }
  svg {
    height: 14px;
    width: 14px;
    margin-right: var(--spacing-1);
  }
  .coral-commentEmbed {
    background-color: var(--palette-grey-100);
    padding: var(--spacing-2);
  }
  .coral-comment-content {
    font-family: var(--font-family-primary);
    font-style: normal;
    font-weight: var(--font-weight-primary-regular);
    font-size: var(--font-size-3);
    line-height: 1.45;
    color: var(--palette-text-500);
    word-wrap: break-word;
    margin: 0 0 calc(1.5 * var(--mini-unit)) 0;
  }
  .coral-comment-timestamp {
    font-family: var(--font-family-primary);
    font-style: normal;
    font-weight: var(--font-weight-primary-semi-bold);
    font-size: var(--font-size-2);
    color: var(--palette-grey-500);
  }
  .coral-comment-username {
    font-family: var(--font-family-secondary);
    font-weight: bold;
    font-size: var(--font-size-4);
    margin-right: var(--spacing-2);
  }
  .coral-comment-topBar {
    display: flex;
    margin: 0 0 calc(0.5 * var(--mini-unit)) 0;
    justify-content: space-between;
  }
  .coral-comment-avatar {
    align-self: flex-end;
  }
  .coral-comment-avatar img {
    height: 24px;
    width: 24px;
  }
  .coral-comment-leftActions {
    align-items: center;
    display: flex;
  }
  .coral-comment-actionBar {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-2);
  }
  .coral-comment-actionBar a:hover {
    color: var(--palette-grey-600);
  }
  /* together, the below two styles allow for nested links
  so that the overall embed comment link and more specific replies/
  goToConversation/etc. all have their own query params */
  .coral-comment-actionBar a {
    text-decoration: none;
    color: var(--palette-grey-500);
    align-items: center;
    display: flex;
    position: relative;
    z-index: 1;
  }
  .overall-embed-link::before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  /* styles to support formatting within comments */
  .coral-rte-spoiler {
    position: relative;
    z-index: 1;
    background-color: var(--palette-text-900);
    color: var(--palette-text-900);
  }
  .coral-rte-sarcasm {
    font-family: monospace;
  }
  blockquote {
    background-color: var(--palette-grey-200);
    border-radius: var(--round-corners);
    margin: calc(2 * var(--mini-unit)) 0 calc(2 * var(--mini-unit))
      var(--mini-unit);
    padding: var(--mini-unit);
  }
  /* styles for buttons within comment embed */
  .coral-comment-goToConversationButton {
    align-self: flex-end;
    padding: var(--spacing-1);
    display: flex;
  }
  .coral-comment-reactButton {
    padding: var(--spacing-1);
    display: flex;
  }
  .coral-comment-replyButton {
    padding: var(--spacing-1);
    display: flex;
  }
</style>
{% if customFontsCSSURL %}
<link href="{{customFontsCSSURL}}" rel="stylesheet" />
{% endif %} {% if customCSSURL %}
<link href="{{customCSSURL}}" rel="stylesheet" />
{% endif %} {% endblock %} {% block body %}
<div id="coral">
  <!-- A hidden link for the overall comment embed that is styled to fill embed -->
  <a
    class="overall-embed-link"
    href="{{commentPermalinkURL}}&embedInteraction=generalEmbed"
    target="_blank"
  ></a>
  <div class="coral coral-commentEmbed">
    {% if comment.actionCounts.REACTION %}
    <div
      class="coral coral-comment coral-reacted-{{ comment.actionCounts.REACTION }}"
    >
      {% else %}
      <div class="coral coral-comment coral-reacted-0">
        {% endif %}
        <div class="coral coral-comment-topBar">
          <div class="coral coral-comment-leftActions">
            {% if commentAuthor.username %}
            <div class="coral coral-username coral-comment-username">
              {{ commentAuthor.username }}
            </div>
            {% endif %}
            <div class="coral coral-timestamp coral-comment-timestamp">
              {{ formattedCreatedAt }}
            </div>
          </div>
          {% if commentAuthor.avatar%}
          <div class="coral coral-comment-avatar">
            <img src="{{commentAuthor.avatar}}" />
          </div>
          {% endif %}
        </div>
        <div class="coral coral-content coral-comment-content">
          {% block commentRevision %} {{ sanitized | safe }} {% if mediaUrl
          %}<iframe
            id="embed-iframe"
            frameborder="0"
            src="{{mediaUrl}}"
            style="max-height: none; border: none; display: block"
            scrolling="no"
            allowfullscreen
            allow
            sandbox="allow-same-origin allow-scripts allow-presentation"
          ></iframe>
          {% endif %} {% if externalMediaUrl %}
          <iframe
            id="embed-iframe"
            frameborder="0"
            src="{{externalMediaUrl}}"
            style="max-height: none; border: none; display: block"
            scrolling="no"
            allowfullscreen
            allow
            sandbox="allow-same-origin allow-scripts allow-presentation"
            onload="{this.height = this.contentWindow.document.body.scrollHeight;}"
          ></iframe>
          {% endif %}{% if giphyMedia %} {% if giphyMedia.video %}
          <video
            width="{{giphyMedia.width}}"
            height="{{giphyMedia.height}}"
            autoplay
            loop
            playsinline
            muted
          >
            <source src="{{giphyMedia.video}}" type="video/mp4" />
          </video>
          {% else %}
          <img
            src="{{giphyMedia.url}}"
            loading="lazy"
            referrerpolicy="no-referrer"
            alt="{{giphyMedia.title}}"
          />
          {% endif %} {% endif %} {% endblock %}
        </div>
        <div class="coral coral-comment-actionBar">
          <div class="coral coral-comment-leftActions">
            <div class="coral coral-reactButton coral-comment-reactButton">
              {% block rec %}
              <a
                href="{{commentPermalinkURL}}&embedInteraction=react"
                target="_blank"
              >
                {% include "commentEmbed/reactionIcon.html" %} {% if
                reactionLabel %}{{ reactionLabel }}{% else %}Rec{% endif %} {{
                comment.actionCounts.REACTION }}</a
              >
              {% endblock %}
            </div>
            {% if includeReplies === true %}
            <div class="coral coral-comment-replyButton">
              {% block reply %}
              <a
                href="{{commentPermalinkURL}}&embedInteraction=reply"
                target="_blank"
              >
                {% include "commentEmbed/replyIcon.html" %} {{ replyMessage
                }}</a
              >
              {% endblock %}
            </div>
          </div>
          <div class="coral coral-comment-goToConversationButton">
            <a
              href="{{commentPermalinkURL}}&embedInteraction=goToConversation"
              target="_blank"
            >
              {% include "commentEmbed/goToConversationIcon.html" %} {{
              goToConversationMessage }}</a
            >
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %} {# Include all the scripts from the entrypoint #} {% if
  entrypoint.js %} {% block js %} {% for asset in entrypoint.js %} {{
  macros.js(asset.src, asset.integrity, staticURI) }} {% endfor %} {% endblock
  %} {% endif %}
</div>
