.root {
}

.popover {
  background: var(--palette-common-white);
  border: 1px solid var(--palette-grey-lighter);
  box-sizing: border-box;
  box-shadow: var(--elevation-main);
  border-radius: var(--round-corners);
  z-index: var(--zindex-popover);
  margin: 2px;
}

.top {
  margin: calc(0.5 * var(--mini-unit)) 0;
}
.left {
  margin: 0 calc(0.5 * var(--mini-unit));
}
.right {
  margin: 0 calc(0.5 * var(--mini-unit));
}
.bottom {
  margin: calc(0.5 * var(--mini-unit)) 0;
}
