.root {
  background: var(--palette-common-white);
  border: 1px solid var(--palette-grey-light);
  box-sizing: border-box;
  box-shadow: var(--elevation-main);
  border-radius: var(--round-corners);
  padding: calc(0.5 * var(--spacing-unit));
}

.top {
  margin-bottom: calc(0.5 * var(--spacing-unit));
}
.left {
  margin-right: calc(0.5 * var(--spacing-unit));
}
.right {
  margin-left: calc(0.5 * var(--spacing-unit));
}
.bottom {
  margin-top: calc(0.5 * var(--spacing-unit));
}
