$rootMargin: calc(var(--spacing-5) + 2px);

.root {
}

.collapsed {
}

.open {
}

.openPadded {
  padding-left: var(--spacing-1);
}

.level1 {
  margin-left: $rootMargin;
  border-left: 2px solid var(--palette-grey-600);
}

.level2 {
  margin-left: calc(var(--spacing-3) + $rootMargin);
  border-left: 2px solid var(--palette-grey-500);
}

.level3 {
  margin-left: calc(2 * var(--spacing-3) + $rootMargin);
  border-left: 2px solid #8e9ba5;
}

.level4 {
  margin-left: calc(3 * var(--spacing-3) + $rootMargin);
  border-left: 2px solid #b8bcbd;
}

.level5 {
  margin-left: calc(4 * var(--spacing-3) + $rootMargin);
  border-left: 2px solid #cccfd0;
}

.level6 {
  margin-left: calc(5 * var(--spacing-3) + $rootMargin);
  border-left: 2px solid #e1e2e3;
}

.level7 {
  margin-left: calc(6 * var(--spacing-3) + $rootMargin);
  border-left: 2px solid #e1e2e3;
}

.level8 {
  margin-left: calc(7 * var(--spacing-3) + $rootMargin);
  border-left: 2px solid #e1e2e3;
}

.noBorder {
  border: 0;
}
