$rootMargin: calc(var(--spacing-7) - 2px);

.root {
}

.collapsed {
}

.open {
}

.openPadded {
  padding-left: var(--spacing-1);
}

.level1 {
  margin-left: $rootMargin;
  border-left: 1px solid var(--palette-warm-gray-500);
  padding-left: var(--spacing-5);
}

.level2 {
  margin-left: calc(var(--spacing-2) + $rootMargin);
  border-left: 1px solid var(--palette-warm-gray-400);
  padding-left: var(--spacing-5);
}

.level3 {
  margin-left: calc(2 * var(--spacing-2) + $rootMargin);
  border-left: 1px solid var(--palette-warm-gray-300);
  padding-left: var(--spacing-5);
}

.level4 {
  margin-left: calc(3 * var(--spacing-2) + $rootMargin);
  border-left: 1px solid var(--palette-warm-gray-200);
  padding-left: var(--spacing-5);
}

.level5 {
  margin-left: calc(4 * var(--spacing-2) + $rootMargin);
  border-left: 1px solid var(--palette-warm-gray-100);
  padding-left: var(--spacing-5);
}

.level6 {
  margin-left: calc(5 * var(--spacing-2) + $rootMargin);
  border-left: 1px solid var(--palette-warm-gray-100);
  padding-left: var(--spacing-5);
}

.level7 {
  margin-left: calc(6 * var(--spacing-2) + $rootMargin);
  border-left: 1px solid var(--palette-warm-gray-100);
  padding-left: var(--spacing-5);
}

.level8 {
  margin-left: calc(7 * var(--spacing-2) + $rootMargin);
  border-left: 1px solid var(--palette-warm-gray-100);
  padding-left: var(--spacing-5);
}

.noBorder {
  border: 0;
}
