<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%- include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="<%= resolve('embed/stream/default.css') %>">
    <link rel="stylesheet" type="text/css" href="<%= resolve('embed/stream/bundle.css') %>">
  </head>
  <body class="embed-stream-page">
    <div id="talk-embed-stream-container"></div>
    <script src="<%= resolve('embed/stream/bundle.js') %>"></script>
  </body>
</html>
