{% extends "templates/base.njk" %}

{% block title %}Talk{% endblock %}

{% block css %}
<link href="{{ resolve('embed/stream/default.css')}}" rel="stylesheet">
<link href="{{ resolve('embed/stream/bundle.css')}}" rel="stylesheet">
{% endblock %}

{% block html %}
<div id="talk-embed-stream-container"></div>

{#
  Resolves touch handling issues encountered on IOS Safari under certain circumstances:
    https://stackoverflow.com/questions/12363742/touchstart-event-is-not-firing-inside-iframe-ios-6
#}
<script nonce="{{ nonce }}">document.body.addEventListener('touchstart', function() {});</script>

{% endblock %}

{% block js %}
<script src="{{ resolve('embed/stream/bundle.js')}}"></script>
{% endblock %}
