<!DOCTYPE html>
<html>
  <head>
    <meta property="csrf" content="<%= csrfToken %>">
    <link rel="stylesheet" type="text/css" href="/client/embed/stream/default.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div id="coralStream"></div>
    <script src="/client/embed/stream/bundle.js"></script>
  </body>
</html>
