<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="<%= STATIC_URL %>static/embed/stream/default.css">
    <%- include ../partials/head %>
  </head>
  <body class="embed-stream-page">
    <div id="talk-embed-stream-container"></div>
    <script src="<%= STATIC_URL %>static/embed/stream/bundle.js"></script>
  </body>
</html>
