<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta property="csrf" content="<%= csrfToken %>">
    <link rel="stylesheet" type="text/css" href="/client/embed/stream/default.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <% if (locals.customCssUrl) { %>
      <link href="<%= customCssUrl %>" rel="stylesheet" type="text/css">
    <% } %>
    <% if (data != null) { %>
      <script id="data" type="application/json"><%- JSON.stringify(data) %></script>
    <% } %>
  </head>
  <body>

    <div id="coralStream"></div>
    <script src="/client/embed/stream/bundle.js"></script>
  </body>
</html>
