.button {
  composes: buttonReset from "coral-framework/styles/reset.css";
  margin: 5px 10px 5px 0px;
}

@media (max-width: 425px) {
  .label {
    display: none;
  }
}

.icon {
  padding: 0 2px;
  font-size: 12px;
  vertical-align: middle;
}
