.header {
    background: #505050;
}

.header > div {
    position: relative;
    padding: 0;
    width: 1170px;
    margin: 0 auto;
}

.active {
    background: #232323;
}

.rightPanel {
    position: absolute;
    right: 0;
    width: 170px;
}

.rightPanel ul {
  list-style: none;
  line-height: 38px;
}

.rightPanel li {
  display: inline-block;
  float: right;
  margin-left: 15px;
}

.rightPanel .settings {
  vertical-align: middle;
  border-radius: 3px;
  border: solid 1px #9e9e9e;
  line-height: 10px;
}

.rightPanel .settings > div {
  position: relative;
}

.rightPanel .settings:hover {
  background: rgba(158, 158, 158, 0.69);
  cursor: pointer;
}
