@custom-media --table-viewport (max-width: 1024px);

@media (--table-viewport) {
  .logo {
    margin-left: 58px;
    h1 {
      background: #696969;
    }
    span {
      color: #fcfcfc;
    }
  }
  .nav {
    display: none;
  }
}

.headerWrapper {
  background-color: #696969;
}

.header {
  box-shadow: none;
  min-height: 58px;
  display: block;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #696969;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.header > div {
  position: relative;
  padding: 0;
  max-width: 1280px;
  margin: 0 auto;
  height: 58px;
}

.rightPanel {
  position: absolute;
  top: 0;
  right: 0;
  width: 170px;
  height: 100%;
}

.rightPanel > ul {
  list-style: none;
  margin-right: 20px;
}

.rightPanel > ul > li {
  display: inline-block;
  float: right;
  margin-left: 15px;
  font-size: 15px;
  font-weight: 500;
  line-height: 33px;
}

.rightPanel a {
  color: black;
  text-decoration: none;
  font-weight: 400;
}

.rightPanel .settings {
  line-height: 0;
}

.rightPanel .settings > div {
  position: relative;
}

.rightPanel .settings:hover {
  background: rgba(158, 158, 158, 0.69);
  cursor: pointer;
}

.navLink {
  padding: 0 20px;
  font-size: 15px;
  font-weight: 500;
  background-color: transparent;
  transition: background-color 200ms;
  font-weight: 100;
  letter-spacing: .8;

  &:hover {
    background-color: #404040;
  }

  &.active {
    background-color: #232323;
    font-weight: 400;
  }
}

.nav {
  overflow: hidden;
  height: 58px !important;
}

.nav .navLink {
  padding: 0 20px;
  letter-spacing: 0.4px;
}
