.logo h1 {
  color: #272727;
  font-size: 20px;
  margin: 0;
  line-height: 60px;
  padding: 0 20px;
}

.logo span {
  display: inline-block;
  margin-left: 10px;
  font-size: 18px;
  vertical-align: middle;
}

.logo {
  background: #E5E5E5;
  height: 100%;
  width: 128px;
}


