.logo h1 {
  color: #272727;
  font-size: 20px;
  margin: 0;
  line-height: 60px;
  padding-left: 13px;
  margin-top: -4px;
}

.logo span {
  display: inline-block;
  margin-left: 10px;
  font-size: 26px;
  vertical-align: middle;
  font-weight: 500;
  color: white;
}

.logo {
  background: #696969;
  height: 100%;
  width: 128px;
  border-right: 1px #757575 solid;
}

.base {
  stroke: #E5E5E5;
  height: 35px;
  width: 35px;
}
