.readOnly {
  cursor: not-allowed !important;
  color: var(--palette-text-primary) !important;
  opacity: 1 !important;
}

.button {
  padding-left: 0;
}

.reacted {
  color: var(--v2-colors-stream-blue-500);
  font-weight: var(--v2-font-weight-primary-bold);
}
