.label {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-bold);
  font-size: var(--font-size-2);
  line-height: 1.14;

  color: var(--palette-text-500);
}

.selectFont {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-semi-bold);
  font-size: var(--font-size-2);
  line-height: 1.3;
}

.select {
  padding: calc(var(--spacing-1) + 0.8px) var(--spacing-6)
    calc(var(--spacing-1) + 1.0px) var(--spacing-2);
}

:global(.coral-width-lte-mobile) {
  .selectFont {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-primary-semi-bold);
    font-size: var(--font-size-4);
    line-height: 1.3;
  }
  .select {
    padding: calc(var(--spacing-1) + 0.4px) var(--spacing-6)
      calc(var(--spacing-1) + 0.8px) var(--spacing-2);
  }
}

.selectColor {
  color: var(--palette-text-500);
}

.fullWidth {
  width: 100%;
}

.hideLabel {
  position: absolute;
  pointer-events: none;
  visibility: hidden;
}
