<!doctype html>
<html lang="en">
<head></head>
<body>
  <h1>Forgot Password</h1>
  <p>We received a request to reset your password on <a href="{{ tenant.organizationURL }}">{{ tenant.organizationName }}</a>.</p>
  <p>Please follow the link below to reset your password:</p>
  <p><a href="{{ resetURL }}">Click here to reset your password</a></p>
  <p><i>If you did not request this change, you can ignore this email.</i></p>
  <footer>
    <p>Sent by <a href="{{ tenant.organizationURL }}">{{ tenant.organizationName }}</a></p>
  </footer>
</body>
</html>
