.mobileSelect {
  /* This adds left padding to Chrome on windows.. */
  padding: 3px;
  font-size: 16px;
  line-height: 0;
  height: 24px;
  width: 24px;
  /* Make the native select invisible */
  opacity: 0;
}
.mobileAfterWrapper {
  height: 24px;
  width: 24px;
  right: 0px;
  border: 1px solid var(--palette-text-primary);
  box-sizing: border-box;
  border-radius: var(--round-corners);
}
