.label {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-bold);
  font-size: var(--font-size-2);
  line-height: var(--line-height-3);

  color: var(--palette-text-500);
}

.selectFont {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-semi-bold);
  font-size: var(--font-size-2);
  line-height: var(--line-height-3);
}

.selectColor {
  color: var(--palette-text-500);
}

.fullWidth {
  width: 100%;
}
