.root {
  width: 100%;
}

.tabBarContainer {
  position: relative;
  padding-top: var(--spacing-1);
}

.sortMenu {
}

.featuredCommentsInfo {
  position: absolute;
  top: 0;
  right: 4px;
  height: 100%;
}

.featuredCommentsTabContainer {
  position: relative;
  overflow: hidden;
}

.featuredCommentsTabContainer > li {
  display: block;
}

.featuredCommentsTab {
  padding-right: 30px !important;
  width: 100%;
}

.tabBar {
  flex: 2;
  overflow: hidden;
}

.featuredTabText {
  overflow: hidden;
  text-overflow: ellipsis;
}

.tabListItem {
  display: block;
}

.allCommentsTabContainer {
  overflow: hidden;
}

.allCommentsTab {
  width: 100%;
}

.allCommentsTabText {
  overflow: hidden;
  text-overflow: ellipsis;
}
