$commentsModerationBannedColor: var(--v2-colors-red-500);

.label {
  color: var(--v2-colors-mono-500);
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-regular);
  font-size: var(--v2-font-size-3);
  line-height: var(--v2-line-height-3);

  text-align: left;
}

.banned {
  &:disabled {
    opacity: 1.0;
  }
  color: $commentsModerationBannedColor;
  font-weight: var(--v2-font-weight-primary-bold);
}

.banIcon {
  width: 18px;
  height: 14px;
  text-align: center;
  line-height: 12px;
}

.spinner {
  height: 14px;
}

.mouseHover {
  background-color: var(--v2-colors-stream-blue-100);
}
