$commentsModerationApprovedColor: var(--palette-success-500);
$commentsModerationRejectedColor: var(--palette-error-500);
$commentsModerationFeaturedColor: var(--palette-primary-500);

.label {
  color: var(--palette-text-500);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-regular);
  font-size: var(--font-size-3);
  line-height: 1;

  text-align: left;
}

.featured {
  color: $commentsModerationFeaturedColor;
  font-weight: var(--font-weight-primary-bold);
}

.approved {
  color: $commentsModerationApprovedColor;
  font-weight: var(--font-weight-primary-bold);
  &:disabled {
    opacity: 1.0;
  }
}

.approveIcon {
  padding-top: 1px;
  margin-bottom: -1px;
}

.rejected {
  color: $commentsModerationRejectedColor;
  font-weight: var(--font-weight-primary-bold);
  &:disabled {
    opacity: 1.0;
  }
}

.rejectIcon {
  padding-top: 1px;
  margin-bottom: -1px;
}

.link {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-regular);
  font-size: var(--font-size-3);
  line-height: 1;

  color: var(--palette-primary-500);

  text-decoration: underline;
}

.mouseHover {
  background-color: var(--palette-primary-100);
}

.linkIcon {
  padding-top: 1px;
  color: var(--palette-primary-500);
}
