$commentsModerationApprovedColor: var(--v2-colors-green-500);
$commentsModerationRejectedColor: var(--v2-colors-red-500);
$commentsModerationFeaturedColor: var(--v2-colors-stream-blue-500);

.label {
  color: var(--v2-colors-mono-500);
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-regular);
  font-size: var(--v2-font-size-3);
  line-height: var(--v2-line-height-3);

  text-align: left;
}

.featured {
  color: $commentsModerationFeaturedColor;
  font-weight: var(--v2-font-weight-primary-bold);
}

.approved {
  color: $commentsModerationApprovedColor;
  font-weight: var(--v2-font-weight-primary-bold);
  &:disabled {
    opacity: 1.0;
  }
}

.approveIcon {
  padding-top: 1px;
  margin-bottom: -1px;
}

.rejected {
  color: $commentsModerationRejectedColor;
  font-weight: var(--v2-font-weight-primary-bold);
  &:disabled {
    opacity: 1.0;
  }
}

.rejectIcon {
  padding-top: 1px;
  margin-bottom: -1px;
}

.link {
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-regular);
  font-size: var(--v2-font-size-3);
  line-height: var(--v2-line-height-3);

  color: var(--v2-colors-stream-blue-500);

  text-decoration: underline;
}

.mouseHover {
  background-color: var(--v2-colors-stream-blue-100);
}

.linkIcon {
  padding-top: 1px;
  color: var(--v2-colors-stream-blue-500);
}
