.banned {
  color: var(--palette-error-dark);
  font-weight: var(--font-weight-bold);
}
.banIcon {
  width: 18px;
  height: 14px;
  text-align: center;
  line-height: 12px;
}
.spinner {
  height: 14px;
}
