.urlColumn {
  width: 100%;
}

.detailsButton {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-semi-bold);
  line-height: var(--line-height-3);
  font-size: var(--font-size-2);
}
