.root {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-2);
  color: var(--palette-text-500);
  border-top: 1px solid var(--palette-grey-200);
  margin: 0 var(--spacing-2);
  padding: var(--spacing-2) 0;
}

.prompt {
  margin: 0;
  font-weight: var(--font-weight-primary-semi-bold);
}

.url {
  color: var(--palette-text-100);
  margin: 0;
}

.boldURL {
  font-weight: var(--font-weight-primary-semi-bold);
  color: var(--palette-text-500);
}
