<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ url }}dev">{{ tenant.organizationName }} <span class="text-muted">Tenant</span></a>
  <form class="form-inline mb-0">
    <a href="{{ url }}admin" class="btn btn-outline-primary mr-2"><i class="fa fa-lock" aria-hidden="true"></i> Admin</a>
    <a href="{{ url }}tenant/graphiql" class="btn btn-outline-secondary mr-2 graphiql"><i class="fa fa-terminal" aria-hidden="true"></i> Graph<em>i</em>QL</a>
  </form>
</nav>
