.count {
  display: inline-block;
  background: #989797;
  margin: 2px;
  vertical-align: middle;
  padding: 4px 7px;
  border-radius: 2px;
  margin-left: 10px;
  line-height: 20px;
  box-sizing: border-box;
  height: 27px;
  right: 0;
  margin-top: -2px;
}
