@custom-media --big-viewport (min-width: 780px);
.root {
  border-bottom: 1px solid #e0e0e0;
  font-size: 18px;
  width: 100%;
  max-width: 650px;
  min-width: 400px;
  margin: 0 auto;
  position: relative;
  transition: all 200ms;
  padding: 10px 0;
  margin-top: 13px;
  min-height: 0;
  outline: 0;
  /*
   Fix rendering issues in Safari by promoting this
   into its own layer.

   https://www.pivotaltracker.com/story/show/151142211
  */
  transform: translateZ(0);
  &:last-child {
    border-bottom: none;
  }
}

.dangling {
  background-color: #efefef;
}

.container {
  padding: 0 14px;
}

.itemHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author {
  font-weight: 300;
  width: 100%;
  display: flex;
  align-items: center;
  color: #262626;
  font-size: 16px;
  position: relative;
}

.sideActions {
  height: 100%;
  top: 0;
  box-sizing: border-box;
}

.itemBody {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 8px;
  overflow-wrap: break-word;
  word-break:break-word;
}

.body {
  margin-top: 0px;
  flex: 1;
  color: black;
  /*
    IE11 fix – Next line was supposed to be:
    max-width: 500px;
  */
  padding-right: 20px;
  /** IE11 fix end **/
  font-weight: 300;
  font-size: 16px;
  overflow-wrap: break-word;
}

.created {
  padding: 5px;
  color: #262626;
  font-size: 14px;
  line-height: 1px;
  font-weight: 300;
}

.deleted {
  background-color: #f0f0f0;
}

.moderateArticle {
  font-size: 14px;
  margin: 10px 0;
  font-weight: 500;
  line-height: 1.2;
  max-width: 500px;
  a {
    display: inline-block;
    color: #063b9a;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: .5px;
    margin-left: 10px;
    font-size: 13px;
    margin-left: 5px;
    padding-bottom: 0px;
    border-bottom: solid 1px;
    line-height: 16px;
    &:hover {
      opacity: .9;
      cursor: pointer;
    }
  }
}

.username {
  color: #393B44;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  padding: 2px 5px;
  border-radius: 2px;
  margin-left: -5px;
  transition: background-color 200ms ease;
  &:hover {
    background-color: #E0E0E0;
  }
}

.external {
  font-size: .7em;
  text-decoration: none;
  color: #063b9a;
  cursor: pointer;
  font-weight: normal;
  white-space: nowrap;
  &:hover {
    text-decoration: underline;
    opacity: .9;
  }
  i {
    font-size: 12px;
    position: relative;
  }
}

.editedMarker {
  font-style: italic;
  color: #666;
  font-size: 12px;
  line-height: 1px;
  font-weight: 300;
}

.adminCommentInfoBar {
  min-width: 100px;
  position: absolute;
  right: 0px;
  top: 0px;
  text-align: right;
}

.hasLinks {
  color: #f00;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 14px;
  i {
    margin-right: 5px;
  }
}

@media (--big-viewport) {
  .root {
    margin-bottom: 30px;
    &:last-child {
      border-bottom: 1px solid #e0e0e0;
    }
  }
}

.commentContent {
  display: flex;
  blockquote {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
  }
}

.commentContentFooter {
  flex: 1;
}
