@custom-media --desktop (max-width: 1280px);

.container {
  max-width: 1280px;
  position: relative;
  margin: 0 auto;

  @media (--desktop) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

