.root {
  padding: 8px 0;
  list-style: none;
  display: block;
}

:global(html) {
  height: inherit;
}

.list {
  padding: 0;
  margin: 0;
}

.commentLeave {
  opacity: 1.0;
}

.commentLeaveActive {
  opacity: 0.1;
  transition: opacity 800ms;
}

.commentEnter {
  opacity: 0.1;
}

.commentEnterActive {
  opacity: 1.0;
  transition: opacity 800ms;
}

