@custom-media --big-viewport (min-width: 780px);

.tabBar {
  background-color: rgba(44, 44, 44, 0.89);
  z-index: 5;
  display: flex;
  justify-content: space-between;
}

.tab {
  color: #BDBDBD;
  text-transform: capitalize;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 1px;
  transition: border-bottom 200ms;
  transition: color 200ms;
  padding: 0px 10px;
  margin-right: 20px;

  &:hover {
    color: white;
    box-sizing: border-box;
  }
}

.active {
  color: white;
  box-sizing: border-box;
  border-bottom: solid 4px #F36451;
  font-weight: 400;
  &:hover {
    border-bottom: solid 4px #F36451;
    font-weight: 400;
  }
}

.active > span {
  color: white;
}

.active:after {
  background: transparent !important;
}

.tabIcon {
  position: relative;
  top: 3px;
  font-size: 16px;
}

.tabBarContainer {
  margin: 0 auto;
}