.copyButton {
  float: right;
  top: -10px;
}

.memberSince {
  clear: both;
}

.small {
  color: #aaa;
}

.stats {
  display: flex;

  .stat {
    margin: 0 4px 12px;
  }

  .stat:last-child {
    margin-right: 0;
  }

  p {
    margin: 0;
  }

  .stat p:first-child {
    font-weight: bold;
  }
}

.profileEmail {
  border: none;
  background-color: transparent;
  font-size: 16px;
  position: absolute;
  width: 90%;
  outline: none;
}

.commentStatuses {
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    padding: 0 10px;
  }
}

.active {
  font-weight: bold;
  border-bottom: 3px solid #F36451;
}
