@custom-media --tablet (max-width: 1024px);

.viewOptions {
  display: inline-block;
  width: 220px;
  position: absolute;
  padding: 0;
  overflow: visible;
  height: 144px;
  min-height: auto;

  @media (--tablet) {
    width: 650px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    height: 60px;
  }
}

.headline {
  margin: 0;
  font-size: 1.1rem;
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding: 0 20px;

  @media (--tablet) {
    flex: 1;
    display: inline-block;
    border-bottom: none;
    line-height: 60px;
  }
}

.viewOptionsContent {
  padding: 10px 20px;

  @media (--tablet) {
    display: inline-block;
  }
}

.viewOptionsList {
  padding: 0;
  margin: 0;
  color: rgba(0,0,0,.54);
}

.viewOptionsItem {
  list-style: none;
}

.selectField {
  position: relative;
  width: 140px;
  height: 36px;
  top: 5px;
  margin-right: 10px;
  background: #7B7B7B;
  color: white;
  padding: 6px 15px;
  box-sizing: border-box;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

  @media (--tablet) {
    display: inline-block;
    margin-left: 10px;
  }

  > div {
    padding: 0;
  }

  i {
    position: absolute;
    top: 7px;
    right: 7px;
  }

  input {
    font-size: 1rem;
    border-bottom: 0px;
    font-family: inherit;
  }

  label {
    top: -4px;
  }

  &:hover {
    cursor: pointer;
   }
}
