.content {
  a {
    color: #063b9a;
    text-decoration: underline;
    font-weight: 300;
    background-color: #f4ff81;
  }

  mark {
    background-color: #f4ff81;
  }

  b, strong {
    font-weight: 600;
  }
}
