.root {
  width: calc(29 * var(--spacing-unit));
  height: 36px;
  width: 100%;
  line-height: 36px;
  box-sizing: border-box;
}

.colorRegular {
  background-color: var(--palette-common-white);
  color: var(--palette-common-black);
  border: 1px solid var(--palette-grey-light);
}

.colorError {
  background-color: var(--palette-common-white);
  border-color: var(--palette-error-main);
  border: 2px solid var(--palette-error-darkest);
}

.fullWidth {
  width: 100%;
}

.wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.icon {
  position: absolute;
  display: inline-block;
  right: 0px;
  padding: 4px calc(1 * var(--spacing-unit));
  cursor: pointer;
  line-height: 0;
}

.input {
  composes: inputText placeholderPseudo from "talk-ui/shared/typography.css";
  display: block;
  padding: calc(0.5 * var(--spacing-unit)) calc(3 * var(--spacing-unit))
    calc(0.5 * var(--spacing-unit)) calc(0.5 * var(--spacing-unit));
  border-radius: var(--round-corners);
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  &:read-only {
    background-color: var(--palette-grey-lightest);
  }
  &:disabled {
    color: var(--palette-text-secondary);
    background-color: var(--palette-grey-lightest);
  }
}
