$messageErrorBackgroundColor: var(--v2-colors-red-500);
$messageErrorForegroundColor: var(--v2-colors-pure-white);

.root {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding: var(--v2-spacing-1) var(--v2-spacing-2);
  box-sizing: border-box;
  border-radius: var(--round-corners);
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-bold);
  font-size: var(--v2-font-size-2);
  line-height: var(--v2-line-height-title);
}

.colorGrey {
  background-color: var(--palette-common-white);
  border-color: var(--palette-grey-main);
  color: var(--palette-grey-main);
}

.colorDark {
  background-color: var(--palette-text-primary);
  border-width: 0px;
  color: var(--palette-text-light);
}

.colorError {
  background-color: $messageErrorBackgroundColor;
  color: $messageErrorForegroundColor;
}

.colorPrimary {
  background-color: var(--palette-primary-light);
  border-color: var(--palette-primary-darkest);
  border-width: 0px;
  border-left-width: calc(0.5 * var(--mini-unit));
  color: var(--palette-text-light);
}

.fullWidth {
  display: flex;
  width: 100%;
}
