.root {
  composes: bodyCopy from "coral-ui/shared/typography.css";
  overflow-wrap: break-word;

  & * bold,
  & * strong {
    font-weight: var(--font-weight-medium);
  }
  & * italic,
  & * em {
    font-style: italic;
  }
  blockquote {
    background-color: var(--palette-grey-lightest);
    padding: var(--mini-unit);
    margin: calc(2 * var(--mini-unit)) 0 calc(2 * var(--mini-unit))
      var(--mini-unit);
    border-radius: var(--round-corners);
    &::after {
      content: none;
    }
    &::before {
      content: none;
    }
  }
}
