.container {
  width: 385px;
  background-color: var(--v2-colors-grey-100);
  border: 1px solid var(--v2-colors-grey-300);
  margin-top: 70px;
  padding: var(--v2-spacing-6);
  box-sizing: border-box;
}
