$modal-text: $colors-mono-500;

.root {
  font-size: var(--font-size-5);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-semi-bold);
  line-height: var(--line-height-title);
  color: $modal-text;
  margin: 0;
}
