$modal-text: var(--v2-colors-mono-500);

.root {
  font-size: var(--v2-font-size-5);
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-semi-bold);
  line-height: var(--v2-line-height-title);
  color: $modal-text;
  margin: 0;
}
