$modal-text: $colors-mono-500;

.root {
  font-size: var(--font-size-5);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-semi-bold);
  line-height: 1.2;
  color: $modal-text;
  margin: 0;
}
