.root {
  height: 100%;
  width: 100%;
}

.link {
  color: var(--palette-text-secondary);
  font-family: var(--font-family-sans-serif);
  font-weight: var(--font-weight-bold);
  font-size: calc(18rem / var(--rem-base));
  line-height: calc(20em / 18);
  letter-spacing: calc(-0.1em / 18);
  height: 100%;
  display: inline-flex;
  align-items: center;
  padding: 0 calc(1.5 * var(--spacing-unit));
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

.active {
  background-color: var(--palette-brand);
  text-decoration: none;
  color: var(--palette-text-light);
}
