.title {
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-semi-bold);
  font-size: var(--v2-font-size-4);
  line-height: var(--v2-line-height-5);

  color: var(--v2-colors-mono-900);

  margin-bottom: var(--v2-spacing-1);
}

.username {
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-regular);
  font-size: var(--v2-font-size-3);
  line-height: var(--v2-line-height-5);

  color: var(--v2-colors-mono-500);
}

.changeButton {
  padding-bottom: var(--v2-spacing-4);
}

.changeButtonMessage {
  padding-bottom: var(--v2-spacing-1);
}

.heading {
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-semi-bold);
  font-size: var(--v2-font-size-3);
  line-height: var(--v2-line-height-5);

  color: var(--v2-colors-mono-900);

  margin-bottom: var(--v2-spacing-3);
}

.description {
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-regular);
  font-size: var(--v2-font-size-3);
  line-height: var(--v2-line-height-5);

  color: var(--v2-colors-mono-500);
}

.label {
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-bold);
  font-size: var(--v2-font-size-2);
  line-height: var(--v2-line-height-3);

  color: var(--v2-colors-mono-500);
}

.tooSoon {
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-regular);
  font-size: var(--v2-font-size-2);
  line-height: var(--v2-line-height-3);

  color: var(--v2-colors-mono-100);

  margin-bottom: var(--v2-spacing-4);
}

.footer {
  margin-top: var(--v2-spacing-5);
  margin-bottom: var(--v2-spacing-5);
}

.footerButton {
  margin-right: var(--v2-spacing-2);
}

.successMessage {
  padding-bottom: var(--v2-spacing-3);
}
