.child {
  width: initial;
}

.text {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-regular);
  font-size: var(--font-size-2);
  line-height: 1;

  color: var(--palette-text-900);

  padding-bottom: var(--spacing-1);
}

.username {
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-secondary-bold);
  font-size: var(--font-size-4);
  line-height: 0.89;

  color: var(--palette-text-900);

  padding-right: var(--spacing-1);
  padding-bottom: var(--spacing-1);
}

.signOut {
  display: flex;
  align-items: center;

  color: var(--palette-text-500);
}

.userBoxButton {
  line-height: 1;

  padding-left: var(--spacing-1);

  color: var(--palette-action-000) !important;
}
