.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--palette-background-light);
}

.main {
  margin: calc(2 * var(--mini-unit)) 0 calc(4 * var(--mini-unit)) 0;
  display: flex;
  justify-content: center;
}

.subBar {
  height: calc(4 * var(--mini-unit));
  background-color: var(--palette-primary-dark);
  margin-top: -1px;
}

.subBarBegin {
  position: absolute;
  left: 0;

  font-size: calc(12rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-sans);
  line-height: calc(14em / 12);
  letter-spacing: calc(0.2em / 12);

  color: var(--palette-common-white);
  text-transform: uppercase;
  text-decoration: none;
}

.subBarTitle {
  font-size: calc(14rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-sans);
  line-height: calc(16em / 14);
  letter-spacing: calc(0.2em / 14);

  color: var(--palette-common-white);
  text-transform: uppercase;
}
