$moderateCardDecisionHistoryLinkTextColor: $colors-teal-700;

.root {
  line-height: var(--line-height-3);
  font-weight: var(--font-weight-primary-bold);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-1);
  color: $moderateCardDecisionHistoryLinkTextColor;
  font-style: var(--font-style-underline);
}
