.root {
  /*
    Fallback begin

    Unfortunately Firefox / IE does not support
    `word-break: break-word` yet.
  */
  word-break: break-all;
  /* Fallback end */
  word-break: break-word;
  color: var(--v2-palette-text-primary);
  font-weight: var(--v2-font-weight-primary-semi-bold);
  font-family: var(--v2-font-family-primary);
  line-height: var(--v2-line-height-body-short);
  font-size: var(--v2-font-size-2);
}
