.root {
  color: var(--palette-text-secondary);
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-medium);
  font-size: calc(12rem / var(--rem-base));
  line-height: calc(14em / 12);
  letter-spacing: 0;
}
