.root {
  background: var(--v2-palette-decision-history-title-background);
  padding: var(--v2-spacing-1);
  color: var(--v2-palette-text-primary);
  border-bottom: 1px solid var(--v2-palette-decision-history-border);
  font-size: var(--v2-font-size-icon-medium);
}

.icon {
  margin-right: var(--v2-spacing-2);
}

.text {
  text-transform: uppercase;
  font-weight: var(--v2-font-weight-primary-bold);
  color: var(--v2-palette-text-primary);
  font-size: var(--v2-font-size-2);
  line-height: 1;
  font-family: var(--v2-font-family-primary);
}
