.root {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 0;

  overflow: hidden;
}

.tabBar {
  flex: none;
}

.tabContent {
  flex: auto;
  overflow: hidden;
}

.container {
  height: calc(100% - 2 * var(--spacing-2));

  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 0;

  overflow: hidden;

  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-2);
}

.scrollable {
  overflow: auto;
}