.root {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 0;

  overflow: hidden;
}

.tabBar {
  flex: none;
}

.tabContent {
  flex: auto;
  overflow: hidden;
}

.container {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 0;

  overflow: hidden;
}

.scrollable {
  overflow: auto;
}