.footer {
  text-align: center;
}

.loadMore {
  width: 100%;
  background-color: var(--palette-common-white);

  border-width: 1px;
  border-style: solid;
  border-color: var(--palette-grey-lighter);
  border-radius: 2px;

  margin-top: var(--spacing-1);
}