.root {
  position: fixed;
  right: 0;

  min-width: 400px;
  max-width: 80vw;
  margin-top: 5px;
  height: calc(100% - 10px);

  background-color: var(--palette-background-light);
}

.username {
  font-family: var(--font-family-serif);
  font-size: calc(24rem / var(--rem-base));
  font-weight: 500;
  font-family: var(--font-family-serif);
  line-height: calc(36em / 24);
  letter-spacing: calc(0.2em / 24);
  margin-bottom: var(--spacing-1);
}

.userDetails {
  margin-bottom: var(--spacing-3);
}

.userDetail {
  margin-bottom: var(--spacing-1);
}

.userDetailValue {
  margin-right: var(--spacing-2);
}

.icon {
  margin-right: var(--spacing-2);
}

.copy {
  border: 1px solid var(--palette-primary-main);
  background-color: var(--palette-background-light);
  color: var(--palette-primary-main);
  padding-top: 2px;
  padding-bottom: 2px;
  
  &:active {
    background-color: var(--palette-primary-lightest);
    border-color: var(--palette-primary-main);
    color: var(--palette-primary-main);
  }
}