@custom-media --big-viewport (min-width: 780px);

.myComment {
  margin: 1em 0;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.myComment:last-child {
  border-bottom: solid 1px #EBEBEB;
}

.assetURL {
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  color: #2c3e50;
}

.commentBody {

}

.sidebar {
  ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    min-width: 136px;
  }

  li {
    margin-bottom: 5px;

    &:nth-child(1) {
      color: #5394D7;
    }

    &:nth-child(2) {
      color: #909090;
    }


    i {
      margin-right: 5px;
      font-size: 15px;
    }

    a:hover {
      cursor: pointer;
    }
  }
}

@custom-media --mobile-viewport (max-width: 480px);

@media (--mobile-viewport) {
  .myComment {
    flex-direction: column;
  }

  .sidebar ul {
    display: flex;
    li {
      margin-right: 20px;
    }
  }
}

.pubdate {
  display: inline-block;
  font-size: inherit;
  margin: inherit;
  color: inherit;
}
