.loginContainer {
  width: 500px;
  background-color: #f5f5f5;
  border: 1px solid var(--palette-grey-lighter);
  margin-top: 125px;
  padding: 0 calc(9 * var(--spacing-unit)) calc(9 * var(--spacing-unit))
    calc(9 * var(--spacing-unit));
  box-sizing: border-box;
}

.brandIcon {
  display: inline-flex;
  background: var(--palette-common-white);
  padding: calc(1 * var(--spacing-unit));
  border: 1px solid var(--palette-grey-lighter);
  margin-top: -67px;
}
