.root {
  position: relative;
}
.hr {
  position: absolute;
  border: 0;
  border-top: 1px solid var(--palette-divider);
  width: 100%;
  margin: 0;
}
.text {
  position: relative;
  background-color: #f5f5f5;
  padding: 0 var(--mini-unit);

  font-size: var(--v2-font-size-4);
  font-weight: var(--v2-font-weight-bold);
  font-family: var(--v2-font-family-primary);
  line-height: var(--v2-line-height-title);
  color: var(--v2-colors-mono-100);
}
