.disableTransitions {
  & * {
    transition: none !important;
  }
}

.root {
  width: 100%;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  input::-ms-clear, input::-ms-reveal {
    display: none;
  }
}

.tabContent {
  padding-top: var(--mini-unit);
}
