/* Here we add global stylings for body and document */
:global {
  body {
    margin: 0;
    padding: 0;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  }
}

.root {
  width: 100%;
}

.tabContent {
  padding-top: var(--mini-unit);
}
