/* Here we add global stylings for body and document */
:global {
  body {
    margin: 0;
    padding: 0;
    background: var(--palette-background-body);

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  }
  input::-ms-clear, input::-ms-reveal {
    display: none;
  }
}

.disableTransitions {
  & * {
    transition: none !important;
  }
}

.root {
  width: 100%;
}

.tabContent {
  padding-top: var(--mini-unit);
}
