@custom-media --big-viewport (min-width: 780px);

.listContainer {
  max-width: 860px;
  margin: 0 auto;
}

.tabBar {
  background: #9E9E9E;
}

.tab {
  flex: 1;
  color: white;
}

@media (--big-viewport) {
  .tab {
    flex: none;
  }
}
