@custom-media --big-viewport (min-width: 780px);

.listContainer {
  max-width: 860px;
  margin: 0 auto;
}

.tabBar {
  background: #9E9E9E;
}

.tab {
  flex: 1;
  color: white;
}

.showShortcuts {
  position: absolute;
  right: 130px;
  display: flex;
  align-items: center;
  font-size: 13px;

  span {
    margin-left: 7px;
  }
}

@media (--big-viewport) {
  .tab {
    flex: none;
  }
}
