.copyButton {
  float: right;
  top: -10px;
}

.memberSince {
  clear: both;
}

.small {
  color: #aaa;
}

.stats {
  display: flex;

  .stat {
    margin: 0 4px 12px;
  }

  .stat:last-child {
    margin-right: 0;
  }

  p {
    margin: 0;
  }

  .stat p:first-child {
    font-weight: bold;
  }
}
