.root {
  composes: buttonReset from "../shared/buttonReset.css";
}

.keyboardFocus {
  outline-width: 3px;
  outline-color: Highlight;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
}
