.root {
  padding: 5px 20px;
  border-radius: 2px;
  background-color: transparent;
  font-family: "Source Sans Pro";
  font-size: 16px;
  color: black;
  letter-spacing: 0;

  /* TODO: hover styles for the default button */
}

.fullWidth {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.primary {
  background-color: $primary-color-3;
  color: #fff;

  &:hover {
    background-color: $primary-color-4;
  }

  &:active {
    background-color: $primary-color-5;
  }

  &.invert {
    background-color: transparent;
    border: 1px solid $primary-color-3;
    color: $primary-color-3;

    &:hover {
      border-color: $primary-color-4;
      color: $primary-color-4;
    }

    &:active {
      border-color: $primary-color-5;
      color: $primary-color-5;
    }
  }
}

.secondary {
  background-color: $secondary-color-3;
  color: #fff;

  &:hover {
    background-color: $secondary-color-4;
  }

  &:active {
    background-color: $secondary-color-5;
  }

  &.invert {
    background-color: transparent;
    border: 1px solid $secondary-color-3;
    color: $secondary-color-3;

    &:hover {
      border-color: $secondary-color-4;
      color: $secondary-color-4;
    }

    &:active {
      border-color: $secondary-color-5;
      color: $secondary-color-5;
    }
  }
}

/**
 * This seems to be the best way to target modern touch device browsers.
 */
@media (-moz-touch-enabled: 1), (pointer:coarse) {
  /* TODO: Remove hover styles */
}
