.root {
  width: 100%;
}

.link {
  margin-left: var(--v2-spacing-2);
  color: var(--palette-primary-main);
}

.frame {
  width: 100%;
  border: none;
  /* cancel out default margin on iframe body */
  margin-top: calc(-1 * var(--v2-spacing-2));
  margin-left: calc(-1 * var(--v2-spacing-2));
}
