.flexContainer {
  height: 100%;

  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
}

.unmarkAllContainer {
}

.nextActionContainer {
}

.notificationActionContainer {
}

.closeContainer {
}
