.root {
  composes: validationMessage from "talk-ui/shared/typography.css";
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding: calc(0.5 * var(--spacing-unit)) var(--spacing-unit);
  box-sizing: border-box;
  border-radius: var(--round-corners);
  border-left-width: calc(0.5 * var(--spacing-unit));
  border-left-style: solid;
}

.colorError {
  background-color: var(--palette-error-light);
  border-color: var(--palette-error-darkest);
  color: var(--palette-common-white);
}

.fullWidth {
  display: flex;
  width: 100%;
}

.icon {
  margin-right: var(--spacing-unit);
}
