.root {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  padding: calc(0.5 * var(--mini-unit) + 1px) var(--mini-unit);
  box-sizing: border-box;
  width: 100%;
  background-color: var(--palette-text-primary);
}
