@define-mixin bodyCopy {
  font-size: calc(16rem / var(--rem-base));
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-sans-serif);
  line-height: calc(20em / 16);
  letter-spacing: calc(0.2em / 16);
  color: var(--palette-text-primary);
}

@define-mixin heading1 {
  font-size: calc(24rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-serif);
  line-height: calc(26em / 24);
  letter-spacing: calc(0.2em / 24);
  color: var(--palette-text-primary);
}

@define-mixin heading2 {
  font-size: calc(20rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-serif);
  line-height: calc(22em / 20);
  letter-spacing: calc(0.2em / 20);
  color: var(--palette-text-primary);
}

@define-mixin heading3 {
  font-size: calc(18rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-serif);
  line-height: calc(20em / 18);
  letter-spacing: calc(0.2em / 18);
  color: var(--palette-text-primary);
}

@define-mixin heading4 {
  font-size: calc(16rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-serif);
  line-height: calc(18em / 16);
  letter-spacing: calc(0.2em / 16);
  color: var(--palette-text-primary);
}
@define-mixin heading5 {
  font-size: calc(14rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-serif);
  line-height: calc(16em / 16);
  letter-spacing: calc(0.2em / 16);
  color: var(--palette-text-primary);
}
