.table {
  flex-direction: column;
}

.table, .headerRow, .row {
  display: flex;
}

.headerRowItem, .item {
  flex: 1;
  padding: 20px;

  &:nth-child(2) {
    flex: 2;
  }
}

.headerRowItem {
  color: #595959;
  font-weight: bold;
}

.headerRow, .row {
  border-bottom: 1px solid #e0e0e0;
}

.action {
  color: black;
  font-weight: bold;
}
