.root {
  display: block;
  color: #519954;
  border: solid 2px rgba(81, 153, 84, 0.75);
  background: white;
  padding: 10px 12px;
  box-sizing: border-box;
  border-radius: 3px;
  text-transform: capitalize;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.09);
  width: 100%;
  margin: 0 0 .5em;

  &:not(:disabled):hover {
   box-shadow: none;
   color: white;
   background-color: #519954;
   cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.active {
  box-shadow: none;
  color: white;
  background-color: #519954;

  &:hover {
    cursor: not-allowed;
  }
}

.minimal {
  width: 45px;
  min-width: 0;
}

.icon {
  margin-right: 5px;
}
