.commentType {
  display: inline-block;
  color: white;
  background: grey;
  box-sizing: border-box;
  padding: 0px 5px;
  border-radius: 2px;
  font-size: 12px;
  height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 1px;
  
  > i {
    font-size: 14px;
    vertical-align: text-top;
    margin: 0;
    margin-right: 4px;
  }

  &.premod {
    background: #063B9A;
  }

  &.flagged {
    background: #d03235;
  }

  &.no-type {
    display: none;
  }
}
