.root {
  margin-top: 10px;
  padding-top: 10px;
}

.moreDetail {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  color: black;
  right: 16px;

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}

