.root {
  position: relative;
}

.bodyLeave {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: white;
  opacity: 1.0;
  transition: background 400ms, opacity 800ms 1600ms;
  pointer-events: none;
}

.bodyLeaveActive {
  opacity: 0;
  background-color: rgba(255,255,0, 0.2);
}

.bodyEnter {
  opacity: 0;
  pointer-events: none;
}

.bodyEnterActive {
  opacity: 1.0;
  transition: opacity 800ms 2400ms;
}
