.flagBox {
  border-top: 1px solid rgba(66, 66, 66, 0.12);
  margin-top: 10px;
  padding-top: 10px;
}

.info {
  vertical-align: middle;
  list-style: none;
  display: inline-block;
  padding: 0;
  font-size: 12px;
}

.detail  {
  padding: 0;
  list-style: none;
  font-size: 12px;
  font-weight: 500;
}

.subDetail {
  padding: 0;
  list-style: none;
  font-size: 12px;
  font-weight: normal;
  color: #888;
}

.moreDetail {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  color: black;
  right: 16px;

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}

.lessDetail {
  display: inline-block;
  margin-right: 10px;
}

.username {
  color: #393B44;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  padding: 2px 5px;
  border-radius: 2px;
  margin-left: -5px;
  transition: background-color 200ms ease;
  &:hover {
    background-color: #E0E0E0;
  }
}
