.heading {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.widgetTable {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.widgetTable thead th {
  border-bottom: 1px solid #f47e6b;
  padding: 10px;
  text-align: left;
}

.widgetTable tbody tr {
  border-bottom: 1px solid lightgrey;
}

.widgetTable tbody tr:last-child {
  border-bottom: none;
}

.widgetTable tbody td {
  padding: 10px;
}

.lede {
  font-size: 0.9em;
  color: grey;
}
