.loadMoreContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.loadMore {
  width: 100%;
  text-align: center;
  color: #FFF;
  max-width: 660px;
  margin-bottom: 30px;
  background-color: #2376D8;
  cursor: pointer;
}

.loadMore:hover {
  background-color: #4399FF;
}


