
.container {
  display: flex;
  justify-content: space-around;
}

.shortcut {
  padding: 8px;
}

.key {
  background: #eee;
  padding: 3px;
  min-width: 15px;
  min-height: 8px;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #999;
}

.callToAction {
  position: fixed;
  bottom: 10px;
  width: 280px;
  height: 200px;
  background: white;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.15);
  z-index: 4;

  .ctaHeader {
    font-size: 16px;
    margin-bottom: 5px;
  }

  ul {
    padding-left: 0;
    list-style: none;
    margin: 0 0 10px 0;
  }

  p, li {
    font-size: 12px;
    margin-bottom: 5px;
  }

  li span:first-child, p:last-child span:first-child {
    display: inline-block;
    width: 120px;
  }
}

.closeButton {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.smallKey {
  padding: 5px;
  border: 1px solid #ccc;
}
