.layout {
  max-width: 400px;
  margin: 0 auto;
}

.layout h1 {
  font-size: 40px;
}

.passwordRequestSuccess {
  padding: 8px 14px;
  background: lightgreen;
  border: 1px solid darkgreen;
  border-radius: 4px;
}
