.root {
  display: block;
  color: #D03235;
  border: solid 1px #D03235;
  background: white;
  padding: 10px 11px;
  box-sizing: border-box;
  vertical-align: middle;
  line-height: 24px;
  font-size: 17px;
  height: 47px;
  border-radius: 3px;
  text-transform: capitalize;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.09);
  width: 129px;
  transform: scale(.8);
  margin: 0;

  &:not(:disabled):hover {
   color: white;
   background-color: #D03235;
   box-shadow: none;
   cursor: pointer;
 }

  &:disabled {
    cursor: not-allowed;
  }
}

.active {
  color: white;
  background-color: #D03235;
  box-shadow: none;

  &:hover {
    cursor: not-allowed;
  }
}

.minimal {
  width: 45px;
  min-width: 0;
}

.icon {
  margin-right: 5px;
}
