.copyButton {
  background-color: white;
  border: solid 1px;
  padding: 2px 6px;
  height: auto;
  line-height: initial;
  min-width: auto;
  letter-spacing: normal;
  font-size: 0.9em;
  margin-left: 10px;
}

.userDetailList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.userDetailItem {
  margin: 0 5px;
  font-weight: 500;
}

.stats {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  margin: 15px 0 5px;
  color: #595959;
}

.stat {
  margin-right: 20px;
}

.stat:last-child {
  margin-right: 0px;
}

.statItem,
.statReportResult {
  padding: 3px 5px;
  background-color: #D8D8D8;
  border-radius: 3px;
  font-weight: 500;
  display: block;
  font-size: 0.9em;
  line-height: normal;
  letter-spacing: 0.4px;
  min-width: 60px;
}

.statResult {
  font-size: 1.5em;
  padding: 5px 0;
  display: inline-block;
}

.statReportResult {
  color: white;
  margin: 5px 0;
  font-weight: 400;
}

.statReportResult.reliable {
  background-color: #749C48;
}

.statReportResult.neutral {
  background-color: #616161;
}

.statReportResult.unreliable {
  background-color: #F44336;
}

.memberSince {
  clear: both;
}

.small {
  color: #888888;
  font-size: 0.9em;
  letter-spacing: 0.4px;
}

.profileEmail {
  border: none;
  background-color: transparent;
  font-size: 16px;
  outline: none;
  width: calc(100% - 90px);
}

.tabBar {
  padding: 0 0 0 10px;
  margin: 0;
  align-self: center;
  list-style: none;
  box-sizing: border-box;
  border: none;
}

.tab {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  padding: 0 10px;
}

.tabButton {
  border: none;
  background: white;
  border-radius: 0;
  font-size: 1em;
  padding: 5px;
  cursor: pointer;
}

.tabButtonActive {
  font-weight: bold;
  border-bottom: 3px solid #F36451;
}
.username {
  display: inline-block;
  vertical-align: middle;
}

.actionsMenu {
  display: inline-block;
}

.actionsMenuSuspended {
  background-color: #F29336;
  border-color: #F29336;
  color: white;
}

.actionsMenuBanned {
  background-color: #E45241;
  border-color: #E45241;
  color: white;
}
