.userInfo {
  position: relative;
  display: inline-block;
}

.icon {
  font-size: 16px;
  color: #616161;
  -ms-user-select:none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout:none;
  user-select: none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.icon:hover {
  cursor: pointer;
}

.menu {
  background-color: white;
  border: solid 1px #999;
  border-radius: 3px;
  padding: 10px;
  position: absolute;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  z-index: 10;
  top: 32px;
  right: 0px;
  width: 140px;
  text-align: left;
  color: #616161;
}

.menu::before{
  content: '';
  border: 10px solid transparent;
  border-top-color: #999;
  position: absolute;
  right: 0px;
  top: -20px;
  transform: rotate(180deg);
}

.menu::after{
  content: '';
  border: 10px solid transparent;
  border-top-color: white;
  position: absolute;
  right: 0px;
  top: -19px;
  transform: rotate(180deg);
}

.descriptionList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.strongItem {
  margin-right: 3px;
}

.descriptionItem {
  font-size: 0.9em;
}