.icon {
  margin-right: var(--spacing-2);
}

.forgotPassword {
  font-family: var(--font-family-primary);
  font-weight: var(--font-family-primary-semi-bold);
  font-size: var(--font-size-2);
  line-height: 1.14;

  color: var(--palette-primary-500);
}

.field {
  margin-bottom: var(--spacing-3);
}

.actions {
  padding-top: var(--spacing-2);
}
