.legend {
  margin-bottom: 2px;
  text-transform: uppercase;
}

.textField {
  height: 31px;
  width: calc(36 * var(--spacing-unit));
}

.adornment {
  padding: 0 var(--spacing-unit);
}

.selectField {
  min-width: calc(13 * var(--spacing-unit));
}
