$tooltip-contents: var(--palette-text-000);

.root {
  align-items: center;
  display: flex;
}

.tooltip {
  width: max-content;
  max-width: 220px;
}

.title {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-bold);
  color: $tooltip-contents;
  line-height: var(--line-height-4);
  margin: 0 0 var(--spacing-1) 0;
  font-size: var(--font-size-2);
}

.contents {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-regular);
  color: $tooltip-contents;
  line-height: var(--line-height-4);
  margin: 0;
  font-size: var(--font-size-2);
}
