.alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 2px;
}

.alert--success {
    border: solid 1px #1ec00e;
    background: #cbf1b8;
    color: #006900;
}

.alert--error {
    background: #FFEBEE;
    color: #B71C1C;
}
