.button {
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #000;
    display: block;
    position: relative;
    height: 36px;
    min-width: 64px;
    padding: 0 8px;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    overflow: hidden;
    will-change: box-shadow,transform;
    -webkit-transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 28px;
    vertical-align: middle;
    margin: 2px;
    letter-spacing: 0.7px;
    font-weight: 400;
}

.icon {
  margin-right: 5px;
  font-size: 18px;
  vertical-align: middle;
  margin-top: -3px;
}

.type--black {
    color: white;
    background: #212121;
}

.type--white {
    color: #212121;
    background: white;
}

.type--local {
    background: #E0E0E0;
    color: #212121;
}

.type--local:hover {
    background: #d6d5d5;
    color: #212121;
}

.type--local:active {
    background: #cccccc;
    color: #212121;
}

.type--facebook {
    background-color: #4267b2;
    border-color: #4267b2;
    color: rgb(255, 255, 255);
}

.type--facebook:hover {
    background-color: #365899;
    border-color: #365899;
}

.type--success {
  color: white;
  background: #2376d8;
}

.type--success:hover {
  color: white;
  background: #2782ee;
}

.type--cancel {
  color: white;
  background: #2E343B;
}

.type--cancel:hover {
  color: white;
  background: #4f5c67;
}

.type--blue {
    color: white;
    background: #083b97;
}

.type--blue:hover {
    color: white;
    background: #083b97;
}

.type--darkGrey {
  color: white;
  background: #616161;
}

.type--darkGrey:hover {
  color: white;
  background: #696969;
}

.type--lightGrey {
  color: white;
  background: #ccc;
  cursor: default;
}

.type--lightGrey:hover {
  color: white;
  background: #ccc;
}

.type--green {
  color: white;
  background: #00897B;
}

.type--green:hover {
  color: white;
  background: #00a291;
}

.type--ban, .type--actions {
  display: block;
  color: #616161;
  border: solid 1px rgba(97, 97, 97, 0.77);
  background: white;
  box-sizing: border-box;
  vertical-align: middle;
  line-height: 24px;
  border-radius: 3px;
  text-transform: capitalize;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.09);
  padding: 0 8px;
  height: 34px;
  font-size: 14px;
  width: auto;

  &:hover {
     box-shadow: none;
     color: white;
     background-color: #616161;
     border-color: transparent;
  }

  > .icon {
    margin-right: 5px;
    font-size: 14px;
  }
}

.full {
  width: 100%;
  margin: 0;
}

.raised {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}


.button:disabled {
  background: #E0E0E0;
  color: #4f5c67;
  font-weight: bold;
  cursor: default;
}
