.drawer {
  max-width: 700px;
  min-width: 550px;
  position: fixed;
  top: 0;
  right: 0px;
  bottom: 0;
  background-color: white;
  transition: transform 500ms ease-in-out;
  box-shadow: -3px 0px 4px 0px rgba(0,0,0,0.15);
  z-index: 10000;

  .content {
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.closeButton {
  composes: buttonReset from 'coral-framework/styles/reset.css';
  position: absolute;
  width: 40px;
  height: 40px;
  left: -40px;
  background-color: white;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
  font-size: 32px;
  top: 60px;
  box-shadow: -1px 3px 4px 0px rgba(0,0,0,0.15);
  text-align: center;
  cursor: pointer;

  .icon {
    color: #595959;
    font-size: 25px;
    display: block;
  }

  &:hover {
    color: #ccc;
  }
}
