.dropdown {
  position: relative;
  width: 150px;
  height: 34px;
  background: #2c2c2c;
  box-sizing: border-box;
  color: white;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

  font-size: 0.98em;
  border-radius: 3px;
}

.toggle {
  padding: 8px 15px;
  cursor: pointer;
  outline: none;

  &:focus {
    background: #888;
  }
}

.toggleOpen {
  background: #888;
}

.label {
  text-transform: capitalize;
}

.list {
  position: absolute;
  top: 30px;
  left: 10px;
  color: #2c2c2c;
  border-radius: 2px;
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  transform: scale(0);
  transition: transform .1s cubic-bezier(.4,0,.2,1),opacity .1s cubic-bezier(.4,0,.2,1),-webkit-transform .1s cubic-bezier(.4,0,.2,1);
  transform-origin: 0 0;
}

.listActive {
  opacity: 1;
  transform: scale(1);
  z-index: 999;
}

.arrow {
  position: absolute;
  right: 15px;
  font-size: 1.2rem;
  vertical-align: middle;
  top: 11px;
}
