.base {
  background: red;
  i {
    font-size: 30px;
    transform: translate(-14px,-12px) !important;
  }
}

.type--approve {
  background: #388E3C;
  color: rgba(255, 255, 255, 0.901961);
}

.type--approve:hover {
  background: #40a244;
}

.type--reject {
  background: #D32F2F ;
  color: rgba(255, 255, 255, 0.901961);
}

.type--reject:hover {
  background: #e53333;
}
