.base {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  background-color: white;
  width: 208px;
  padding: 10px 14px;
  font-size: 14px;
  margin-bottom: 10px;
  list-style: none;

  &:hover {
    cursor: pointer;
   }

  &.active {
     color: white;
     background-color: #262626;
   }

  i {
    margin-right: 13px;
    font-size: 18px;
    vertical-align: middle;
  }
}
