.root {
  display: inline-block;
  color: white;
  background: grey;
  box-sizing: border-box;
  padding: 2px 5px;
  font-size: 12px;
  height: 24px;
  letter-spacing: 0.4px;
  line-height: 22px;
  min-width: 80px;
  text-align: center;
  vertical-align: text-top;
}

.icon {
  font-size: 14px;
  vertical-align: text-top;
  margin: 0;
  margin-right: 4px;
}


