.container {
  text-align: center;
}

.page, .previous, .next, .break {
  display: inline-block;
  margin-right: 5px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  width: 30px;
  list-style: none;
}

.pageLink, .previousLink, .nextLink {
  color: #696969;
  cursor: default;
}

.previousLink, .nextLink {
  font-size: 1.8em;
}

.active {
  background-color: #696969;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  a {
    color: white;
  }
}
