.popupMenu {
  white-space: normal;
  display: block;
  position: absolute;
  max-width: 98%;
  min-width: 50%;
  border: solid 1px #999;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  background: white;
  border-radius: 3px;
  padding: 10px 10px;
  z-index: 300;
  right: 1%;
}

.popupMenu:before{
  content: '';
  border: 10px solid transparent;
  border-top-color: white;
  position: absolute;
  right: 3em;
  bottom: -20px;
  z-index: 2;
}

.popupMenu:after{
  content: '';
  border: 10px solid transparent;
  border-top-color: #999;
  position: absolute;
  right: 3em;
  bottom: -21px;
  z-index: 1;
}
