.root {
  list-style: none;
  border-bottom: solid 1px #D8D8D8;
  padding: 0;
  margin: 0;
}

.rootSub {
  list-style: none;
  border: none;
  padding: 0;
  margin: 0;
  border-bottom: solid 2px #eee;
}
