.commentType {
  position: absolute;
  right: 15px;
  top: 11px;
  color: white;
  background: grey;
  height: 32px;
  box-sizing: border-box;
  line-height: 29px;
  padding: 2px 8px 2px 26px;
  border-radius: 2px;
  font-size: 12px;

  i {
    font-size: 14px;
    position: absolute;
    left: 6px;
    top: 8px;
    margin: 0;
  }

  &.premod {
    background: #063B9A;
  }

  &.flagged {
    background: #d03235;
  }

  &.no-type {
    display: none;
  }
}
