.flagBox {
  border-top: 1px solid rgba(66, 66, 66, 0.12);

  .container {
    padding: 0 14px;
  }

  .detail {
    padding: 0 20px 16px;
    ul {
      padding: 0;
      list-style: none;
      font-size: 12px;
      font-weight: 500;
    }
  }

  .header {
    position: relative;
    .moreDetail {
      float: right;
      font-size: 12px;
      font-weight: 500;
      margin-right: 10px;
      margin-top: 8px;
      color: black;

      &:hover {
        opacity: 0.9;
        cursor: pointer;
      }
    }
    i {
      vertical-align: middle;
      font-size: 12px;
    }
    ul {
      vertical-align: middle;
      list-style: none;
      display: inline-block;
      padding: 0;
      margin-left: 10px;
      font-size: 12px;
    }
  }

  h3 {
    vertical-align: middle;
    margin: 0;
    font-weight: 500;
    display: inline-block;
    margin-left: 7px;
    font-size: 12px;
  }
}
