.root {
  composes: alertMessage from "talk-ui/shared/typography.css";
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding: calc(0.5 * var(--spacing-unit)) var(--spacing-unit);
  box-sizing: border-box;
  border-radius: var(--round-corners);
  border-width: 1px;
  border-style: solid;
  border-left-width: calc(0.5 * var(--spacing-unit));
}

.colorGrey {
  background-color: var(--palette-common-white);
  border-color: var(--palette-grey-main);
  color: var(--palette-grey-main);
}

.colorError {
  background-color: var(--palette-error-light);
  border-color: var(--palette-error-darkest);
  border-width: 0px;
  border-left-width: calc(0.5 * var(--spacing-unit));
  color: var(--palette-text-light);
}

.colorPrimary {
  background-color: var(--palette-primary-light);
  border-color: var(--palette-primary-darkest);
  border-width: 0px;
  border-left-width: calc(0.5 * var(--spacing-unit));
  color: var(--palette-text-light);
}

.fullWidth {
  display: flex;
  width: 100%;
}
