.root {
  display: block;
  border: 0;
  padding: 0;
}

.half {
  & > * {
    margin: 0 0 calc(0.5 * var(--mini-unit)) 0 !important;
  }
  & > *:last-child {
    margin: 0 !important;
  }
}
.full {
  & > * {
    margin: 0 0 var(--mini-unit) 0 !important;
  }
  & > *:last-child {
    margin: 0 !important;
  }
}
.oneAndAHalf {
  & > * {
    margin: 0 0 calc(1.5 * var(--mini-unit)) 0 !important;
  }
  & > *:last-child {
    margin: 0 !important;
  }
}
.double {
  & > * {
    margin: 0 0 calc(2 * var(--mini-unit)) 0 !important;
  }
  & > *:last-child {
    margin: 0 !important;
  }
}
.triple {
  & > * {
    margin: 0 0 calc(3 * var(--mini-unit)) 0 !important;
  }
  & > *:last-child {
    margin: 0 !important;
  }
}
