.root {
  display: flex;
  width: calc(29 * var(--mini-unit));
  align-items: center;
  height: 36px;
}

.input {
  composes: inputText placeholderPseudo from "~coral-ui/shared/typography.css";
  position: relative;
  display: block;
  padding: calc(0.5 * var(--mini-unit));
  box-sizing: border-box;
  border-radius: var(--round-corners);
  width: 100%;
  align-self: stretch;
  margin-top: 0;
  margin-bottom: 0;

  &:read-only {
    background-color: var(--palette-grey-lightest);
  }
  &:disabled {
    color: var(--palette-text-secondary);
    background-color: var(--palette-grey-lightest);
  }
  &:focus {
    box-shadow: 0 0 3px rgba(81, 125, 207, 1);
    border: 1px solid rgba(81, 125, 207, 1);
  }
}

.adornment {
  margin-left: calc(0.5 * var(--mini-unit));
}

.colorRegular {
  background-color: var(--palette-common-white);
  color: var(--palette-common-black);
  border: 1px solid var(--palette-grey-light);
}

.colorError {
  background-color: var(--palette-common-white);
  border-color: var(--palette-error-main);
  border: 2px solid var(--palette-error-darkest);
}

.fullWidth {
  width: 100%;
}

.textAlignCenter {
  text-align: center;
}

.seamlessAdornment {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  & + .adornment {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: stretch;
  }
}
