.root {
  composes: textField from "talk-ui/shared/typography.css";
  position: relative;
  display: block;
  padding: calc(0.5 * var(--spacing-unit));
  box-sizing: border-box;
  border-radius: var(--round-corners);
}

.colorRegular {
  backgroun-color: var(--palette-common-white);
  color: var(--palette-common-black);
  border: 1px solid var(--palette-grey-light);
}

.colorError {
  background-color: var(--palette-common-white);
  border-color: var(--palette-error-main);
  border: 2px solid #FA4643;
}

.fullWidth {
  width: 100%;
}

