.root {
  composes: textField from "talk-ui/shared/typography.css";
  position: relative;
  display: block;
  padding: calc(0.5 * var(--spacing-unit));
  box-sizing: border-box;
  border-radius: var(--round-corners);
}

.colorRegular {
  background-color: var(--palette-common-white);
  color: var(--palette-common-black);
  border: 1px solid var(--palette-grey-light);
}

.colorError {
  background-color: var(--palette-common-white);
  border-color: var(--palette-error-main);
  border: 2px solid var(--palette-error-darkest);
}

.fullWidth {
  width: 100%;
}

::placeholder {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  line-height: calc(16rem / var(--rem-base));
  font-size: calc(16rem / var(--rem-base));
  color: var(--palette-grey-lighter);
}
