.body {
  margin-left: var(--spacing-5);
  margin-bottom: var(--spacing-2);

  width: calc(100% - var(--spacing-4));

  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-regular);
  font-size: var(--font-size-2);
}

.body > p {
  margin-bottom: var(--spacing-3);
}
