.root {
  position: fixed;
  z-index: 10000;
}

.button {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10002;

  width: 68px;
  height: 48px;

  background-color: #F5F7F7;

  border-style: none;
  border-left-style: solid;
  border-left-color: #CBD1D2;
  border-bottom-style: solid;
  border-bottom-color: #CBD1D2;
  border-right-style: solid;
  border-right-color: #CBD1D2;
}

.buttonClosed {
  background-color: #F5F7F7;

  border-style: none;
  border-left-style: solid;
  border-left-color: #CBD1D2;
  border-bottom-style: solid;
  border-bottom-color: #CBD1D2;
  border-right-style: solid;
  border-right-color: #CBD1D2;
}

.buttonOpen {
  background-color: white;

  border-style: none;
  border-left-style: none;
  border-bottom-style: none;
  border-right-style: none;
}

.feedRoot {
  position: relative;
  z-index: 10001;
}

.feed {
  position: absolute;

  padding: var(--spacing-4);

  overflow-x: hidden;
  overflow-y: scroll;

  scrollbar-color: var(--palette-grey-400) white;

  background-color: white;
  border-radius: var(--round-corners);
  box-shadow: -2px 4px 4px rgba(35, 35, 35, 0.25);
}

@media only screen and (min-width: 601px) {
  .feed {
    right: 0px;
    top: -48px;

    width: 400px;
    height: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .feed {
    top: -48px;
    right: 0px;

    width: 80vw;
    height: 400px;
  }
}
