.root {
  position: fixed;
  z-index: 10000;
}

.button {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10002;

  width: 65px;
  height: 48px;

  border-bottom-left-radius: 20px;
  border-style: none;

  background-color: white;
  box-shadow: -4px 4px 4px rgba(35, 35, 35, 0.25);
}

.feedRoot {
  position: relative;
  z-index: 10001;
}

.feed {
  position: absolute;

  padding: var(--spacing-4);

  overflow: scroll;

  background-color: white;
  border-radius: var(--round-corners);
  box-shadow: -2px 4px 4px rgba(35, 35, 35, 0.25);
}

@media only screen and (min-width: 601px) {
  .feed {
    right: 0px;
    top: -48px;

    width: 400px;
    height: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .feed {
    top: -48px;
    right: 0px;

    width: 80vw;
    height: 400px;
  }
}
