.body {
  margin-left: var(--spacing-5);

  width: calc(100% - var(--spacing-4));

  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-regular);
  font-size: var(--font-size-2);
}

.author {
  font-weight: var(--font-weight-primary-semi-bold);
}
