.root {
  color: var(--v2-palette-configure-description);
  line-height: var(--v2-line-height-body-short);
  font-size: var(--v2-font-size-3);
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-regular);
}
