$configureDescriptionColor: var(--palette-text-500);

.root {
  color: $configureDescriptionColor;
  line-height: var(--line-height-field-description);
  font-size: var(--font-size-3);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-regular);
}
