.root {
  composes: markerText from "talk-ui/shared/typography.css";
  border-left: 1px solid currentColor;
  margin-left: calc(0.5 * var(--spacing-unit));
  margin-right: calc(-0.5 * var(--spacing-unit));
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: calc(0.5 * var(--spacing-unit));
  white-space: nowrap;
}
