.root {
  composes: markerText from "coral-ui/shared/typography.css";
  border-left: 1px solid currentColor;
  margin-left: calc(0.5 * var(--mini-unit));
  margin-right: calc(-0.25 * var(--mini-unit));
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: calc(0.5 * var(--mini-unit));
  white-space: nowrap;
}
