.root {
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-semi-bold);
  font-size: 0.8125rem;
  letter-spacing: calc(-0.35em / 13);

  color: var(--palette-error-main);
  border: 1px solid currentColor;
  border-radius: 20px;
  padding: 1px var(--mini-unit);
  white-space: nowrap;
}

.colorPrimary {
  color: var(--v2-palette-primary-darkest);
}

.colorGrey {
  color: var(--v2-palette-grey-darkest);
}

.colorError {
  color: var(--v2-palette-error-darkest);
}

.variantRegular {
}

.variantFilled {
  &.colorPrimary {
    background-color: var(--v2-palette-primary-lightest);
  }

  &.colorGrey {
    background-color: var(--v2-palette-grey-lightest);
  }

  &.colorError {
    background-color: var(--palette-error-lightest);
  }
}
