.callOut {
  max-width: 500px;
}

 .footer {
  margin-top: var(--spacing-4);
}

 .errorIcon {
  padding-right: var(--spacing-2);
  padding-top: var(--spacing-1);
}

 .successMessage {
  background-color: var(--palette-primary-lightest);
  border-color: var(--palette-primary-light);
  color: var(--palette-text-primary);
  padding: var(--spacing-2);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
}

 .closeButton {
  float: none;
  position: static;
}

 .currentEmail {
  color: var(--palette-grey-dark);
} 