.label {
  padding-bottom: var(--v2-spacing-2);
}

.keySection {
  flex-grow: 1;
  min-width: 50px;

  padding-right: var(--v2-spacing-3);
}

.statusSection {
  margin-right: var(--v2-spacing-3);
}

.secretSection {
  flex-grow: 1;
  min-width: 50px;
}

.action {
  margin-right: var(--v2-spacing-1)
}
