.root {
  width: calc(29 * var(--mini-unit));
  height: 36px;
  line-height: 36px;
  box-sizing: border-box;
}

.colorRegular {
  background-color: var(--v2-palette-input-background);
  color: var(--v2-palette-input-value);
  border: 1px solid var(--v2-palette-input-border);
}

.colorStreamBlue {
  background-color: var(--v2-palette-input-background);
  color: var(--v2-palette-input-value);
  border: 1px solid var(--v2-palette-input-border);

  &:focus {
    border: 1px solid var(--v2-colors-stream-blue-500);
    box-shadow: inset 0px 0px 0px 1px var(--v2-colors-stream-blue-500);
  }
}

.colorError {
  background-color: var(--v2-palette-input-background);
  border-color: var(--v2-colors-red-500);
  border: 2px solid var(--v2-colors-red-500);
}

.fullWidth {
  width: 100%;
}

.wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.icon {
  position: absolute;
  display: inline-block;
  right: 0px;
  padding: 4px calc(1 * var(--mini-unit));
  cursor: pointer;
  line-height: 0;
}

/* ie11 specific css */
_:-ms-lang(x), .icon { top: 8px; }

.input {
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-regular);
  font-size: var(--v2-font-size-3);
  line-height: var(--v2-line-height-reset);
  display: block;
  padding: var(--v2-spacing-2);
  border-radius: var(--round-corners);
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  &:read-only {
    background-color: var(--v2-palette-input-disabled-background);
  }
  &:disabled {
    background-color: var(--v2-palette-input-disabled-background);
    border-color: var(--v2-palette-input-disabled-foreground);
  }
  &:focus {
    outline: none;
    border: 1px solid var(--v2-palette-input-focused-border);
    box-shadow: inset 0px 0px 0px 1px var(--v2-palette-input-focused-border);
  }
  &::placeholder {
    color: var(--v2-palette-input-placeholder);
  }
}
