.root {
}
.highlight {
  background-color: var(--palette-primary-lightest);
  padding: var(--spacing-unit);
}
.subBar {
  margin-bottom: calc(0.5 * var(--spacing-unit));
}
.footer:not(:empty) {
  margin-top: var(--spacing-unit);
}
