.root {
  background-color: white;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-3);
  color: var(--palette-text-primary);

  z-index: 1000;
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
}

.overlay {
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  background-color: rgba(125, 125, 125, 0.5);
}

.parent {
  margin-bottom: var(--spacing-2);
}

.replyTo {
  font-size: var(--font-size-2);
  margin-right: var(--spacing-1);
}

.username {
  font-size: var(--font-size-2);
  color: var(--palette-text-500);
}

.closeButton {
  float: right;

  border-width: 0px;
  border-style: none;
}

.closeIcon {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: var(--font-size-3);
  color: var(--palette-text-100);
}
