.root {
  border: 1px solid var(--palette-grey-lighter);
  box-sizing: border-box;
  border-radius: var(--round-corners);
  float: right;
  padding: 2px var(--spacing-2) 2px var(--spacing-2);
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: calc(14rem / var(--rem-base));
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-sans-serif);
  line-height: 1.2;
  letter-spacing: calc(0.2em / 14);
  color: var(--palette-grey-lighter);
  
  &:active {
    background-color: var(--palette-primary-lightest);
    border-color: var(--palette-primary-main);
    color: var(--palette-primary-main);
  }
}

.invert {
  background-color: var(--palette-primary-main);
  border-color: var(--palette-primary-main);
  color: var(--palette-text-light) ;
}