.topBar {
  position: relative;
  margin-bottom: var(--mini-unit);
}

.username {
  margin-right: var(--mini-unit);
  padding: var(--spacing-1);
  margin-left: calc(-1 * var(--spacing-1));
  line-height: calc(16rem / var(--rem-base));

  &:hover {
    background-color: var(--palette-grey-lightest);
    border-radius: 2px;
    border-style: none;
  }

  &:active {
    background-color: var(--palette-grey-lighter);
    border-radius: 2px;
    border-style: none;
  }
}

.footer {
  margin-top: calc(2 * var(--mini-unit));
}

.content {
  min-height: calc(5.5 * var(--mini-unit));
}

.mainContainer {
  flex-grow: 1;
}

.aside {
  flex-shrink: 0;
  flex-grow: 0;
  box-sizing: border-box;
  padding-top: 25px;
}

.asideWithoutReplyTo {
  padding-top: 10px;
}

.asideMini {
  padding-top: 0px;
}

.decision {
  font-size: calc(14rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-sans-serif);
  line-height: calc(16em / 14);
  letter-spacing: calc(0.2em / 14);
  color: var(--palette-text-primary);
  text-transform: uppercase;
}

.separator {
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0 calc(2 * var(--mini-unit));
}

.ruledSeparator {
  border-right: 1px solid var(--palette-divider);
}

.root {
  transition: background 100ms, box-shadow 100ms;
}

.dangling {
  background-color: var(--palette-grey-lightest);
  box-shadow: none;
}

.link {
  font-size: calc(12rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-sans-serif);
  line-height: calc(18em / 12);
  letter-spacing: calc(0.2em / 12);
  text-transform: uppercase;
}

.story {
  font-size: calc(12rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-sans-serif);
  line-height: calc(18em / 12);
  letter-spacing: calc(0.2em / 12);
  text-transform: uppercase;
  color: var(--palette-grey-main);
}

.storyTitle {
  font-size: calc(12rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-sans-serif);
  line-height: calc(18em / 12);
  letter-spacing: calc(0.2em / 12);
  color: var(--palette-text-primary);
}

.moderatedBy {
  font-size: calc(12rem / var(--rem-base));
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-sans-serif);
  line-height: 1;
  letter-spacing: 0;
  color: var(--palette-text-primary);
  text-transform: uppercase;
}

.moderatedByUsername {
  font-size: calc(14rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-sans-serif);
  line-height: 1;
  letter-spacing: 0;
  color: var(--palette-text-primary);
  text-align: center;
  padding-top: 1px;
}

.borderless {
  border-width: 0px;
  box-shadow: none;
}

.miniButton {
  width: 40px;
  height: 40px;
}