$moderateCardButtonOutlineApproveColor: var(--v2-colors-green-500);

.root {
  border: 1px solid $moderateCardButtonOutlineApproveColor;
  box-sizing: border-box;
  border-radius: var(--v2-round-corners);
  width: 65px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $moderateCardButtonOutlineApproveColor;
  &:not(:disabled):active {
    background-color: $moderateCardButtonOutlineApproveColor;
    color: var(--v2-colors-pure-white);
  }
}

.invert {
  background-color: $moderateCardButtonOutlineApproveColor;
  color: var(--v2-colors-pure-white);
}

.icon {
  font-weight: var(--v2-font-weight-primary-semi-bold);
  color: inherit;
}
