.root {
  border: 1px solid var(--v2-palette-button-outline-approve);
  box-sizing: border-box;
  border-radius: var(--v2-round-corners);
  width: 65px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--v2-palette-button-outline-approve);
  &:not(:disabled):active {
    background-color: var(--v2-palette-button-outline-approve);
    color: var(--v2-colors-pure-white);
  }
}

.invert {
  background-color: var(--v2-palette-button-outline-approve);
  color: var(--v2-colors-pure-white);
}

.icon {
  font-weight: var(--v2-font-weight-primary-semi-bold);
  color: inherit;
}
