.user {
  composes: flagDetailsEntryUser from "coral-admin/components/ModerateCard/shared.css";

  padding-right: calc(0.5 * var(--mini-unit));
}

.details {
  composes: flagDetailsEntryDetails from "coral-admin/components/ModerateCard/shared.css";
}

.flagger {
  composes: flagDetailsEntryFlagger from "coral-admin/components/ModerateCard/shared.css";

  margin-right: var(--mini-unit);
  padding: var(--spacing-1);
  margin-left: calc(-1 * var(--spacing-1));

  &:hover {
    border-radius: var(--round-corners);
    border-style: none;
  }

  &:active {
    border-radius: var(--round-corners);
    border-style: none;
  }
}
