.icon {
  color: var(--v2-palette-label-regular);
}
.inReplyTo {
  composes: replyToLabel from "coral-admin/components/ModerateCard/shared.css";
}
.username {
  composes: replyToUsername from "coral-admin/components/ModerateCard/shared.css";
}

.usernameButton {
  vertical-align: baseline;

  margin-left: calc(-1 * var(--v2-spacing-1));
}
