.detailsButton {
  composes: detailsButton from "coral-admin/components/ModerateCard/shared.css";

  height: 100%;
  padding: 2px 0px;
  margin-left: var(--mini-unit);

  align-self: flex-end;
  text-transform: uppercase;
}

.detailsButtonColorRegular {
  composes: detailsButtonColorRegular from "coral-admin/components/ModerateCard/shared.css";
}

.detailsText {
  composes: detailsText from "coral-admin/components/ModerateCard/shared.css";
  margin: 0;
}

.detailsDivider {
  composes: detailsDivider from "coral-admin/components/ModerateCard/shared.css";
}
