.detailsButton {
  height: 100%;
  padding: 2px 0px;
  margin-left: var(--mini-unit);
  font-size: calc(12rem / var(--rem-base));
  letter-spacing: calc(-0.1em / 12);
  align-self: flex-end;
  text-transform: uppercase;
  &.detailsButtonColorRegular {
    color: var(--palette-text-primary);
  }
}

.detailsText {
  margin: 0;
}

.detailsDivider {
  border-color: var(--palette-grey-lightest);
}
