.detailsButton {
  font-size: var(--v2-font-size-1);
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-semi-bold);
  line-height: 1.28;
  height: 100%;
  padding: 2px 0px;
  margin-left: var(--mini-unit);

  align-self: flex-end;
  text-transform: uppercase;
}

.detailsButtonColorRegular {
  border-color: var(--v2-palette-details-header);
}

.detailsText {
  margin: 0;
}

.detailsDivider {
  border-color: var(--v2-palette-details-divider);
}
