.moderatedBy {
  composes: moderatedByLabel from "coral-admin/components/ModerateCard/shared.css";
}

.moderatedByUsername {
  composes: moderatedByUsername from "coral-admin/components/ModerateCard/shared.css";

  text-align: center;
  padding-top: 1px;
}
