.moderatedBy {
  font-size: calc(12rem / var(--rem-base));
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-sans);
  line-height: 1;
  letter-spacing: 0;
  color: var(--palette-text-primary);
  text-transform: uppercase;
}

.moderatedByUsername {
  font-size: calc(14rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-sans);
  line-height: 1;
  letter-spacing: 0;
  color: var(--palette-text-primary);
  text-align: center;
  padding-top: 1px;
}
