.root {
  border: 1px solid var(--palette-error-main);
  box-sizing: border-box;
  border-radius: var(--round-corners);
  width: 65px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--palette-error-main);
  &:not(:disabled):active {
    background-color: var(--palette-error-main);
    color: var(--palette-common-white);
  }
}

.invert {
  background-color: var(--palette-error-main);
  color: var(--palette-common-white);
}

.icon {
  color: inherit;
}
