$moderateCardButtonOutlineRejectColor: var(--v2-colors-red-500);

.root {
  border: 1px solid $moderateCardButtonOutlineRejectColor;
  box-sizing: border-box;
  border-radius: var(--v2-round-corners);
  width: 65px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $moderateCardButtonOutlineRejectColor;
  &:not(:disabled):active {
    background-color: $moderateCardButtonOutlineRejectColor;
    color: var(--v2-colors-pure-white);
  }
}

.invert {
  background-color: $moderateCardButtonOutlineRejectColor;
  color: var(--v2-colors-pure-white);
}

.icon {
  color: inherit;
}
