.username {
  font-size: var(--v2-font-size-3);
  font-weight: var(--v2-font-weight-secondary-bold);
  font-family: var(--v2-font-family-secondary);
  line-height: var(--v2-line-height-reset);
  color: var(--v2-palette-username-emphasis);
}

.timestamp {
  color: var(--v2-palette-timestamp);
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-regular);
  font-size: var(--v2-font-size-1);
  line-height: var(--v2-line-height-reset);
}

.replyToLabel {
  color: var(--v2-palette-label-regular);
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-regular);
  font-size: var(--v2-font-size-2);
  line-height: var(--v2-line-height-reset);
}

.replyToUsername {
  color: var(--v2-palette-username-regular);
  font-family: var(--v2-font-family-secondary);
  font-weight: var(--v2-font-weight-secondary-bold);
  font-size: var(--v2-font-size-3);
  line-height: var(--v2-line-height-reset);

  padding: var(--spacing-1);

  &:hover {
    background-color: var(--v2-palette-username-background-hover);
    border-radius: var(--round-corners);
    border-style: none;
  }

  &:active {
    background-color: var(--v2-palette-username-background-hover);
    border-radius: var(--round-corners);
    border-style: none;
  }
}

.featureButton {
  position: absolute;
  right: 0px;
  top: 2px;

  border: 1px solid var(--v2-palette-button-outline-label-secondary);
  box-sizing: border-box;
  border-radius: var(--round-corners);
  padding: 2px var(--spacing-2) 2px var(--spacing-2);
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--v2-palette-grey-lighter);
  font-size: var(--v2-font-size-2);
  font-weight: var(--v2-font-weight-primary-regular);
  font-family: var(--v2-font-family-primary);
  line-height: 1.2;

  &:active {
    background-color: var(--v2-palette-primary-lightest);
    border-color: var(--v2-palette-primary-main);
    color: var(--v2-palette-primary-main);
  }
}

.featureButtonInvert {
  background-color: var(--v2-palette-primary-main);
  border-color: var(--v2-palette-primary-main);
  color: var(--v2-palette-text-light);
}

.link {
  font-size: var(--v2-font-size-1);
  font-weight: var(--v2-font-weight-primary-semi-bold);
  font-family: var(--v2-font-family-primary);
  line-height: var(--v2-line-height-reset);
  color: var(--v2-palette-link-text);
}

.viewContext {
  padding-bottom: var(--v2-spacing-1);
}

.storyLabel {
  color: var(--v2-palette-grey-main);
  font-size: var(--v2-font-size-1);
  font-weight: var(--v2-font-weight-primary-semi-bold);
  font-family: var(--v2-font-family-primary);
  line-height: var(--v2-line-height-reset);
  margin-bottom: var(--v2-spacing-1);
}

.storyTitle {
  color: var(--v2-palette-story-title);
  font-size: var(--v2-font-size-2);
  font-weight: var(--v2-font-weight-primary-regular);
  font-family: var(--v2-font-family-primary);
  line-height: var(--v2-line-height-reset);
  margin-bottom: var(--v2-spacing-1);
}

.decision {
  color: var(--v2-palette-label-emphasis);

  font-size: var(--v2-font-size-2);
  font-weight: var(--v2-font-weight-primary-semi-bold);
  font-family: var(--v2-font-family-primary);
  line-height: 1.14;
}

.detailsButton {
  font-size: var(--v2-font-size-1);
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-semi-bold);
  line-height: 1.28;
}

.detailsButtonColorRegular {
  border-color: var(--v2-palette-details-header);
}

.detailsText {
  color: var(--v2-palette-details-header);
}

.detailsDivider {
  border-color: var(--v2-palette-details-divider);
}

.flagDetailsCategory {
  font-size: var(--v2-font-size-4);
  font-weight: var(--v2-font-weight-primary-regular);
  font-family: var(--v2-font-family-primary);
  line-height: var(--v2-line-height-body-short);
  color: var(--v2-palette-accordion-label);
}

.toxicityLabel {
  font-size: var(--v2-font-size-2);
  font-weight: var(--v2-font-weight-primary-semi-bold);
  font-family: var(--v2-font-family-primary);
  line-height: var(--v2-line-height-body-short);
  color: var(--v2-palette-accordion-label);
}

.flagDetailsEntryUser {
  color: var(--v2-palette-username-emphasis);
  font-size: var(--v2-font-size-2);
  font-weight: var(--v2-font-weight-secondary-bold);
  font-family: var(--v2-font-family-secondary);
  line-height: var(--v2-line-height-title);
}

.flagDetailsEntryDetails {
  color: var(--v2-palette-reason-text);
  font-size: var(--v2-font-size-2);
  font-weight: var(--v2-font-weight-primary-regular);
  font-family: var(--v2-font-family-primary);
  line-height: var(--v2-line-height-title);
}

.flagDetailsEntryFlagger {
  line-height: var(--v2-line-height-reset);

  &:hover {
    background-color: var(--v2-palette-grey-lightest);
  }

  &:active {
    background-color: var(--v2-palette-grey-lighter);
  }
}

.moderatedByLabel {
  font-size: var(--v2-font-size-1);
  font-weight: var(--v2-font-weight-primary-regular);
  font-family: var(--v2-font-family-primary);
  line-height: var(--v2-line-height-reset);
  color: var(--v2-palette-text-primary);
  text-transform: uppercase;
}

.moderatedByUsername {
  font-size: var(--v2-font-size-2);
  font-weight: var(--v2-font-weight-primary-regular);
  font-family: var(--v2-font-family-primary);
  line-height: var(--v2-line-height-reset);
  color: var(--v2-palette-text-primary);
}
