.root {
}

.title {
  background: var(--v2-palette-configure-heading-background);
  color: var(--v2-palette-configure-heading-foreground);
  padding: var(--v2-spacing-2);
  font-size: var(--v2-font-size-3);
  font-weight: var(--v2-font-weight-primary-bold);
  line-height: var(--v2-line-height-reset);
  font-family: var(--v2-font-family-primary);
}

.content {
  padding: var(--v2-spacing-2);
}
