.root {
}

.title {
  background: var(--v2-palette-configure-heading-background);
  width: calc(100% - 2 * var(--v2-spacing-2));
  padding: var(--v2-spacing-2);
}

.content {
  padding: var(--v2-spacing-3) var(--v2-spacing-2) 0 var(--v2-spacing-2);
}
