.root {
  border-style: none;
  margin: 0;
  background: var(--v2-palette-configure-heading-background);
  color: var(--v2-palette-configure-heading-foreground);
  font-size: var(--v2-font-size-3);
  font-weight: var(--v2-font-weight-primary-bold);
  line-height: var(--v2-line-height-reset);
  font-family: var(--v2-font-family-primary);
}
