$configureHeadingBackgroundColor: var(--v2-colors-blue-500);
$configureHeadingForegroundColor: var(--v2-colors-pure-white);

.root {
  border-style: none;
  margin: 0;
  background: $configureHeadingBackgroundColor;
  color: $configureHeadingForegroundColor;
  font-size: var(--v2-font-size-3);
  font-weight: var(--v2-font-weight-primary-bold);
  line-height: var(--v2-line-height-reset);
  font-family: var(--v2-font-family-primary);
}
