.root {
  width: 100%;
}

.tombstone {
  margin-top: 1px;
}

.comment {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-2);

  width: 100%;
}

.highlight {
  background-color: var(--palette-primary-200);
}

.editHighlight {
  background-color: var(--palette-primary-100);
}
