.root {
  background-color: white;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-3);
  color: var(--palette-text-primary);

  z-index: 1000;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;

  background: white;
  border-radius: 15px 15px 0px 0px;
}

.overlay {
  z-index: 999;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  background-color: rgba(125, 125, 125, 0.5);
}

.title {
  margin-bottom: var(--spacing-2);

  background-color: var(--palette-grey-100);

  border-radius: 15px 15px 0px 0px;
  padding: var(--spacing-2);
}

.replyingToIcon {
  margin-right: var(--spacing-2);

  font-size: 14px;
  color: var(--palette-grey-500);

  transform: scaleX(-1) scaleY(-1);
}

.replyingTo {
  font-size: var(--font-size-1);
  margin-right: var(--spacing-1);

  color: var(--palette-grey-500);
}

.username {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-primary-semi-bold);
  color: var(--palette-text-900);
}

.closeButton {
  float: right;

  border-width: 0px;
  border-style: none;

  margin-right: 2px;
}

.closeIcon {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: var(--font-size-3);
  color: var(--palette-grey-700);

  width: 16px;
}

.chatIcon {
  color: var(--palette-text-900);

  margin-right: var(--spacing-2);
}

.conversationTitle {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-primary-semi-bold);
  color: var(--palette-text-900);
}

.scrollToNewReply {
  position: relative;

  top: -40px;
  left: 0;
  width: 100%;
  height: 0px;
  z-index: 998;

  text-align: center;

  background: transparent;
}

.jumpButton {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  margin-right: 1px;
}

.jumpButtonClose {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
