<p>Un correo de confirmación ha sido pedido para esta cuenta: <b><%= email %></b>.</p>
<p>To confirm the account, please visit the following link: <a href="<%= rootURL %>/admin/confirm-email#<%= token %>">Confirm Email</a></p>
<p>If you did not request this, you can safely ignore this email.</p>
