.root {
  padding: 0px;
}

.buttonRoot {
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: var(--font-weight-primary-regular);
  font-size: var(--font-size-3);
  line-height: var(--line-height-3);

  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
}

.icon {
  margin-right: var(--spacing-1);
}

.copy {
  background-color: inherit;
  color: var(--palette-text-500);

  &:hovered, &.mouseHover {
    background-color: var(--palette-primary-100);
    color: var(--palette-text-500);
  }
}

.copied {
  font-weight: var(--font-weight-primary-semi-bold);

  background-color: var(--palette-success-100);
  color: var(--palette-success-500);
}
