.root {
  height: 100vh;
  width: 100vw;
  max-width: 460px;
  background: var(--palette-primary-500);
  color: white;

  @media (min-width: $breakpoints-mobile-max) {
    border-radius: 4px 4px 0 0;
  }
}
