$linkColor: var(--palette-primary-500);
$linkColorHovered: var(--palette-primary-700);
$linkColorActive: var(--palette-primary-800);

.link {
  margin-right: var(--spacing-4);

  &.sizeRegular {
    padding: 0;
  }
  &.colorRegular {
    color: $linkColor;
  }

  &:not(.disabled) {
    &.colorRegular {
      &.mouseHover {
        color: $linkColorHovered;
      }
      &.active,
      &:active {
        color: $linkColorActive;
      }
    }
  }
}

.container {
  padding-top: var(--spacing-2);
}

:global(.coral-width-lte-xs) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .link {
    margin: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-bottom: var(--spacing-3);
  }

  .icon {
    padding-bottom: var(--spacing-1);
    font-size: var(--font-size-icon-lg);
    width: var(--font-size-icon-lg);
  }
}
