.authorName {
  color: black;
  display: inline-block;
  margin: 10px 0;

  &:hover {
    cursor: pointer;
  }
}

.arrowDown {
  top: 0;
  width: 0;
  height: 0;
  margin-top: -2px;
  margin-left: 2px;
  display: inline-block;
  vertical-align: middle;
  border-bottom: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #000000;
}

.arrowUp {
  width: 0;
  height: 0;
  border-top: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid black;
}
