.label {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-semi-bold);
  font-size: var(--font-size-2);
  line-height: 1.14;

  color: var(--palette-text-500);
}

.selectFont {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary-semi-bold);
  font-size: var(--font-size-2);
  line-height: 1.14;
}

.select {
  padding: 0;
  color: var(--palette-primary-900) !important;
  font-weight: 600 !important;

  border: 0;
  outline: 0;
  background-color: white;
  background: none;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
}

.selectColor {
  color: var(--palette-text-500);
}

.fullWidth {
  width: 100%;
}

.hideLabel {
  position: absolute;
  pointer-events: none;
  visibility: hidden;
}
