.circleContainer {
  position: relative;
}

.circleSubContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: calc(-1 * var(--v2-spacing-2) - var(--v2-spacing-2) - 1px);
  background-color: var(--v2-colors-pure-white);
  width: calc(2 * var(--v2-spacing-2));
  height: 23px;
  color: var(--v2-colors-grey-500);
}

.end {
  align-items: flex-start;
  padding-top: 8px;
  height: 100%;
  @media (min-width: $breakpoints-xs) {
    padding-top: 6px;
  }
}

.circle {
  width: var(--v2-spacing-2);
  height: var(--v2-spacing-2);
  fill: currentColor;
  stroke: currentColor;
}
