$commentsBorder: var(--v2-colors-grey-300);
.root {
}

.rteContainer {
  border: 1px solid $commentsBorder;
  border-radius: var(--v2-round-corners);
}

.messageBox {
  margin-bottom: -1px;
}

.textarea {
  composes: bodyCopy from "~coral-ui/shared/typography.css";
  display: block;
  height: 150px;
  width: 100%;
  box-sizing: border-box;
  padding: var(--mini-unit);
  border-radius: var(--round-corners);
  resize: vertical;
}
