.root {
}

.messageBox {
  margin-bottom: -1px;
}

.textarea {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-primary-regular);
  font-family: var(--font-family-primary);
  line-height: var(--line-height-body-comment);
  color: var(--palette-text-500);

  display: block;
  height: 150px;
  width: 100%;
  box-sizing: border-box;
  padding: var(--mini-unit);
  border-radius: var(--round-corners);
  resize: vertical;
}
