.root {
  
}

.body {
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: var(--spacing-4); 
}

.bodyType {
  color: var(--palette-text-dark);
}

.leftBy {
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-1);
  position: relative;
  color: var(--palette-grey-main);
}

.leftBy:before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--palette-grey-main); 
  position: absolute;
  border-radius: 50%;
  left: var(--spacing-1);
  top: 50%;
}

.username {
  font-family: var(--font-family-serif);
  font-weight: var(--font-weight-medium);
  color: var(--palette-grey-main); 
}