$recent-history-title: var(--v2-colors-mono-500);
$recent-history-subtitle: var(--v2-colors-mono-100);
$recent-history-info: var(--v2-colors-mono-500);
$recent-history-triggered: var(--v2-palette-error-main);

.title {
  text-transform: uppercase;
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-bold);
  font-size: var(--v2-font-size-3);
  margin: 0;
  line-height: var(--v2-line-height-body-short);
  color: $recent-history-title;
}

.subTitle {
  color: $recent-history-subtitle;
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-regular);
  font-size: var(--v2-font-size-2);
  margin: 0;
  line-height: var(--v2-line-height-body-short);
}

.info {
}

.amount {
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-semi-bold);
  font-size: var(--v2-font-size-6);
  line-height: var(--v2-line-height-reset);
  line-height: var(--v2-line-height-reset);
  color: $recent-history-info;
  margin: 0;
}

.amountLabel {
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-semi-bold);
  font-size: var(--v2-font-size-2);
  color: $recent-history-info;
  margin: 0;
}

.triggered {
  color: $recent-history-triggered;
}

.tooltip {
  color: $recent-history-info;
  padding: 3px;
}
