.tableHeader {
  border-width: 0px;
  border-style: none;
}

.row:first-child:hover {
  border-top: none;
}

.row:nth-child(even):hover {
  background-color: var(--palette-grey-lightest);
  box-shadow: none;
}

.row:nth-child(odd):hover {
  background-color: transparent;
  box-shadow: none;
}

.date {
  min-width: 120px;
}

.action {
  min-width: 200px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user {
  min-width: 200px;
  max-width: 200px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
