$user-drawer-background: var(--v2-colors-pure-white);
$user-drawer-account-info: var(--v2-colors-mono-500);
$user-drawer-divider: var(--v2-colors-grey-300);
$user-drawer-status-label: var(--v2-colors-mono-500);

.comments {
  flex: auto;
  overflow: auto;
}

.close {
  position: absolute;
  width: 40px;
  height: 40px;
  left: -40px;

  padding: 0px;

  background-color: $user-drawer-background;

  border-width: 1px;
  border-right-width: 0px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.25);
  border-radius: 4px 0px 0px 4px;
}

.username {
  font-family: var(--v2-font-family-secondary);
  font-weight: var(--v2-font-weight-secondary-bold);
  font-size: var(--v2-font-size-6);
  line-height: var(--v2-line-height-reset);
}

.userDetail {
}

.userDetailValue {
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-regular);
  font-size: var(--v2-font-size-3);
  line-height: var(--v2-line-height-reset);
  color: $user-drawer-account-info;
}

.icon {
  padding-top: 2px;
}

.copy {
}

.divider {
  border-bottom: 1px solid $user-drawer-divider;
}

.userStatus {
}

.userStatusLabel {
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-bold);
  font-size: var(--v2-font-size-2);
  line-height: var(--v2-line-height-reset);
  color: $user-drawer-status-label;
  margin-right: var(--v2-spacing-1);
}

.userStatusChange {
}
