.root {
  
}

.textArea {
  width: 100%;
  box-sizing: border-box;
  height: calc(12 * var(--mini-unit));
  border-color: var(--palette-grey-main);
  padding: calc(0.5 * var(--mini-unit));
  border-radius: 2px;
  margin-bottom: var(--spacing-2);
}

.form {
  padding: var(--spacing-2) 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: var(--spacing-4);
}