{% extends "layouts/user-notification.html" %} 
{% block content %} 
Hello {{ context.username }},

In accordance with {{ context.organizationName }}'s community guidelines, your account has been temporarily suspended. During the suspension, you will be unable to comment, flag or engage with fellow commenters. Please rejoin the conversation {{ context.until }}.

If you think this has been done in error, please contact our community team at {{ context.organizationContactEmail }}. 
{% endblock %} 