.root {
}

.justifyFlexStart {
  justify-content: "flex-start";
}
.justifyFlexEnd {
  justify-content: "flex-end";
}
.justifyCenter {
  justify-content: "center";
}
.justifySpaceBetween {
  justify-content: "space-between";
}
.justifySpaceAround {
  justify-content: "space-around";
}
.justifySpaceEvenly {
  justify-content: "space-evenly";
}

.alignFlexStart {
  align-items: "flex-start";
}
.alignFlexEnd {
  align-items: "flex-end";
}
.alignCenter {
  align-items: "center";
}
.alignBaseline {
  align-items: "baseline";
}
.alignStretch {
  align-items: "stretch";
}
