.root {
}

.flex {
  display: flex;
}

.halfItemGutter {
  & > * {
    margin: 0 calc(0.5 * var(--spacing-unit)) 0 0 !important;
  }
  &.directionRowReverse {
    & > * {
      margin: 0 0 0 calc(0.5 * var(--spacing-unit)) !important;
    }
  }
  &.directionColumn {
    & > * {
      margin: 0 0 calc(0.5 * var(--spacing-unit)) 0 !important;
    }
  }
  &.directionColumnReverese {
    & > * {
      margin: calc(0.5 * var(--spacing-unit)) 0 0 0 !important;
    }
  }
  & > *:last-child {
    margin: 0 !important;
  }
}

.doubleItemGutter {
  & > * {
    margin: 0 calc(2 * var(--spacing-unit)) 0 0 !important;
  }
  &.directionRowReverse {
    & > * {
      margin: 0 0 0 calc(2 * var(--spacing-unit)) !important;
    }
  }
  &.directionColumn {
    & > * {
      margin: 0 0 calc(2 * var(--spacing-unit)) 0 !important;
    }
  }
  &.directionColumnReverese {
    & > * {
      margin: calc(2 * var(--spacing-unit)) 0 0 0 !important;
    }
  }
  & > *:last-child {
    margin: 0 !important;
  }
}

.itemGutter {
  & > * {
    margin: 0 var(--spacing-unit) 0 0 !important;
  }
  &.directionRowReverse {
    & > * {
      margin: 0 0 0 var(--spacing-unit) !important;
    }
  }
  &.directionColumn {
    & > * {
      margin: 0 0 var(--spacing-unit) 0 !important;
    }
  }
  &.directionColumnReverese {
    & > * {
      margin: var(--spacing-unit) 0 0 0 !important;
    }
  }
  & > *:last-child {
    margin: 0 !important;
  }
}

.wrap {
  flex-wrap: wrap;
}

.wrapReverse {
  flex-wrap: wrap-reverse;
}

.wrap,
.wrapReverse {
  &:not(.directionColumn).itemGutter {
    &:not(:empty) {
      margin-top: calc(-1 * var(--spacing-unit)) !important;
    }
    & > * {
      margin-top: var(--spacing-unit) !important;
    }
  }
  &.directionColumn.itemGutter {
    &:not(:empty) {
      margin-left: calc(-1 * var(--spacing-unit)) !important;
    }
    &.itemGutter > * {
      margin-left: var(--spacing-unit) !important;
    }
  }

  &:not(.directionColumn).halfItemGutter {
    &:not(:empty) {
      margin-top: calc(-0.5 * var(--spacing-unit)) !important;
    }
    & > * {
      margin-top: calc(0.5 * var(--spacing-unit)) !important;
    }
  }
  &.directionColumn.halfItemGutter {
    &:not(:empty) {
      margin-left: calc(-0.5 * var(--spacing-unit)) !important;
    }
    &.halfItemGutter > * {
      margin-left: calc(0.5 * var(--spacing-unit)) !important;
    }
  }

  &:not(.directionColumn).doubleItemGutter {
    &:not(:empty) {
      margin-top: calc(-2 * var(--spacing-unit)) !important;
    }
    & > * {
      margin-top: calc(2 * var(--spacing-unit)) !important;
    }
  }
  &.directionColumn.doubleItemGutter {
    &:not(:empty) {
      margin-left: calc(-2 * var(--spacing-unit)) !important;
    }
    &.doubleItemGutter > * {
      margin-left: calc(2 * var(--spacing-unit)) !important;
    }
  }

  &:not(.directionColumn).tripleItemGutter {
    &:not(:empty) {
      margin-top: calc(-3 * var(--spacing-unit)) !important;
    }
    & > * {
      margin-top: calc(3 * var(--spacing-unit)) !important;
    }
  }
  &.directionColumn.tripleItemGutter {
    &:not(:empty) {
      margin-left: calc(-3 * var(--spacing-unit)) !important;
    }
    &.tripleItemGutter > * {
      margin-left: calc(3 * var(--spacing-unit)) !important;
    }
  }
}

.justifyFlexStart {
  justify-content: flex-start;
}
.justifyFlexEnd {
  justify-content: flex-end;
}
.justifyCenter {
  justify-content: center;
}
.justifySpaceBetween {
  justify-content: space-between;
}
.justifySpaceAround {
  justify-content: space-around;
}
.justifySpaceEvenly {
  justify-content: space-evenly;
}

.alignFlexStart {
  align-items: flex-start;
}
.alignFlexEnd {
  align-items: flex-end;
}
.alignCenter {
  align-items: center;
}
.alignBaseline {
  align-items: baseline;
}
.alignStretch {
  align-items: stretch;
}

.directionRow {
  flex-direction: row;
}
.directionColumn {
  flex-direction: column;
}
.directionRowReverse {
  flex-direction: row-reverse;
}
.directionColumnReverse {
  flex-direction: column-reverse;
}
