.embedInput {
  width: 100%;
  display: block;
  outline: none;
  border: 1px solid rgba(0,0,0,.12);
  padding: 6px;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 5px auto;
  min-height: 175px;
  font-size: 14px;
  resize: none;
}

.copiedText {
  display: inline-block;
  color: #00796b;
  padding: 12px;
  font-size: 14px;
  float: right;
}

.copyButton {
  display: inline-block;
  width: 200px;
  float: right;
}

.actions {
  display: inline-block;
  width: 100%;
}
