.label {
  display: block;
}

.detailList {
  padding: 0;
  margin: 0;
}

.detailLabel {
  color: #000;
  font-size: 1.1em;
  font-weight: bold;
  display: block;
  margin-bottom: 6px; 
}

.detailValue {
  padding: 6px 0;
  border: solid 1px transparent;
  display: block;
  font-size: 1.1em;
  border-radius: 2px;
  color: #424242;
}

.editable {
  padding-left: 10px;
  padding-right: 10px;
  border-color: grey;
}

.detailItem {
  margin-bottom: 16px;
  list-style: none;
}

.button, .button:disabled {
  background: white;
  border: solid 1px grey;
}

.actionBox {
  position: absolute;
  right: 20px;
  top: 20px;
  text-align: center;
  width: 100px;
}

.cancelButton {
  padding: 10px;
  display: block;
  color: #4f5c67;
  font-weight: 500;
  
  &:hover {
    cursor: pointer;
  }
}

.changedSave {
  background-color: #00796B;
  color: white;
}