.card {
  margin-bottom: 20px;
  align-items: flex-start;
  min-height: 100px;
  max-width: 600px;
}

.header {
  margin-top: 3px;
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 500;
}

.wrapper {
  width: 100%;
}

.action {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.content {
  display: inline-block;
  padding: 0px 30px;
  box-sizing: border-box;
  width: 100%;
}

.enabledSetting {
  border-left-color: #00796b;
  border-left-style: solid;
  border-left-width: 7px;
}

.disabledSetting {
  padding-left: 22px;
}

.disabledSettingText {
  color: #ccc;
}

.configSettingInfoBox {
  min-height: 100px;
  margin-bottom: 20px;
  width: auto;
  height: auto;
  text-align: left;
  overflow: visible;
}

.descriptionBox {
  margin-top: 15px;

  input {
    height: 150px;
  }
}

.configTimeoutSelect {
  display: inline-block;
  margin-left: 20px;

  i { /* fix for firefox and react-mdl-selectfield@0.2.0 */
    padding: 20px 0;
    vertical-align: top;
  }
}



.hidden {
  display: none;
}

.inlineTextfield {
  border-color: #ccc;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  text-align: center;
  font-size: inherit;
}

.inlineTextfield:focus {
  outline: none;
}

.charCountTexfield, .editCommentTimeframeTextfield {
  width: 4em;
  padding: 0px;
}

.charCountTexfieldEnabled {
  border-color: #00796b;
}




