.root {
  font-family: var(--font-family-primary);
}

.reportsLink {
  padding: var(--spacing-3) var(--spacing-7);
}

.header {
  background-color: var(--palette-grey-200);
  padding: var(--spacing-3) var(--spacing-7);
  font-family: var(--font-family-secondary);

  .label {
    font-weight: var(--font-weight-secondary-bold);
  }
}

.label {
  font-size: var(--font-size-1);
  text-transform: uppercase;
}

.reportMain {
  background-color: var(--palette-grey-100);
  padding: var(--spacing-5) var(--spacing-7);
  width: 70%;

  .label {
    color: var(--palette-grey-500);
    font-weight: var(--font-weight-primary-semi-bold);
  }
}

.innerMain {
  background-color: var(--palette-background-body);
  padding: var(--spacing-6);
  flex-grow: 1;
}

.statusAndShare {
  margin-left: auto;
}

.reportDate {
  margin-left: auto;
}

.commentMain {
  flex-grow: 1;
}

.commentBox {
  border: 1px solid var(--palette-grey-300);
  padding: var(--spacing-3);
  margin-top: var(--spacing-1);
}

.commentContent {
  margin: var(--spacing-2) 0;
}

.commentUsernameButton {
  padding: 0 0 0 var(--spacing-1);

  span {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-primary-semi-bold);
    font-family: var(--font-family-primary);
  }
}

.edited {
  margin-left: var(--spacing-2);
}

.reportUsername {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-primary-regular);
  font-family: var(--font-family-primary);
}

.storyTitle {
  font-size: var(--font-size-2);
}

.reporterUsernameButton {
  justify-content: left;
  padding: 0;
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-primary-regular);
}

.data {
  color: var(--palette-grey-500);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-primary-regular);
  white-space: pre-wrap;
}
