.root {
  font-family: var(--font-family-primary);
}

.header {
  background-color: var(--palette-grey-200);
  padding: var(--spacing-3) var(--spacing-7);
  font-family: var(--font-family-secondary);

  .label {
    font-weight: var(--font-weight-secondary-bold);
  }
}

.label {
  font-size: var(--font-size-1);
  text-transform: uppercase;
}

.reportMain {
  background-color: var(--palette-grey-100);
  padding: var(--spacing-5) var(--spacing-7);
  flex-grow: 2;

  .label {
    color: var(--palette-grey-500);
    font-weight: var(--font-weight-primary-semi-bold);
  }
}

.innerMain {
  background-color: var(--palette-background-body);
  padding: var(--spacing-6);
  flex-grow: 1;
}

.reportDate {
  margin-left: auto;
}

.reportHistory {
  flex-grow: 1;
  padding: var(--spacing-6) var(--spacing-4);
}

.reporterUsernameButton {
  justify-content: left;
  padding: 0;
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-primary-regular);
}

.data {
  color: var(--palette-grey-500);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-primary-regular);
}
