$commentsBorder: var(--palette-grey-300);
$rteButtonActive: #ddd;

.root {
  position: relative;
}

.rteContainer {
  position: relative;
}

.commentFormBox {
  border: 1px solid $commentsBorder;
  border-radius: var(--round-corners);
  overflow: hidden;
}

.rteFocus {
  border: 1px solid var(--palette-grey-700);
}

.noTopBorder {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.icon {
  margin-right: 2px;
}

.content {
  max-height: 300px;
}

.chatContent {
  min-height: 0px;
  padding-right: 36px;
}

.chatSubmitButton {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 8px;
  padding-left: var(--spacing-1);
  padding-right: var(--spacing-1);
  padding-top: var(--spacing-1);
  padding-bottom: var(--spacing-1);
}

.expiredTime {}
.disabledMessage {}
.cancelButton {}
.submitButton {}
