.deleteButton {
  margin-left: auto;
}

.imagePreview {
  max-height: 30px;
}

.addButton {
  height: 34px;
}

.flairBadgeURLInput {
  margin-right: var(--spacing-3);
}

.urlTableCell {
  max-width: 250px;
  overflow-wrap: anywhere;
}

.emptyCustomFlairText {
  padding-left: var(--spacing-3);
}
