<html>
  <head>
    <title>{{ title }} - AMP</title>
    {%if section %}
      <meta data-rh="true" property="article:section" content="{{ section }}" />
    {% endif %}
  </head>
  <body>
    <amp-iframe
      width=600
      height=360
      layout="responsive"
      sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms"
      resizable
      src="{{ coralURL }}/embed/stream/amp?storyURL={{ url }}"
    >
      <div placeholder>Loading...</div>  
      <div overflow tabindex=0 role=button aria-label="Read more">Read more</div></amp-iframe>
  </body>
</html>