.rteContent {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

$commentsBorder: var(--v2-colors-grey-300);

.commentFormBox {
  border: 1px solid $commentsBorder;
  border-radius: var(--v2-round-corners);
}
