$commentsBorder: var(--palette-grey-300);

.rteContent {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.warnIcon {
  color: var(--palette-text-500);
}

.commentFormBox {
  border: 1px solid $commentsBorder;
  border-radius: var(--round-corners);
}
