$commentsReplyToBackground: var(--v2-colors-grey-500);
$commentsReplyToColor: var(--v2-colors-pure-white);
$commentsReplyToBorderColor: var(--v2-colors-grey-500);

.root {
  padding: calc(0.5 * var(--mini-unit));

  border-bottom: 0;
  border: 1px solid $commentsReplyToBorderColor;

  background-color: $commentsReplyToBackground;
  color: $commentsReplyToColor;

  border-top-left-radius: var(--v2-round-corners);
  border-top-right-radius: var(--v2-round-corners);
}

.text {
  color: $commentsReplyToColor;

  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-semi-bold);
  font-size: var(--v2-font-size-2);
  line-height: var(--v2-line-height-2);
}

.username {
  color: $commentsReplyToColor;

  font-family: var(--v2-font-family-secondary);
  font-weight: var(--v2-font-weight-secondary-bold);
  font-size: var(--v2-font-size-2);
  line-height: var(--v2-line-height-2);
}
