.heading {
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-semi-bold);
  font-size: var(--v2-font-size-4);
  line-height: var(--v2-line-height-5);

  color: var(--v2-colors-mono-500);

  margin-top: var(--v2-spacing-5);
  margin-bottom: var(--v2-spacing-3);
}

.configureItems {
  margin-bottom: var(--v2-spacing-4);
}

.footer {
  margin-bottom: var(--v2-spacing-6);
}

.footerWithMessage {
  margin-top: var(--v2-spacing-3);
  margin-bottom: var(--v2-spacing-6);
}
