.title {
  font-family: var(--font-family-primary);
  font-style: normal;
  font-weight: var(--font-weight-primary-regular);
  font-size: var(--font-size-3);
  line-height: 1.15rem;
  }

.details {
  margin-top: 2.5px;
  margin-left: 25px;
}
