.button {
  padding-top: var(--v2-spacing-1);
  padding-bottom: var(--v2-spacing-1);
}

.usernameEmail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.username {
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-semi-bold);
  font-size: var(--v2-font-size-3);
  line-height: var(--v2-line-height-5);

  color: var(--v2-colors-mono-500);

  margin-right: var(--v2-spacing-1);
}

.email {
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-regular);
  font-size: var(--v2-font-size-3);
  line-height: var(--v2-line-height-5);

  color: var(--v2-colors-mono-500);
}
