$searchButtonColor: rgb(101, 88, 245);

.searchRoot {
  position: relative;
  width: 65%;
}

.searchField {
  margin-right: var(--v2-spacing-1);
  width: 100%;
}

.searchButton {
  background-color: $searchButtonColor;
}

.expertList {
  padding-left: var(--v2-spacing-2);
  padding-right: var(--v2-spacing-1);
}
