.list {
  position: absolute;
  z-index: 99;

  width: 100%;
  max-height: 120px;
  overflow-y: auto;

  padding-left: 0;
  padding-right: 0;
  padding-top: var(--v2-spacing-1);

  margin-bottom: var(--v2-spacing-2);
}

.loadMore {
  margin-top: var(--v2-spacing-1);

  padding-top: var(--v2-spacing-1);
  padding-bottom: var(--v2-spacing-1);

  width: 100%;
}

.noneFound {
  width: 100%;
  padding-top: var(--v2-spacing-2);

  text-align: center;

  color: var(--palette-text-dark);
  font-size: calc(16rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-sans-serif);
  line-height: 1.375em;
  letter-spacing: 0.0125em;
}
