.root {
  margin-left: var(--v2-spacing-1);
  margin-bottom: var(--v2-spacing-1);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  max-width: 80%;
}

@media (min-width: 550px) {
  .usernameEmail {
    display: inline-block;

    width: calc(100% - 75px);
  }
}

@media (max-width: 549px) {
  .usernameEmail {
    display: inline-block;
  }
}

.username {
  display: inline-block;

  color: var(--palette-text-dark);
  font-size: calc(16rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-sans-serif);
  line-height: 1.375em;
  letter-spacing: 0.0125em;

  margin-right: var(--v2-spacing-1);
}

.email {
  display: inline-block;

  color: var(--palette-text-primary);
  font-size: calc(16rem / var(--rem-base));
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-sans-serif);
  line-height: 1.375em;
  letter-spacing: 0.0125em;
}

.username {
  display: inline-block;

  color: var(--palette-text-dark);
  font-size: calc(16rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-sans-serif);
  line-height: 1.375em;
  letter-spacing: 0.0125em;

  margin-right: var(--v2-spacing-1);
}

.email {
  display: inline-block;

  color: var(--palette-text-primary);
  font-size: calc(16rem / var(--rem-base));
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-sans-serif);
  line-height: 1.375em;
  letter-spacing: 0.0125em;
}

.username {
  display: inline-block;

  color: var(--palette-text-dark);
  font-size: calc(16rem / var(--rem-base));
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-sans-serif);
  line-height: 1.375em;
  letter-spacing: 0.0125em;

  margin-right: var(--v2-spacing-1);
}

.email {
  display: inline-block;

  color: var(--palette-text-primary);
  font-size: calc(16rem / var(--rem-base));
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-sans-serif);
  line-height: 1.375em;
  letter-spacing: 0.0125em;
}

.removeButton {
  padding: var(--v2-spacing-1);
  margin-right: 80px;
}
