.root {
  margin-top: var(--v2-spacing-2);
}

.dropdown {
  max-height: 15em;
  width: calc(20 * var(--mini-unit));
  overflow: auto;
}

.wrapper {
  overflow-x: hidden;
  /* adjust for button line-height being > 1 */
  margin-top: -2px;
}

.button {
  color: var(--v2-colors-mono-500) !important;
  border-width: 0;
  width: calc(20 * var(--mini-unit));
  margin-right: calc(var(--v2-spacing-1) / 2);
  font-size: var(--v2-font-size-3);
  line-height: var(--v2-line-height-min);
  justify-content: space-between;
}

.buttonIconLeft {
  width: 20px;
  margin-right: calc(var(--v2-spacing-1) / 2);
}

.buttonIconRight {
  width: 16px;
}

.buttonIconLeft,
.buttonIconRight {
  /* adjust for button line-height being > 1 */
  margin-top: -2px;
}

.buttonText {
  overflow-x: hidden;
  text-overflow: ellipsis;
}
