.Reply {
  position: relative;
  margin-bottom: 15px;
}

.Comment {
  margin-bottom: 15px;
  position: relative;
}

.pendingComment {
  filter: blur(2px);
  pointer-events: none;
}

.topRightMenu {
  float: right;
  text-align: right;
  cursor: pointer;
}

.topRightMenu > * {
  text-align: initial;
}
