.IgnoreUserWizard {
  background-color: #2E343B;
  color: white;
  padding: 1em;
  max-width: 220px;
}

.IgnoreUserWizard header {
  font-weight: bold;
}

.IgnoreUserWizard .textAlignRight {
  text-align: right;
}
