.tagIcon {
  margin-right: var(--v2-spacing-1);
}

.answeredTag {
  color: #03AB61;
  background: #E6FAF1;

  border-color: #03AB61;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;

  text-transform: uppercase;
}

.removeAnswered {
  width: 100%;
}
