$commenterActionEditColor: var(--v2-colors-stream-blue-500);
$commenterActionEditColorActive: var(--v2-colors-stream-blue-300);

.tagIcon {
  margin-right: var(--v2-spacing-1);
}

.answeredTag {
  color: #03AB61;
  background: #E6FAF1;

  border-color: #03AB61;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;

  text-transform: uppercase;
}

.removeAnswered {
  width: 100%;
}

.editButton {
  color: $commenterActionEditColor;
  &:hover,
  &.mouseHover {
    color: $commenterActionEditColorActive;
  }
  &:active,
  &.active {
    color: $commenterActionEditColorActive;
  }
}

.editIcon {
  margin-right: var(--v2-spacing-1);
}

.actionBar {
  min-width: 150px;
}

.actionButton {
  padding: var(--v2-spacing-1);
}
