.root {
}

.bordered {
  border-top: 1px solid var(--palette-divider);
  padding-top: var(--spacing-3)
}

.highlight {
  background-color: var(--palette-primary-lightest);
  padding: var(--mini-unit);
}
.subBar {
  margin-bottom: calc(0.5 * var(--mini-unit));
}
.footer:not(:empty) {
  margin-top: var(--mini-unit);
}
