$commentTimestampColor: var(--v2-colors-grey-500);

.root {
  flex: 1;
}

.highlight {
  background-color: var(--palette-primary-lightest);
  padding: var(--mini-unit);
}
.subBar {
  margin-bottom: calc(0.5 * var(--mini-unit));
}
.footer:not(:empty) {
  margin-top: var(--mini-unit);
}

.timestamp {
  font-family: var(--v2-font-family-primary);
  font-style: normal;
  font-weight: var(--v2-font-weight-primary-semi-bold);
  font-size: var(--v2-font-size-2);
  line-height: var(--v2-line-height-3);
  color: $commentTimestampColor;
}
