.root {
  composes: icon from "coral-ui/shared/icon.css";
  font-family: "Material Icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  letter-spacing: 0;
  word-break: initial;

  /* Enable Ligatures */
  font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-variant-ligatures: "discretionary-ligatures";

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xs {
  font-size: 10px;
  width: 10px;
}

.sm {
  font-size: 14px;
  width: 14px;
}
.md {
  font-size: 18px;
  width: 18px;
}
.lg {
  font-size: 24px;
  width: 24px;
}
.xl {
  font-size: 36px;
  width: 36px;
}

.colorPrimary {
  color: var(--palette-primary-main);
}
.colorError {
  color: var(--palette-error-main);
}

.colorSuccess {
  color: var(--palette-success-main);
}
