.base {
  border-radius: var(--v2-round-corners);

  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-bold);
}

.upperCase {
  text-transform: uppercase;
}

.textSizeMedium {
  font-size: var(--v2-font-size-2);
  line-height: var(--v2-line-height-3);
}

.marginSizeMedium {
  padding-left: var(--v2-spacing-3);
  padding-right: var(--v2-spacing-3);
  padding-top: var(--v2-spacing-2);
  padding-bottom: var(--v2-spacing-2);
}

.filled {
  border-style: solid;
  border-width: 1px;

  &.colorStreamBlue {
    color: var(--v2-colors-pure-white);

    &:not(.disabled),
    &:not(:disabled) {
      background-color: var(--v2-colors-stream-blue-500);
      border-color: var(--v2-colors-stream-blue-500);
    }

    &:hover, &.mouseHover {
      background-color: var(--v2-colors-stream-blue-600);
      border-color: var(--v2-colors-stream-blue-600);
    }
    &:active, &.active {
      background-color: var(--v2-colors-stream-blue-700);
      border-color: var(--v2-colors-stream-blue-700);
    }
    &.disabled {
      background-color: var(--v2-colors-stream-blue-200);
      border-color: var(--v2-colors-stream-blue-200);
    }
  }

  &.colorMono {
    color: var(--v2-colors-pure-white);

    &:not(.disabled),
    &:not(:disabled) {
      background-color: var(--v2-colors-grey-500);
      border-color: var(--v2-colors-grey-500);
    }

    &:hover, &.mouseHover {
      background-color: var(--v2-colors-grey-600);
      border-color: var(--v2-colors-grey-600);
    }
    &:active, &.active {
      background-color: var(--v2-colors-grey-700);
      border-color: var(--v2-colors-grey-700);
    }
    &.disabled {
      background-color: var(--v2-colors-grey-300);
      border-color: var(--v2-colors-grey-300);
    }
  }

  &.colorAlert {
    color: var(--v2-colors-pure-white);

    &:not(.disabled),
    &:not(:disabled) {
      background-color: var(--v2-colors-red-500);
      border-color: var(--v2-colors-red-500);
    }

    &:hover, &.mouseHover {
      background-color: var(--v2-colors-red-600);
      border-color: var(--v2-colors-red-600);
    }
    &:active, &.active {
      background-color: var(--v2-colors-red-700);
      border-color: var(--v2-colors-red-700);
    }
    &.disabled {
      background-color: var(--v2-colors-red-300);
      border-color: var(--v2-colors-red-300);
    }
  }
}

.outlined {
  &.colorStreamBlue {
    border-style: solid;
    border-width: 1px;

    &:not(.disabled),
    &:not(:disabled) {
      background-color: var(--v2-colors-pure-white);
      border-color: var(--v2-colors-stream-blue-500);
      color: var(--v2-colors-stream-blue-500);
    }

    &:hover, &.mouseHover {
      background-color: var(--v2-colors-stream-blue-500);
      border-color: var(--v2-colors-stream-blue-500);
      color: var(--v2-colors-pure-white);
    }
    &:active, &.active {
      background-color: var(--v2-colors-stream-blue-500);
      border-color: var(--v2-colors-stream-blue-500);
      color: var(--v2-colors-pure-white);
    }
    &.disabled {
      background-color: var(--v2-colors-pure-white);
      border-color: var(--v2-colors-stream-blue-200);
      color: var(--v2-colors-stream-blue-200);
    }
  }

  &.colorMono {
    border-style: solid;
    border-width: 1px;

    &:not(.disabled),
    &:not(:disabled) {
      background-color: var(--v2-colors-pure-white);
      border-color: var(--v2-colors-grey-500);
      color: var(--v2-colors-grey-500);
    }

    &:hover, &.mouseHover {
      background-color: var(--v2-colors-grey-500);
      border-color: var(--v2-colors-grey-500);
      color: var(--v2-colors-pure-white);
    }
    &:active, &.active {
      background-color: var(--v2-colors-grey-500);
      border-color: var(--v2-colors-grey-500);
      color: var(--v2-colors-pure-white);
    }
    &.disabled {
      background-color: var(--v2-colors-pure-white);
      border-color: var(--v2-colors-grey-300);
      color: var(--v2-colors-grey-300);
    }
  }

  &.colorAlert {
    border-style: solid;
    border-width: 1px;

    &:not(.disabled),
    &:not(:disabled) {
      background-color: var(--v2-colors-pure-white);
      border-color: var(--v2-colors-red-500);
      color: var(--v2-colors-red-500);
    }

    &:hover, &.mouseHover {
      background-color: var(--v2-colors-red-500);
      border-color: var(--v2-colors-red-500);
      color: var(--v2-colors-pure-white);
    }
    &:active, &.active {
      background-color: var(--v2-colors-red-500);
      border-color: var(--v2-colors-red-500);
      color: var(--v2-colors-pure-white);
    }
    &.disabled {
      background-color: var(--v2-colors-pure-white);
      border-color: var(--v2-colors-red-300);
      color: var(--v2-colors-red-300);
    }
  }
}

.text {
  background-color: transparent;

  &.colorStreamBlue {
    &:not(.disabled),
    &:not(:disabled) {
      color: var(--v2-colors-stream-blue-500);
    }

    &:hover, &.mouseHover {
      color: var(--v2-colors-stream-blue-600);
    }
    &:active, &.active {
      color: var(--v2-colors-stream-blue-700);
    }
    &.disabled {
      color: var(--v2-colors-grey-400);
    }
  }

  &.colorMono {
    &:not(.disabled),
    &:not(:disabled) {
      color: var(--v2-colors-grey-500);
    }

    &:hover, &.mouseHover {
      color: var(--v2-colors-grey-600);
    }
    &:active, &.active {
      color: var(--v2-colors-grey-700);
    }
    &.disabled {
      color: var(--v2-colors-grey-400);
    }
  }

  &.colorAlert {
    &:not(.disabled),
    &:not(:disabled) {
      color: var(--v2-colors-red-500);
    }

    &:hover, &.mouseHover {
      color: var(--v2-colors-red-600);
    }
    &:active, &.active {
      color: var(--v2-colors-red-700);
    }
    &.disabled {
      color: var(--v2-colors-grey-400);
    }
  }
}

.underline {
  text-decoration: underline;
}
