.content {
  composes: root from "talk-stream/shared/htmlContent.css";
}

.placeholder {
  composes: placeholder from "talk-ui/shared/typography.css";
  margin: var(--spacing-unit) 0 0 calc(1px + var(--spacing-unit));
}
