.content {
  composes: root from "talk-stream/shared/htmlContent.css";
  border: 1px solid var(--palette-grey-main);
}

.toolbar {
  background-color: var(--palette-common-white);
  border: 1px solid var(--palette-grey-main);
}

.placeholder {
  composes: placeholder from "talk-ui/shared/typography.css";
  margin: 10px 0 0 calc(10px);
}
