.root {
  width: 100%;
  padding-bottom: var(--spacing-unit);
}

.textarea {
  composes: bodyCopy from "talk-ui/shared/typography.css";
  display: block;
  height: 150px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: var(--spacing-unit);
  padding: var(--spacing-unit);
  border-radius: var(--round-corners);
  resize: vertical;
}

.postButtonContainer {
  display: flex;
  justify-content: flex-end;
}
