.root {
}

.textarea {
  composes: bodyCopy from "talk-ui/shared/typography.css";
  display: block;
  height: 150px;
  width: 100%;
  box-sizing: border-box;
  padding: var(--spacing-unit);
  border-radius: var(--round-corners);
  resize: vertical;
}
