/* Design tokens */

$button-default-outline-background: var(--v2-colors-pure-white);
$button-default-outline-foreground: var(--v2-colors-teal-600);
$button-default-outline-active: var(--v2-colors-teal-500);

$button-default-filled-background: var(--v2-colors-teal-600);
$button-default-filled-foreground: var(--v2-colors-pure-white);
$button-default-filled-hover: var(--v2-colors-teal-500);
$button-default-filled-active: var(--v2-colors-teal-400);

$button-alert-outline-background: var(--v2-colors-pure-white);
$button-alert-outline-foreground: var(--v2-colors-red-500);
$button-alert-outline-active: var(--v2-colors-red-400);

$button-alert-filled-background: var(--v2-colors-red-500);
$button-alert-filled-foreground: var(--v2-colors-pure-white);
$button-alert-filled-hover: var(--v2-colors-red-400);
$button-alert-filled-active: var(--v2-colors-red-300);

$button-emphasis-outline-background: var(--v2-colors-pure-white);
$button-emphasis-outline-foreground: var(--v2-colors-blue-500);
$button-emphasis-outline-active: var(--v2-colors-blue-400);

$button-emphasis-filled-background: var(--v2-colors-blue-500);
$button-emphasis-filled-foreground: var(--v2-colors-pure-white);
$button-emphasis-filled-hover: var(--v2-colors-blue-400);
$button-emphasis-filled-active: var(--v2-colors-blue-300);

$button-mono-outline-background: var(--v2-colors-pure-white);
$button-mono-outline-foreground: var(--v2-colors-grey-600);
$button-mono-outline-active: var(--v2-colors-grey-500);

$button-mono-filled-background: var(--v2-colors-grey-600);
$button-mono-filled-foreground: var(--v2-colors-pure-white);
$button-mono-filled-hover: var(--v2-colors-grey-500);
$button-mono-filled-active: var(--v2-colors-grey-400);

$button-adornment-foreground: var(--v2-colors-pure-white);

$button-adornment-default-background: var(--v2-colors-teal-600);
$button-adornment-alert-background: var(--v2-colors-red-500);
$button-adornment-emphasis-background: var(--v2-colors-blue-500);
$button-adornment-mono-background: var(--v2-colors-grey-600);

$button-adornment-default-hover: var(--v2-colors-teal-500);
$button-adornment-alert-hover: var(--v2-colors-red-400);
$button-adornment-emphasis-hover: var(--v2-colors-blue-400);
$button-adornment-mono-hover: var(--v2-colors-grey-400);

$button-adornment-default-active: var(--v2-colors-teal-400);
$button-adornment-alert-active: var(--v2-colors-red-300);
$button-adornment-emphasis-active: var(--v2-colors-blue-300);
$button-adornment-mono-active: var(--v2-colors-grey-300);

$button-ghost-default-foreground: var(--v2-colors-teal-600);
$button-ghost-alert-foreground: var(--v2-colors-red-500);
$button-ghost-emphasis-foreground: var(--v2-colors-blue-500);
$button-ghost-mono-foreground: var(--v2-colors-grey-600);

$button-ghost-active-foreground: var(--v2-colors-pure-white);

$button-underlined-default-foreground: var(--v2-colors-teal-600);
$button-underlined-alert-foreground: var(--v2-colors-red-500);
$button-underlined-emphasis-foreground: var(--v2-colors-blue-500);
$button-underlined-mono-foreground: var(--v2-colors-grey-600);

$button-underlined-default-hover: var(--v2-colors-teal-500);
$button-underlined-alert-hover: var(--v2-colors-red-400);
$button-underlined-emphasis-hover: var(--v2-colors-blue-400);
$button-underlined-mono-hover: var(--v2-colors-grey-500);

$button-underlined-default-active: var(--v2-colors-teal-400);
$button-underlined-alert-active: var(--v2-colors-red-300);
$button-underlined-emphasis-active: var(--v2-colors-blue-300);
$button-underlined-mono-active: var(--v2-colors-grey-400);

/* Class Definitions */

.root {
  border-radius: var(--v2-round-corners);
  background-color: transparent;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 0px solid transparent;

  & > * {
    margin: 0 var(--v2-spacing-1) 0 0;
    /* convince safari */
    align-self: center;
  }
  & > *:last-child {
    margin: 0;
  }
}

.uppercase {
  text-transform: uppercase;
}

.root.disabled {
  opacity: 0.4;
  cursor: default;
}

.fullWidth {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.sizeSmall {
  color: $button-default-outline-foreground;
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-bold);
  font-size: var(--v2-font-size-2);
  line-height: 1;

  padding: var(--v2-spacing-1);
}

.sizeMedium {
  color: $button-default-outline-foreground;
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-semi-bold);
  font-size: var(--v2-font-size-2);
  line-height: 1.28;

  padding: var(--v2-spacing-3) var(--v2-spacing-5);
}

.sizeLarge {
  color: $button-default-outline-foreground;
  font-family: var(--v2-font-family-primary);
  font-weight: var(--v2-font-weight-primary-semi-bold);
  font-size: var(--v2-line-height-reset);
  line-height: 1.25;

  padding: var(--v2-spacing-4) var(--v2-spacing-6);
}

.variantDefault,
.variantPlain {
  &.colorDefault {
    color: $button-default-outline-foreground;
  }
  &.colorAlert {
    color: $button-alert-outline-foreground;
  }
  &.colorEmphasis {
    color: $button-emphasis-outline-foreground;
  }
  &.colorMono {
    color: $button-mono-outline-foreground;
  }
}

.variantDefault {
  border-width: 1px;
  &.colorDefault {
    border-color: $button-default-outline-foreground;
    background-color: $button-default-outline-background;
  }
  &.colorAlert {
    border-color: $button-alert-outline-foreground;
    background-color: $button-alert-outline-background;
  }
  &.colorEmphasis {
    border-color: $button-emphasis-outline-foreground;
    background-color: $button-emphasis-outline-background;
  }
  &.colorMono {
    border-color: $button-mono-outline-foreground;
    background-color: $button-mono-outline-background;
  }

  &:not(.disabled) {
    &.colorDefault {
      &.mouseHover {
        background-color: $button-default-outline-foreground;
        color: $button-default-outline-background;
      }
      &:active,
      &.active {
        color: $button-default-outline-background;
        border-color: $button-default-outline-active;
        background-color: $button-default-outline-active;
      }
    }
    &.colorAlert {
      &.mouseHover {
        color: $button-alert-outline-background;
        background-color: $button-alert-outline-foreground;
      }
      &:active,
      &.active {
        color: $button-alert-outline-background;
        border-color: $button-alert-outline-active;
        background-color: $button-alert-outline-active;
      }
    }
    &.colorEmphasis {
      &.mouseHover {
        color: $button-emphasis-outline-background;
        background-color: $button-emphasis-outline-foreground;
      }
      &:active,
      &.active {
        border-color: $button-emphasis-outline-active;
        background-color: $button-emphasis-outline-active;
        color: $button-emphasis-outline-background;
      }
    }
    &.colorMono {
      &.mouseHover {
        background-color: $button-mono-outline-foreground;
        color: $button-mono-outline-background;
      }
      &:active,
      &.active {
        border-color: $button-mono-outline-active;
        background-color: $button-mono-outline-active;
        color: $button-mono-outline-background;
      }
    }
  }
}

.variantPlain {
  padding: 0;
}

.variantFilled {
  border-width: 1px;

  &.colorDefault {
    border-color: $button-default-filled-background;
    color: $button-default-filled-foreground;
    background-color: $button-default-filled-background;
  }
  &.colorAlert {
    border-color: $button-alert-filled-background;
    color: $button-alert-filled-foreground;
    background-color: $button-alert-filled-background;
  }
  &.colorEmphasis {
    border-color: $button-emphasis-filled-background;
    color: $button-emphasis-filled-foreground;
    background-color: $button-emphasis-filled-background;
  }
  &.colorMono {
    border-color: $button-mono-filled-background;
    color: $button-mono-filled-foreground;
    background-color: $button-mono-filled-background;
  }

  &:not(.disabled) {
    &.colorDefault {
      &.mouseHover {
        border-color: $button-default-filled-hover;
        color: $button-default-filled-foreground;
        background-color: $button-default-filled-hover;
      }
      &:active,
      &.active {
        border-color: $button-default-filled-active;
        color: $button-default-filled-foreground;
        background-color: $button-default-filled-active;
      }
    }
    &.colorAlert {
      &.mouseHover {
        border-color: $button-alert-filled-hover;
        color: $button-alert-filled-foreground;
        background-color: $button-alert-filled-hover;
      }
      &:active,
      &.active {
        border-color: $button-alert-filled-active;
        color: $button-alert-filled-foreground;
        background-color: $button-alert-filled-active;
      }
    }
    &.colorEmphasis {
      &.mouseHover {
        border-color: $button-emphasis-filled-hover;
        color: $button-emphasis-filled-foreground;
        background-color: $button-emphasis-filled-hover;
      }
      &:active,
      &.active {
        border-color: $button-emphasis-filled-active;
        color: $button-emphasis-filled-foreground;
        background-color: $button-emphasis-filled-active;
      }
    }
    &.colorMono {
      &.mouseHover {
        border-color: $button-mono-filled-hover;
        color: $button-mono-filled-foreground;
        background-color: $button-mono-filled-hover;
      }
      &:active,
      &.active {
        border-color: $button-mono-filled-active;
        color: $button-mono-filled-foreground;
        background-color: $button-mono-filled-active;
      }
    }
  }
}

.variantAdornment {
  color: $button-adornment-foreground;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  &.colorDefault {
    background-color: $button-adornment-default-background;
    border-color: $button-adornment-default-background;
  }
  &.colorAlert {
    background-color: $button-adornment-alert-background;
    border-color: $button-adornment-alert-background;
  }
  &.colorEmphasis {
    background-color: $button-adornment-emphasis-background;
    border-color: $button-adornment-emphasis-background;
  }
  &.colorMono {
    background-color: $button-adornment-mono-background;
    border-color: $button-adornment-mono-background;
  }

  &:not(.disabled) {
    &.colorDefault {
      &.mouseHover {
        background-color: $button-adornment-default-hover;
        border-color: $button-adornment-default-hover;
      }
      &:active,
      &.active {
        background-color: $button-adornment-default-active;
        border-color: $button-adornment-default-active;
      }
    }
    &.colorAlert {
      &.mouseHover {
        background-color: $button-adornment-alert-hover;
        border-color: $button-adornment-alert-hover;
      }
      &:active,
      &.active {
        background-color: $button-adornment-alert-active;
        border-color: $button-adornment-alert-active;
      }
    }
    &.colorEmphasis {
      &.mouseHover {
        background-color: $button-adornment-emphasis-hover;
        border-color: $button-adornment-emphasis-hover;
      }
      &:active,
      &.active {
        background-color: $button-adornment-emphasis-active;
        border-color: $button-adornment-emphasis-active;
      }
    }
    &.colorMono {
      &.mouseHover {
        background-color: $button-adornment-mono-hover;
        border-color: $button-adornment-mono-hover;
      }
      &:active,
      &.active {
        background-color: $button-adornment-mono-active;
        border-color: $button-adornment-mono-active;
      }
    }
  }
}

.variantGhost {
  border: 1px solid transparent;

  &.colorDefault {
    color: $button-ghost-default-foreground;
  }
  &.colorAlert {
    color: $button-ghost-alert-foreground;
  }
  &.colorEmphasis {
    color: $button-ghost-emphasis-foreground;
  }
  &.colorMono {
    color: $button-ghost-mono-foreground;
  }

  &:not(.disabled) {
    &.colorDefault {
      &.mouseHover {
        border: 1px solid currentColor;
      }
      &:active,
      &.active {
        border: 1px solid currentColor;
        color: $button-ghost-active-foreground;
        background-color: $button-ghost-default-foreground;
      }
    }
    &.colorAlert {
      &.mouseHover {
        border: 1px solid currentColor;
      }
      &:active,
      &.active {
        border: 1px solid currentColor;
        color: $button-ghost-active-foreground;
        background-color: $button-ghost-alert-foreground;
      }
    }
    &.colorEmphasis {
      &.mouseHover {
        border: 1px solid currentColor;
      }
      &:active,
      &.active {
        border: 1px solid currentColor;
        color: $button-ghost-active-foreground;
        background-color: $button-ghost-emphasis-foreground;
      }
    }
    &.colorMono {
      &.mouseHover {
        border: 1px solid currentColor;
      }
      &:active,
      &.active {
        border: 1px solid currentColor;
        color: $button-ghost-active-foreground;
        background-color: $button-ghost-mono-foreground;
      }
    }
  }
}

.variantUnderlined {
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 0;
  border-bottom: 1px solid currentColor;
  padding: 0;

  &.colorDefault {
    color: $button-underlined-default-foreground;
  }
  &.colorAlert {
    color: $button-underlined-alert-foreground;
  }
  &.colorEmphasis {
    color: $button-underlined-emphasis-foreground;
  }
  &.colorMono {
    color: $button-underlined-mono-foreground;
  }

  &:not(.disabled) {
    &.colorDefault {
      &.mouseHover {
        color: $button-underlined-default-hover;
      }
      &:active,
      &.active {
        color: $button-underlined-default-active;
      }
    }
    &.colorAlert {
      &.mouseHover {
        color: $button-underlined-alert-hover;
      }
      &:active,
      &.active {
        color: $button-underlined-alert-active;
      }
    }
    &.colorEmphasis {
      &.mouseHover {
        color: $button-underlined-emphasis-hover;
      }
      &:active,
      &.active {
        color: $button-underlined-emphasis-active;
      }
    }
    &.colorMono {
      &.mouseHover {
        color: $button-underlined-mono-hover;
      }
      &:active,
      &.active {
        color: $button-underlined-mono-active;
      }
    }
  }
}
