.root {
  color: var(--v2-colors-mono-100);
  font-size: var(--v2-font-size-2);
  line-height: var(--v2-line-height-reset);
  font-weight: var(--v2-font-weight-primary-regular);
  font-family: var(--v2-font-family-primary);
}
