.link {
  composes: sideNavigationItem from "talk-ui/shared/typography.css";
  display: inline-block;
  padding: calc(0.5 * var(--spacing-unit)) var(--spacing-unit)
    calc(0.5 * var(--spacing-unit)) calc(var(--spacing-unit) + 2px);
  margin-left: 2px;
  border-left: 1px solid var(--palette-grey-lighter);

  &:hover {
    cursor: pointer;
  }
}

.linkActive {
  composes: sideNavigationActive from "talk-ui/shared/typography.css";
  margin-left: 0px;
  border-left: calc(0.5 * var(--spacing-unit)) solid var(--palette-brand-main);
  padding-left: var(--spacing-unit);
}
